.title-border {
    h2 {
        display: inline-block;
        position: relative;
        padding: 0 0 10px 0;
        font-weight: 500;
        text-transform: uppercase;

        &::before {
            content: "";
            position: absolute;
            width: 60px;
            height: 1px;
            bottom: 0;
            border-bottom: 1px solid $green;
        }
    }
}

.text-format {
    color: #8B8B8B;
    font-size: 0.9em;
    margin-bottom: 3em;

    p {
        margin: 20px 0;
        line-height: 1.7;
    }
    ul {
        list-style: none;
        padding-left: 30px;

        li::before {
            content: "-";
            padding-right: 5px;
        }
    }
}

.card-image-background {
    position: relative;
    margin: 2em 0 8em 0;
    .card {
        position: absolute;
        width: 350px;
        left: 50px;
        bottom: -53px;
        border-bottom: 4px solid $green;
        background-color: $white;
        box-shadow: 1px 0px 20px 9px rgba(146, 146, 146, 0.12), 9px -14px 12px 14px rgba(10, 10, 10, 0);
        max-width: 100%;
        opacity: 0.9;

        .card-content {
            font-size: 0.8em;
            line-height: 1.5;

            .card-title {
                h2 {
                    font-size: 1.3em;
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }
            .card-subtitle {
                h3 {
                    color: #13BC61;
                    font-weight: 500;
                }
            }

            p {
                margin: 10px 0;
                color: #8B8B8B;
            }
        }
    } 
}

.component-5050 {
    .left-side,
    .right-side {
        width: 100%;
        @include breakpoint($medium) {
            width: 50%;
        }
    }
    .left-side {

        @include breakpoint($medium) {
            padding-right: 10px;
        }
    }
    .right-side {

        @include breakpoint($medium) {
            padding-left: 10px;
        }

        .hero > .hero-body > .container {
            width: auto;
        }
    }
}

.icon-text {
    margin: 10px 0;

    .icon-circle {
        background: $green;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: $white;

        i.fa {
            font-size: 1.3em;
        }
    }
    .icon-content {
        line-height: 1.7;
        padding: 0 50px 0 0;

        .icon-title {
            h3 {
                font-size: 0.9em;
                text-transform: uppercase;
                font-weight: 500;
            }
        }
        .icon-text {
            p {
                font-size: 0.8em;
                color: #8B8B8B;
            }
        }
    }
}
