footer.footer {
    flex-shrink: 0;
    width: 100%;
    border-top: 25px solid #00B250;
    padding-top: 40px;
    padding-bottom: 60px;
    background: url(/themes/coop003/images/footer-image-background.png) no-repeat scroll center center/cover;
    
    .grid-3 {
        .block-1 {
            vertical-align: top;
            display: inline-block;
            // width: 30%;
            .footer-logo {
                width: 90%;
                img {
                    width: 65%;
                }
            }
            .footer-use-terms {
                margin-top: 40px;

                h2 {
                    color: $white;
                    font-weight: 600;
                    font-size: 17px;
                    margin-bottom: 15px;
                }
                ul {

                    li {
                        margin-bottom: 15px;

                        a {
                            color: #A3AAB3;
                            text-decoration: none;
                            font-size: 17px;
                        }
                    }
                }
            }
            .footer-nav {
                h2 {
                    color: $white;
                    font-weight: 600;
                    font-size: 17px;
                    margin-bottom: 20px;
                }
                ul {

                    li {
                        margin-bottom: 15px;

                        a {
                            color: #A3AAB3;
                            text-decoration: none;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
        .block-2 {
            display: inline-block;
            // width: 37%;
            vertical-align: top;
            
            .footer-social-network {
                h2 {
                    color: $white;
                    font-weight: 600;
                    font-size: 17px;
                }
                ul {
                    margin-top: 20px;
                    li {
                        display: inline-block;
                        margin-right: 10px;
                        a {
                            color: #ffffff;

                            .fa {
                                height: 38px;
                                width: 38px;
                                border-radius: 3px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            .fa-facebook {
                                background-color: #3d5b99;
                            }
                            .fa-twitter {
                                background-color: #00aced;
                            }
                            .fa-vimeo {
                                background-color: #3990BB;
                            }
                            .fa-google-plus {
                                background-color: #e25714;
                            }
                            .fa-instagram {
                                background-color: #AC2A90;
                            }
                        }
                        
                    }
                }
            }
        }
    }
    .footer-copy {
        margin-top: 25px;

        p {
            color: #A3AAB3;
            font-size: 0.8em;
            font-weight: 500;

            @include breakpoint($large) {
                font-size: 17px;
            }
        }
    }
}