header.header {
    flex-shrink: 0;

    .sub-header-top {
        display: none;
        position: relative;
        height: 40px;
        background-color: $green;

        .nav-top {
            ul {
                float: right;

                li {
                    display: inline-block;
                    border-right: 1px solid #76d26b;
                    padding: 0 10px;

                    a {
                        color: $white;
                        text-decoration: none;
                        font-weight: 600;
                        text-transform: uppercase;
                        font-size: 12px;
                    }

                    &:last-child {
                        border-right: none;
                        padding-right: 0;
                    }
                }
            }
        }

        @include breakpoint($small) {
            display: flex;
            align-items: center;
        }
    }
    .user-logout {
        float: right;
        display: inline-flex;
        padding-top: 10px;

        p {
            color: gray;
        }
    }
    .main-header {
        padding: 20px 0;

        .navbar-brand {
            padding: 0 15px;
            margin-left: 0;

            .navbar-burger {
                height: 2.25rem;
            }

            @include breakpoint($large) {
                width: 35%;
            }
            @include breakpoint($xlarge) {
                width: 40%;
                padding: 0;
            }
        }
        .logo-desktop {
            display: inline-block;
            width: 30%;
            img {
                width: 100%;
            }
        }
        .navbar-menu {
            .navbar-end {
                .navbar-item {
                    @include breakpoint($large) {
                        top: -5px;
                    }
                }
            }
            ul {
                padding: 10px 0;
                li {
                    a {
                        color: #000000;
                        text-decoration: none;
                        font-size: 0.8em;
                        font-weight: 600;
                        text-transform: uppercase;
                        font-stretch: condensed;
                        @include breakpoint($large) {
                            font-size: 0.6em;
                        }
                        @include breakpoint($xlarge) {
                            font-size: 0.8em;
                        }
                    }
                }
                @include breakpoint($large) {
                    padding: 5px 0;
                    display: inline-flex;
                }
                @include breakpoint($xlarge) {
                    padding: 10px 0;
                }
            }

            .top-navigation-menu-mobile {
                background-color: $lightgrey;

                @include breakpoint($small) {
                    display: none;
                }
            }
        }
        .nav-main {
            display: inline-block;
            padding: 10px 0;
            width: 47%;
            margin-left: 4%;
            ul {
                list-style: none;
                text-align: -webkit-right;
                padding: 0;
                margin: 0;
                li {
                    display: table-cell;
                    vertical-align: middle;
                    padding: 0 10px;

                    a {
                        color: #000000;
                        text-decoration: none;
                        font-size: 0.8em;
                        font-weight: 600;
                        text-transform: uppercase;
                        font-stretch: condensed;
                    }
                }
            }
        }

        .signin-account {
            display: inline-block;

            a.button {
                    background-color: #4CAF50;
                    border: none;
                    color: white;
                    padding: 5px 30px;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 0.8em;
                    font-weight: 600;
                    font-stretch: condensed;
                    border-radius: 5px;
                    cursor: pointer;

                    @include breakpoint($large) {
                        padding: 5px 25px;
                        font-size: 0.6em;
                    }

                    @include breakpoint($xlarge) {
                        padding: 5px 10px;
                        font-size: 0.8em;
                    }
            }
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;

            .navbar-brand {
                flex-grow: 1;
                align-items: center;
                flex-shrink: 1;
            }

            .navbar-menu {

                .navbar-start {
                    align-items: center;

                    ul > li > a {
                        font-weight: 600;
                        font-size: 13px;
                    }

                    .navbar-item.has-dropdown {
                        text-transform: uppercase;
                        font-size: 13px;
                        font-weight: 600;

                        &:hover {

                            .navbar-link {
                                background-color: $green;
                                border-radius: 5px;

                                &:after {
                                    color: #A2EFDD;
                                }
                            }
                        }

                        @include breakpoint(1088px) {
                            background-color: $green;
                            border-radius: 5px;
                        }

                        .navbar-link {
                            display: none;
                            color: $white;
                            font-size: inherit;
                            font-weight: inherit;

                            @include breakpoint(1088px) {
                                display: block;
                            }

                            &:after {
                                border: none;
                                content: "\f103";
                                font-family: "FontAwesome";
                                transform: none;
                                top: 40%;
                                right: 12px;
                                font-size: 18px;
                            }
                        }

                        .navbar-dropdown {

                            a {
                                color: $black;
                                font-size: inherit;
                                font-weight: inherit;
                                padding: 0.5rem 0.75rem;

                                @include breakpoint(1088px) {
                                    padding-left: 1.5rem;
                                    padding-right: 1.5rem;
                                }
                            }
                        }
                    }
                }

                .navbar-end {
                    text-transform: uppercase;

                    .navbar-item {
                        top: 0;
                        padding: 0;
                        margin: 0;
                    }

                    .signin-account {

                        a {
                            font-weight: 600;
                            background-color: $green;
                            font-size: 13px;
                            padding: 12px 15px;
                            height: auto;

                            .fa {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}