.field.field--name-field-hero {
    margin-bottom: 0;
}

.hero {
    height: 400px;
    z-index: 0;
    position: relative;

    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: $green;
        opacity: 0.5;
        z-index: 1;
    }

    .hero-body {
        z-index: 2;
        display: flex;
        align-items: center;

        @include breakpoint($small) {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }

        .container {
            margin: 0;

            @include breakpoint(1088px) {
                margin: 0 auto;
            }
        }

        h1.title {
            color: $white;
            text-transform: uppercase;
        }

        .breadcrumb-container {
            margin-bottom: 20px;

            ul {

                li {
                    display: inline-block;
                    color: $white;
                    font-weight: 500;
                    font-size: 13px;

                    a {
                        text-decoration: none;
                        color: $white;
                        font-weight: 500;
                        font-size: 13px;

                        &:after {
                            font-family: "FontAwesome";
                            content: "\f105";
                            margin: 0 0 0 8px;
                        }
                    }
                }
            }
        }
    }
}
