.paragraph--type--slider-values {

  .background-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 70px 40px;
    position: relative;
    display: block;

    .content-container {
      z-index: 1;
      position: relative;
      display: block;

      .subtitle-container {
        @include subtitle;
        color: $white;
      }
    }
  }
}