<section class="hero is-medium" 
    style="{% if hero.background_image != '/' %}  background: url({{ hero.background_image }}) no-repeat scroll center center/cover; {% else %} background-color:{{ hero.background_color }}; {% endif %}">
  {% if (show_overlay == "1") %}
    <div class="overlay"></div>
  {% endif %}
  <div class="hero-body">
    <div class="container">
      <div class="breadcrumb-container">
        <ul>
          <li><a href="/" class="">Inicio</a></li>
          <li>{{ breadcrumb_type }}</li>
          <li>{{ hero.title_hero }}</li>
        </ul>
      </div>
      <h1 class="title is-3"
        {% if hero.title_color != '' %} style="color:{{ hero.title_color }};" {% endif %}>
        {{ hero.title_hero }}
      </h1>
    </div>
  </div>
</section>