{#
/**
* @file
* Theme override for a node edit form.
*
* Two column template for the node add/edit form.
*
* This template will be used when a node edit form specifies 'node_edit_form'
* as its #theme callback.  Otherwise, by default, node add/edit forms will be
* themed by form.html.twig.
*
* Available variables:
* - form: The node add/edit form.
*
* @see seven_form_node_form_alter()
*/
#}
<div class="layout-node-form clearfix">
    <div class="layout-region layout-region-node-main">
{{ form|without('advanced', 'footer', 'actions') }}
</div>
<div class="layout-region layout-region-node-secondary">
    {% if revisionmsg is not empty %}
        <div class="messages messages--error">
            <h4>Comentarios de AIG:</h4>
            {{ revisionmsg|raw }}
        </div>
    {% endif %}
    {{ form.advanced }}
    {{ form.footer }}
    {{ form.actions }}

</div>
<div class="layout-region layout-region-node-footer">
    <div class="layout-region-node-footer__content">
    </div>
</div>
</div>
