{#
/**
 * @file
 * Figures custom block.
 */
#}
<div class="flip-cards-container">

  <div class="flip-card">
    <div class="flip-card-inner">
      
      <div class="flip-card-front color-cadet-blue">
        <div class="icon-container color-victoria">
          <span class="icon document"></span>
        </div>
        <div class="info-container">
          <h3 class="number">{{ procedures['count']|number_format(0, ',', '.') }}</h3>
          <h3 class="name">{{ "registered procedures" | t }}</h3>
        </div>
      </div>
      
      <div class="flip-card-back color-cadet-blue">
        <h3 class="name">{{ "registered procedures" | t }}</h3>
        <p class="description">{{ procedures['description'] }}</p>
        <a href="" class="link">link</a>
      </div>

    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      
      <div class="flip-card-front color-calico">
        <div class="icon-container color-sandy-brown">
          <span class="icon hotel"></span>
        </div>
        <div class="info-container">
          <h3 class="number">{{ institutions['count']|number_format(0, ',', '.') }}</h3>
          <h3 class="name">{{ "registered institutions" | t }}</h3>
        </div>
      </div>
      
      <div class="flip-card-back color-calico">
        <h3 class="name">{{ "registered institutions" | t }}</h3>
        <p class="description">{{ institutions['description'] }}</p>
        <a href="" class="link">link</a>
      </div>

    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      
      <div class="flip-card-front color-verdigris">
        <div class="icon-container color-elm">
          <span class="icon tap"></span>
        </div>
        <div class="info-container">
          <h3 class="number">{{ onlineProcedures['count']|number_format(0, ',', '.') }}</h3>
          <h3 class="name">{{ "available online procedures" | t }}</h3>
        </div>
      </div>
      
      <div class="flip-card-back color-verdigris">
        <h3 class="name">{{ "available online procedures" | t }}</h3>
        <p class="description">{{ onlineProcedures['description'] }}</p>
        <a href="" class="link">link</a>
      </div>

    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      
      <div class="flip-card-front color-rose-bud">
        <div class="icon-container color-copper">
          <span class="icon online-services"></span>
        </div>
        <div class="info-container">
          <h3 class="number">{{ onlineServices['count']|number_format(0, ',', '.') }}</h3>
          <h3 class="name">{{ "online services" | t }}</h3>
        </div>
      </div>
      
      <div class="flip-card-back color-rose-bud">
        <h3 class="name">{{ "online services" | t }}</h3>
        <p class="description">{{ onlineServices['description'] }}</p>
        <a href="" class="link">link</a>
      </div>

    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      
      <div class="flip-card-front color-spray">
        <div class="icon-container color-chatams-blue">
          <span class="icon municipio-provincia"></span>
        </div>
        <div class="info-container">
          <h3 class="number">{{ municipalities['count']|number_format(0, ',', '.') }}</h3>
          <h3 class="name">{{ "registered municipalities" | t }}</h3>
        </div>
      </div>
      
      <div class="flip-card-back color-spray">
        <h3 class="name">{{ "registered municipalities" | t }}</h3>
        <p class="description">{{ municipalities['description'] }}</p>
        <a href="" class="link">link</a>
      </div>

    </div>
  </div>

</div>