<h3>{{vm.form.title | translate}}</h3>
<form novalidate class="css-form form-horizontal caldeyro-form" role="form" name="form">
  <div ng-repeat="(key, field) in vm.form.field">
    <div class="form-group" ng-if="field.type == 'textfield' || field.type == 'email' || field.type == 'number'  ">
      <div class="col-sm-12">
        <!-- <label>
          <span ng-bind="field.name"></span>
          <span class="field-required"ng-if="field.mandatory == '1'">*</span>
        </label> -->
        
        <input name="{{field.form_key}}" type="{{field.type}}" class="form-control" ng-model="field.value" min="field.min" max="field.max" placeholder="{{field.name | translate}}" ng-required="field.mandatory == '1'">
        </input>
        <div class="field-required" ng-if="form[field.form_key].$error.email && form[field.name].$touched" translate="FIELD_INVALID_EMAIL_ERROR">
        </div>
        <div class="field-required" ng-if="form[field.form_key].$error.required && form[field.name].$touched" translate="FIELD_REQUIRED">
        </div>
      </div>
    </div>
    <div class="form-group" ng-if="field.type == 'textarea' ">
      <div class="col-sm-12">
        <!-- <label>
          <span ng-bind="field.name"></span>
          <span class="field-required" ng-if="field.mandatory == '1'">*</span>
        </label> -->
        <textarea name="{{field.form_key}}" class="form-control" ng-model="field.value" placeholder="{{field.name | translate}}" ng-required="field.mandatory == '1'">
        </textarea>
        <div class="field-required" ng-if="form[field.form_key].$error.required && form[field.name].$touched" translate="FIELD_REQUIRED">
        </div>
      </div>
    </div>
    <div class="form-group" ng-if="field.type == 'select'">
      <div class="col-sm-12">
        <!-- <label>
          <span ng-bind="field.name"></span>
          <span class="field-required"ng-if="field.req">*</span>
        </label> -->
        <select name="{{field.form_key}}" class="form-control" ng-options="value as label for (value, label) in field.extra.items" ng-model="field.value" ng-required="field.mandatory == '1'">
        </select>
        <div class="field-required" ng-if="form[field.form_key].$error.required && form[field.name].$touched" translate="FIELD_REQUIRED">
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="form-group" ng-if="field.type === 'checkbox' ">
      <div class="col-sm-12">
        <!-- <label>
            <span translate="{{field.label}}"></span>
            <span class="field-required"ng-if="field.req">*</span>
          </label> -->
        <input type="checkbox" name="{{field.name}}" ng-model="field.value" ng-required="field.req"></div>
      <div class="field-required" ng-if="form[field.name].$error.required && form[field.name].$touched" translate="FIELD_REQUIRED"></div>
    </div>
  </div>
    <input name="propertyref" type="hidden" class="form-control" ng-model="vm.honey" >
    </input>
  </div>
  <div class="form-group">
    <!--<div vc-recaptcha ng-model="vm.captchaResponse" theme="light" size="normal" class="form-recaptcha" type="'image'" key="'6LdLoQgUAAAAAOOxopRnNHhNvVPLohFT4IhSsEQW'">
    </div>-->
    <math-captcha validate="vm.validate"></math-captcha>
  </div>
  <button ng-disabled="!vm.validate || !form.$valid" class="btn btn-success" translate="SEND" ng-click="vm.sendForm()">
  </button>
</form>