<div class="col-sm-12">
  <h4> <span translate="MATH_QUESTION" ></span> * </h4>
  
  <div class="col-sm-6" >
      <input
        type="number"
        class="form-control"
        ng-model="vm.result"
        placeholder="{{vm.first}} + {{vm.second}}" ></input>
  </div>
  <div class="col-sm-6" >
      <button
        class="btn btn-default"
        translate="RESET"
        ng-click="vm.reset()"></button>
  </div>
  <div class='col-sm-12'>
    <p translate="SOLVE_THIS"></p>
  </div>
  <div class="clearfix"></div>
</div>
