{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {% set aux = cycle(['odd', 'even'], loop.index0) %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
      "columns", "is-gapless", aux,
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    <div class="column">
      {% if (aux == 'odd') %}
        <div class="image-container">
          {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_promotion_list_image }}'] }}
        </div>
      {% else %}
        <div class="content-container">
          <h3 class="title is-4 text-uppercase">
            {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ title }}'] }}
          </h3>
          <div class="description-container">
            {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_description }}'] }}
          </div>
          <div class="button-container">
            <a href="/formulario-contacto" class="button">pedir informacion</a>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="column">
      {% if (aux == 'odd') %}
        <div class="content-container">
          <h3 class="title is-4 text-uppercase">
            {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ title }}'] }}
          </h3>
          <div class="description-container">
            {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_description }}'] }}
          </div>
          <div class="button-container">
            <a href="/formulario-contacto" class="button">pedir informacion</a>
          </div>
        </div>
      {% else %}
        <div class="image-container">
          {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_promotion_list_image }}'] }}
        </div>
      {% endif %}
    </div>
  </div>
{% endfor %}
