<div class="police-record-result-container">

  <h2 class="title">{{ 'Certificate found' }}</h3>

  <div class="info-container">

    {% if name is not empty %}
      <div class="info-item">
        <label class="label">{{ 'Police record issued to' | t }}:</label>
        <span class="value">{{ name }}</span>
      </div>
    {% endif %}

    {% if request_number is not empty %}
      <div class="info-item">
        <label class="label">{{ 'Request Number' | t }}:</label>
        <span class="value">{{ request_number }}</span>
      </div>
    {% endif %}

    {% if unique_code is not empty %}
      <div class="info-item">
        <label class="label">{{ 'Unique Code' | t }}:</label>
        <span class="value">{{ unique_code }}</span>
      </div>
    {% endif %}

    {% if expedition_date is not empty %}
      <div class="info-item">
        <label class="label">{{ 'Expedition Date' | t }}:</label>
        <span class="value">{{ expedition_date }}</span>
      </div>
    {% endif %}

    {% if province is not empty %}
      <div class="info-item">
        <label class="label">{{ 'Province' | t }}:</label>
        <span class="value">{{ province }}</span>
      </div>
    {% endif %}

    {% if is_valid is not empty %}
      <div class="info-item">
        <label class="label">{{ 'Is Valid' | t }}:</label>
        <span class="value">{{ is_valid }}</span>
      </div>
    {% endif %}

    {% if expired is not empty %}
      <div class="info-item">
        <label class="label">{{ 'Expired' | t }}:</label>
        <span class="value">{{ expired }}</span>
      </div>
    {% endif %}

  </div>

</div>
<div class="police-record-notification-container">
  <p class="">{{ 'Válido por' | t }} <span class="bold">30 {{ 'días' | t }}.</span></p>
  <p class="">{{ 'Exclusivo para uso laboral.' | t }}</p>
  <p class="">
    {{ 'Este documento ha sido generado por la plataforma' | t }} 
    <span class="bold">{{'Panamá en línea' | t }}</span>, 
    {{ 'y es válido según la' | t }} 
    <span class="bold">{{ 'Ley 83 del 9 de noviembre del 2012' | t }}</span>, 
    {{ 'que regula el uso de medios electrónicos para los trámites gubernamentales' | t }}
  </p>
</div>