#edit-field-contact-information-0-subform-field-working-hours-value th:last-child{
    display: none;
}

#edit-field-contact-information-0-subform-field-working-hours-value td:last-child{
    display: none;
}