.webform-submission-subscription-home-form {

  .section {
    padding-bottom: 3rem;

    .container {
      width: 100%;

      > .columns {
        padding: 10px;
        border: 1px solid $green;
        margin-bottom: 0;

        @include breakpoint($medium) {
          padding: 10px 50px;
        }
      }
    }
  }

  .form-type-processed-text {
    line-height: 1.5;
    max-width: 400px;
    margin: 0;

    h1, h2, h3, h4, h5, h6, h7, h8 {
      @extend .title, .is-4;
      font-weight: 600;

      &:not(:last-child) {
        margin-bottom: 7px;
      }
    }
  }

  .columns {
    align-items: center;
  }

  .form-type-email,
  .form-actions {

    input {
      padding: 15px;
    }
  }

  .form-type-email {

    input {
      width: 100%;
      padding: 15px;
    }
  }

  .form-actions {

    > input.webform-button--submit.button.form-submit {
      background-color: $dark-lue;
      height: 49px;
    }
  }
}
