//
// Set balues for flexboxgrid-sass.
//

// Set the number of columns you want to use on your layout.
$grid-columns: 12 !default;
// Set the gutter between columns.
$gutter-width: 1rem !default;
// Set a margin for the container sides.
$outer-margin: 2rem !default;
// Create or remove breakpoints for your project
// Syntax:
// name SIZErem,
$breakpoints:
xsm 30em 30rem,
sm 48em 46rem,
md 62em 61rem,
lg 75em 71rem !default;

$flexboxgrid-max-width: 1550px;
