@import '_grid';
@import "../../node_modules/flexboxgrid-sass/flexboxgrid";

.l-sidebar_first {
  padding-top: px-to-rem(100);
  border-top: px-to-rem(3) solid $c-circon;

  @include breakpoint($bp-md) {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0;
  }
}

.l-sidebar_first .region-sidebar-first {
  display: flex;
  flex-direction: column;
}

.region.region-post-content {
  position: relative;
  display: block;
  width: 100%;
}

.region-content {
  display: block;
  height: auto;
  width: 100%;
}

.contextual-region {
  position: unset;
}