.view-news > .row > div {
  margin-bottom: px-to-rem(45);
}

.view-news > .row > div img {
  width: 100%;
  display: block;
}

.view-news .content-title {
  margin: px-to-rem(15) 0 px-to-rem(10);
  
  @include breakpoint($bp-xsm) {
    font-size: px-to-rem(24);
  }
}
