.node--type-article.node--view-mode-full .field--name-field-featured-image,
.node--type-article.node--view-mode-full .field--name-field-source {
  margin-bottom: px-to-rem(15);
}

.node--type-article.node--view-mode-full .field--name-field-files {
  margin-bottom: px-to-rem(30);
}

.node--type-article.node--view-mode-full .field--name-field-featured-image img {
  width: 100%;
}

.node--type-article.node--view-mode-full .field--name-field-source > .field__label {
  padding: 0;
  margin-right: px-to-rem(12);
  color: $c-primary;
}

.node--type-article.node--view-mode-full .field--name-field-files > .field__item {
  border: px-to-rem(2) solid $c-input-border;
  padding: px-to-rem(8) px-to-rem(15);
  margin-bottom: px-to-rem(10);
}