.node--type-dependency.node--view-mode-full .header-container,
.node--type-institution.node--view-mode-full .header-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: px-to-rem(15);

  @include breakpoint($bp-md) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;    
  }

  .left-container {

    @include breakpoint($bp-md) {
      margin-right: px-to-rem(40);
    }
  }

  .logo-container {
    border: px-to-rem(0.5) solid $c-catskill-white;
    padding: px-to-rem(12);
    max-width: px-to-rem(315);
    text-align: center;
  }

  .right-container {
    flex-grow: 1;
    flex-basis: 60%;
    flex-shrink: 1;
    
    .title-container {
      margin: px-to-rem(10) 0 px-to-rem(30);
      font-size: px-to-rem(38);
      font-weight: $font-weight-bold;
      color: $c-primary;
      word-break: break-word;
    }

    .websie-email-container {
      margin-bottom: px-to-rem(20);

      .field--label-inline {
        color: $c-dove-gray;
      }

      .field--name-field-website {

        .field__label {
          width: px-to-rem(85);
        }

        .field__item a {
          text-transform: lowercase;
          color: $c-primary;
        }
      }

      .field--name-field-email {
        display: flex;

        .field__label {
          width: px-to-rem(85);
        }

        .field__item a {
          color: $c-stack;
          text-transform: lowercase;
        }
      }
    }

    .social-networks-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;

      .field__label {
        color: $c-primary;
      }

      .social-media-links--platforms {
        margin: 0;
        padding: 0;

        li {
          margin: 0;

          &:last-child {
            margin-right: 0;
          }

          &::before {
            content: none;
          }
        }

        a {
          font-size: px-to-rem(14);
          color: $c-primary;
        }
      }
    }
  }
}

.node--type-institution.node--view-mode-full .body-container,
.node--type-tramite.node--view-mode-full .body-container {
  position: relative;

  .short-body {
    margin-bottom: px-to-rem(20);
    max-height: px-to-rem(370);
    overflow: hidden;
    position: relative;

    .fadeout {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 4em;
      width: 100%;
      background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      ); 
      background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
      background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
      background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
      background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
    }
  }

  .view-more-link {
    display: block;
    text-align: right;
  }

  .view-less-link {
    display: none;
    text-align: right;
  }

  &.full {

    .view-more-link {
      display: none;
    }

    .view-less-link {
      display: block;
    }

    .fadeout {
      display: none;
    }
  }
}

.node--type-dependency.node--view-mode-full .paragraph--view-mode--institution-address-business-hours,
.node--type-institution.node--view-mode-full .paragraph--view-mode--institution-address-business-hours,
.node--type-tramite.node--view-mode-full .paragraph--view-mode--address-business-hours-telephones {
  margin-bottom: px-to-rem(40);

  .section-title {
    @extend %section-title;
  }

  .info-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include breakpoint(px-to-rem(860)) {
      flex-direction: row;
    }
  }

  .address-container,
  .business-hours-container {
    word-break: break-word;
    padding: px-to-rem(30);

    @include breakpoint($bp-sm) {
      padding: px-to-rem(50);
    }

    @include breakpoint(px-to-rem(860)) {
      flex-basis: 50%;
    }
  } 

  .business-hours-container {

    @include breakpoint(px-to-rem(860)) {
      padding: 0 px-to-rem(70);
    }
  }

  .address-container {
    border-bottom: px-to-rem(1) solid $c-circon;

    @include breakpoint(px-to-rem(860)) {
      padding: 0 px-to-rem(50);
      border-bottom: none;
      border-right: px-to-rem(1) solid $c-circon;
    }

    .address {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: px-to-rem(30);

      .location-icon {
        @include icon(location);
        margin-right: px-to-rem(10);
        font-size: px-to-rem(24);
        color: $c-primary;
      }

      .building-icon {
        @include icon(buildings);
        margin-right: px-to-rem(10);
        font-size: px-to-rem(24);
        color: $c-primary;
      }
    }
  }

  .field--name-field-address {

    .field__label {
      text-transform: uppercase;
    }
  }

  .province-map-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: px-to-rem(30);

    .location-icon {
      @include icon(location);
      margin-right: px-to-rem(10);
      font-size: px-to-rem(24);
      color: $c-primary;
    }

    .province-icon {
      @include icon(municipio-provincia);
      margin-right: px-to-rem(10);
      font-size: px-to-rem(24);
      color: $c-primary;
    }

    .province-map {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  .field--name-field-province {

    .field__label {
      text-transform: uppercase;
    }
  }

  .field--name-field-working-hours {

    .field__label {
      text-transform: uppercase;
    }
  }

  .view-ubication-link {
    @include icon(location, after);
    display: flex;
    align-items: baseline;
    justify-content: flex-start;

    &::after {
      margin-left: px-to-rem(10);
      color: $c-primary;
      font-size: px-to-rem(28);
    }
  }

  .field--name-field-working-hours .field__items {
    @include icon(time);
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:before {
      margin-right: px-to-rem(10);
      color: $c-primary;
      font-size: px-to-rem(24);

      @include breakpoint($bp-sm) {
        margin-left: px-to-rem(-34);
      }
    }

    .office-hours__item {
      display: flex;
      flex-wrap: wrap;

      .office-hours__item-label {
        // sass-lint:disable-block no-important
        width: auto !important;
        margin-right: px-to-rem(10);
      }
    }
  }

  .telephones-container {
    @include icon(call);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    &:before {
      margin-right: px-to-rem(10);
      font-size: px-to-rem(24);
      color: $c-primary;
    }
  }

}

.node--type-dependency.node--view-mode-full .paragraph--view-mode--institution-telephones,
.node--type-institution.node--view-mode-full .paragraph--view-mode--institution-telephones {
  margin-bottom: px-to-rem(40);

  > .field--name-field-phone-numbers {

    > .field__label {
      @include icon(plus, after);
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      color: $c-primary;
      padding: px-to-rem(20);
      background-color: $c-catskill-white;
      margin-bottom: px-to-rem(10);
  
      &:after {
        color: $c-primary;
        font-size: px-to-rem(24);
      }
  
      &.open {
        @include icon(minus, after);
      }
    }
  
    > .field__items {
      display: none;
      padding: 0 px-to-rem(20);
  
      > .field__item {
        @include icon(tick-inside-circle);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        line-height: 2;
  
        &:before {
          color: $c-primary;
          margin-right: px-to-rem(15);
          font-size: px-to-rem(18);
        }

        .paragraph--type--phone-numbers .field {
          display: inline-block;
        }
      }
    }
  }
}