.page-not-found .region-content .block-system-main-block,
.page-access-denied .region-content .block-system-main-block {
  font-size: px-to-rem(42);
  font-weight: $font-weight-bold;
  color: $c-darkgray;
}
