.node--type-tramite {

  .online-procedure-link-container {
    background: url('../images/online-procedure-btn') no-repeat center;
    line-height: 1;
    background-size: contain;
    font-weight: $font-weight-bold;

    .online-procedure-link {
      @include icon(hand-touch-link, after);
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $c-white;

      &:after {
        margin-left: px-to-rem(10);
        font-size: px-to-rem(18);
        color: $c-white;
      }
    }
  }
}

.node--type-tramite.node--view-mode-full {

  .online-procedure-link-container {
    background: url('../images/online-procedure-banner') no-repeat center;
    border-bottom-left-radius: px-to-rem(36);
    padding: px-to-rem(20) px-to-rem(30);
    margin-bottom: px-to-rem(40);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .online-procedure-link {
      font-size: px-to-rem(28);

      &:after {
        font-size: px-to-rem(32);
      }
    }

    .field--name-field-procedure-level > div {
      display: inline-block;
      color: $c-white;
      font-size: px-to-rem(18);
    }
  }

  h1.title {
    color: $c-primary;
    text-transform: none;
  }

  .node__content {
    display: flex;
    flex-direction: column;
  }
}

.belonging-institution-container {
  margin: px-to-rem(10) 0;

  .field--name-field-institution {
    color: $c-primary;
    font-size: px-to-rem(18);
    font-weight: $font-weight-bold;
  }
}

.body-container {
  padding: px-to-rem(20) 0;
}

.dependencies-container {
  margin: px-to-rem(10) 0 px-to-rem(40);

  > .field__label {
    @extend %section-title;
  }

  > .views-element-container {

    @include breakpoint($bp-sm) {
      padding-left: px-to-rem(35);
    }
  }
}

.requirements-container {
  margin-bottom: px-to-rem(20);

  .field__label {
    color: $c-primary;
    font-size: px-to-rem(32);
    margin-bottom: px-to-rem(15);
  }
}

.additional-information-container {
  margin-bottom: px-to-rem(20);

  > .field__label {
    color: $c-primary;
    font-size: px-to-rem(32);
    margin-bottom: px-to-rem(15);
  }
}

.observation-container,
.legal-base-container {
  margin-bottom: px-to-rem(5);

  .field__label {
    @include collapsable-label;
  }

  .field__item {
    padding: px-to-rem(15) px-to-rem(20);
  }
}

.observation-container {
  margin-top: px-to-rem(25);
}

.node--type-tramite.node--view-mode-search-result {
  
  .top-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    .title {
      flex-basis: 70%;
      flex-grow: 1;
    }
  }
  
  .online-procedure-link-container {
    background: url('../images/online-procedure-btn') no-repeat center;
    display: inline-block;
    padding: px-to-rem(10) px-to-rem(15);
    border-radius: px-to-rem(10);
    font-size: px-to-rem(14);
    background-size: contain;
  }
}