.paragraph--type--requirement-group {

  .field--name-field-requirement-type {
    @include icon(plus, after);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: $c-primary;
    padding: px-to-rem(15) px-to-rem(20);
    background-color: $c-catskill-white;
    margin-bottom: px-to-rem(5);
    font-weight: $font-weight-bold;

    &:after {
      color: $c-primary;
      font-size: px-to-rem(24);
    }

    &.open {
      @include icon(minus, after);
    }
  }

  .field--name-field-requirement {
    display: none;
    padding: px-to-rem(15) px-to-rem(20);

    > .field__item {
      @include icon(tick-inside-circle);
      display: flex;
      justify-content: flex-start;
      line-height: 1;
      margin-bottom: px-to-rem(20);

      &:before {
        color: $c-primary;
        margin-right: px-to-rem(15);
        font-size: px-to-rem(18);
      }
    }
  }
}