.node--type-requirement.node--view-mode-full {
  display: block;
  position: relative;
  width: 100%;
  height: auto;

  .requirement-title-container {
    margin-bottom: px-to-rem(12);

    .title {
      font-weight: $font-weight-bold;

      .donwload-label,
      .field--name-field-form {
        font-weight: $font-weight-normal;
      }
    }
    
    .title,
    .field--name-field-form {
      display: inline-block;
      line-height: 1.3;
    }
  }

  .requirement-description {
    @include icon(new-line-arrow);
    padding: 0 0 0 px-to-rem(20);
    line-height: 1.3;
    color: $c-monsoon;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    &:before {
      margin-right: px-to-rem(15);
      color: $c-hoki;
    }
  }

  .field--name-field-form {
    margin-left: px-to-rem(50);

    .node--type-form.node--view-mode-procedure {

      .node__content {
        display: block; 
      }
    }
  }
}