.node--type-institution.node--view-mode-search-result,
.node--type-tramite.node--view-mode-search-result,
.node--type-dependency.node--view-mode-search-result,
.node--view-mode-search-result-content-type {
  padding: px-to-rem(10) 0;
  border-bottom: px-to-rem(2) solid $c-white-lilac;

  .title {
    line-height: 1;
    margin-bottom: px-to-rem(5);
    word-break: break-word;
  }

  .title a {
    font-weight: $font-weight-bold;
    color: $c-primary;
    word-break: break-word;
  }

  .field--name-field-institution-type,
  .field--name-field-institution {

    .field__label,
    .field__item {
      color: $c-xanadu;
    }
  }

  .paragraph--type--contact-information.paragraph--view-mode--institution-search-result {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;

    .field--name-field-province {
      flex-grow: 1;
    }

    .field--name-field-website {
      flex-grow: 1;
      text-align: right;
    }
  }
}