{{ attach_library('panamatramita_admin/bulma') }}
<section class="section">
    <div class="content">
        <nav class="level">
            {% for nodeData in nodesData %}
            <div class="level-item has-text-centered">
                <div class="box">
                    <p class="heading is-size-6">{{ nodeData.name }}</p>
                    <p class="title is-size-3">
                        <a href="#" class="link is-info">{{ nodeData.published }}</a>
                    </p>
                    {% if nodeData.not_published is defined %}
                    <p class="subtitle is-size-6">
                        <a href="#" class="link is-info">{{ nodeData.not_published }} {% trans %}unpublished{% endtrans %}</a>
                    </p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </nav>
    </div>
</section>