<div class="institutions-by-categories-container">
    {% if types is empty %}
        <p>{% trans %}There are not results for this search.{% endtrans %}</p>
    {% else %}
        {% for institutionType in types %}
            <div class="category-container">
                <span class="category-counter">{{ institutionType.institutionAmount }}</span>
                <h2 class="category-name">{{ institutionType.title }}</h1>
                <div class="category-description-container">
                    {% set text = institutionType.description|render|striptags %}
                    {{ text|length > 200 ? text|slice(0, 80) ~ '...' : text }}
                </div>
                <a class="category-link" href="{{ institutionType.url }}">{% trans %}Press here{% endtrans %}</a>
            </div>
        {% endfor %}
    {% endif %}
</div>