{{ attach_library('panamatramita_admin/bulma') }}
<section class="section">
  <div class="content">
    <div class="columns">
      <div class="column is-4">
        <div class="box">
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
              {% if institution.field_logo is defined %}
                <img src="{{ institution.field_logo.entity.uri.value | image_style('thumbnail') }}">
              {% endif %}
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p class="title">{{ institution.title.value }}</p>
              </div>
            </div>
          </article>
        </div>
      </div>
      {% for nodeData in nodesData %}
      <div class="column is-2 has-text-centered">
        <div class="box">
          <p class="heading is-size-6">{{ nodeData.name }}</p>
          <p class="title is-size-3">
            <a href="#" class="link is-info">{{ nodeData.published }}</a>
          </p>
          {% if nodeData.not_published is defined %}
          <p class="subtitle is-size-6">
            <a href="#" class="link is-info">{{ nodeData.not_published }} {% trans %}unpublished{% endtrans %}</a>
          </p>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
