<div class="online-services-by-categories-container">
    {% if sectors is empty %}
        <p>{% trans %}There are not results for this search.{% endtrans %}</p>
    {% else %}
        {% for sector in sectors %}
            <div class="category-container">
                <span class="category-counter">{{ sector.onlineServiceAmount }}</span>
                <h2 class="category-name">{{ sector.title }}</h1>
                <div class="category-description-container">
                    {% set text = sector.description|render|striptags %}
                    {{ text|length > 200 ? text|slice(0, 80) ~ '...' : text }}
                </div>
                <a class="category-link" href="{{ sector.url }}">{% trans %}Press here{% endtrans %}</a>
            </div>
        {% endfor %}
    {% endif %}
</div>