<header class="header">
    <div class="sub-header-top">
        <div class="nav-top container">
            <div class="columns">
                <div class="column">
                    <ul>
                        {% for item in top.items %}
                            <li>
                                <a href="{{ item.url }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
    {% if logged_in %}
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="user-logout">
                        <p><b>Bienvenido:</b> {{ user.displayname }}</p>&nbsp;|&nbsp;<a href="/user/logout">Salir</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="main-header navbar">
        <div class="container">
            <div class="navbar-brand">
                <a href="{{ logo_big.img_href }}" class="nav-logo__big">
                    <img src="{{ logo_big.img_src }}" alt="{{ logo_big.img_alt }}" >
                </a>
                <a role="button" class="navbar-burger burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
                   
            <div class="navbar-menu" id="navMenu">
                <div class="navbar-start">
                    <ul class="top-navigation-menu-mobile">
                      
                      {% for item in top.items %}
                          <li>
                              <a class="navbar-item" href="{{ item.url }}">{{ item.title }}</a>
                          </li>
                      {% endfor %}
                      {% if logged_in %}
                        <li>
                            <a class="navbar-item" href="/user/logout">Salir</a>
                        </li> 
                      {% endif %} 
                    </ul>
                    <ul>
                        {% for item in main.items %}
                        <li>
                            <a class="navbar-item" href="{{ item.url }}">{{ item.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                  {% if not logged_in %}
                      <div class="navbar-item has-dropdown is-hoverable">
                          <a class="navbar-link">Ingrese a su cuenta</a>
                          <div class="navbar-dropdown">
                              <a href="https://online.cooprofesionales.com.pa/login" target="_blank" class="navbar-item">Cooperativa en linea</a>
                              <a href="user/login" class="navbar-item">Tu Cooperativa</a>
                          </div>
                      </div>
                  {% endif %}
                </div>
                
            </div>
        </div>
    </div>
</header>