// Button styles.

// sass-lint:enable-all
input[type="submit"],
input[type="reset"],
button {
  @extend %btn;
  @extend %btn-primary;
}

.btn {
  @extend %btn;
}

.btn-primary {
  @extend %btn-primary;
}

.btn-secondary {
  @extend %btn-secondary;
}

.btn-small {
  @extend %btn-small;
}

input[type="submit"]:disabled,
button:disabled,
.btn:disabled {
  @extend %btn-disabled;
}

a.button {
  @extend %btn;
  @extend %btn-secondary;
}
