.chosen-container {
  font-size: px-to-rem(16);
  min-width: px-to-rem(80);
}

.chosen-container-single .chosen-single {
  border-radius: 0;
  border-color: $c-primary;
  background: $c-primary;
  box-shadow: 0 0 0 transparent;
  color: $c-white;
  font-weight: $font-weight-bold;
  height: px-to-rem(56);
  line-height: px-to-rem(56);
  padding-left: px-to-rem(15);
}

// Button
.chosen-container-active .chosen-single {
  border-color: $c-primary;
  box-shadow: 0 0 transparent;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  background: $c-primary;
  background-image: none;
  border-color: $c-primary;
  box-shadow: 0 0 transparent;
  color: $c-white;
}

// Icon

.chosen-container-single .chosen-single div {
  margin-right: px-to-rem(10);
}

.chosen-container-single .chosen-single div b {
  @include icon(angle-down-regular);
  background-image: none !important; // sass-lint:disable-line no-important
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chosen-container-single .chosen-single span {
  margin-right: px-to-rem(32);
}

.chosen-container-single .chosen-single div b:before {
  color: $c-medium-goldenrod;
  font-size: px-to-rem(28);
  line-height: 1;
}

// Dropdown

.chosen-container-single .chosen-drop {
  border-color: lighten($c-lochmara, 10);
}

// Input
.chosen-container-single .chosen-search {
  padding: px-to-rem(5) px-to-rem(10);
}

.chosen-container-single .chosen-search input[type="text"] {
  background-image: none !important; // sass-lint:disable-line no-important
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
}

.chosen-container-single .chosen-search {
  @include icon(search-regular, after);
}

.chosen-container-single .chosen-search:after {
  color: $c-loblolly;
  position: absolute;
  right: px-to-rem(16);
  top: px-to-rem(14);
}

// Lists
.chosen-container .chosen-results {
  margin: px-to-rem(10) px-to-rem(10) px-to-rem(10) px-to-rem(6);
}

.chosen-container .chosen-results li {
  color: $c-darkgray;
  font-size: px-to-rem(15);
  padding: px-to-rem(10) px-to-rem(8);
}

.chosen-container .chosen-results li.active-result {
  margin-bottom: px-to-rem(5);
}

.chosen-container .chosen-results li.highlighted {
  background-color: $c-geyser;
  background-image: none;
  color: $c-primary;
}

.chosen-container.item-list__dropdown {
  // sass-lint:disable-block no-important
  width: auto !important;
  min-width: px-to-rem(200) !important;

  .chosen-single {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}