// Global form styling should go here.
// Styling for individual forms those should go in their own partials.

input,
textarea {
  -webkit-appearance: none;
  font-family: $font-family-sans;
  font-size: px-to-rem(16);
  margin: 0;
  max-width: 100%;
  vertical-align: top;
}

input:focus,
textarea:focus {

}

input:active,
textarea:active {

}

input[type="date"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="textarea"],
textarea {
  @extend %form-input;
}

input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}

input[type="checkbox"] + label:before {
  background-color: $c-white;
  border: px-to-rem(2) solid $c-input-border;
  content: '';
  display: inline-block;
  margin-right: px-to-rem(8);
  max-width: px-to-rem(26);
  padding: px-to-rem(11);
  top: px-to-rem(4);
  vertical-align: top;
}

input[type="checkbox"]:checked + label {
  @include icon(check);

  &:before {
    border-color: $c-success;
    color: $c-primary;
    font-size: px-to-rem(16);
    padding: px-to-rem(3);
  }
}

.form-item-radios.form-item,
.form-checkboxes .form-item {
  margin-bottom: px-to-rem(5);
}

input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

input[type="radio"] + label:before {
  background-color: $c-white;
  border: px-to-rem(2) solid $c-input-border;
  border-radius: px-to-rem(26);
  content: '';
  display: inline-block;
  height: px-to-rem(10);
  margin-right: px-to-rem(8);
  max-width: px-to-rem(26);
  padding: px-to-rem(11);
  top: px-to-rem(4);
  vertical-align: middle;
}

input[type="radio"]:checked + label:before {
  background-color: $c-primary;
  border-color: $c-success;
  box-shadow: inset 0 0 0 px-to-rem(5) $c-white;
}

.form-item .description {
  font-size: px-to-rem(14);
  line-height: 1.14;
  margin-top: px-to-rem(10);
}

label {
  color: $c-primary;
  display: block;
  font-size: px-to-rem(14);
  font-weight: $font-weight-bold;
  line-height: 1.667;
  margin-bottom: px-to-rem(5);
  text-transform: uppercase;
}

label.option {
  display: inline;
  font-size: px-to-rem(16);
  font-weight: $font-weight-normal;
  text-transform: initial;
}

// sass-lint:disable no-important
fieldset {
  min-width: 0 !important; // Override for Firefox silliness
}

legend {
}
