@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('eot'),
  url('../fonts/icons.woff2') format('woff2'),
  url('../fonts/icons.woff') format('woff'),
  url('../fonts/icons.ttf') format('truetype'),
  url('../fonts/icons.svg#icons') format('svg');
}

@function icon-char($filename) {
  $char: "";

  @if $filename == 24-hours {
    $char: "\E001";
  }
  @if $filename == angle-double-right-light {
    $char: "\E002";
  }
  @if $filename == angle-down-regular {
    $char: "\E003";
  }
  @if $filename == bad {
    $char: "\E004";
  }
  @if $filename == buildings {
    $char: "\E005";
  }
  @if $filename == calendar {
    $char: "\E006";
  }
  @if $filename == call {
    $char: "\E007";
  }
  @if $filename == caret-down-solid {
    $char: "\E008";
  }
  @if $filename == check {
    $char: "\E009";
  }
  @if $filename == coin {
    $char: "\E00A";
  }
  @if $filename == doc {
    $char: "\E00B";
  }
  @if $filename == document {
    $char: "\E00C";
  }
  @if $filename == enquiry {
    $char: "\E00D";
  }
  @if $filename == excellent {
    $char: "\E00E";
  }
  @if $filename == facebook-f-brands {
    $char: "\E00F";
  }
  @if $filename == files {
    $char: "\E010";
  }
  @if $filename == good {
    $char: "\E011";
  }
  @if $filename == hand-touch-link {
    $char: "\E012";
  }
  @if $filename == home-solid {
    $char: "\E013";
  }
  @if $filename == hotel {
    $char: "\E014";
  }
  @if $filename == information {
    $char: "\E015";
  }
  @if $filename == left-arrow {
    $char: "\E016";
  }
  @if $filename == location {
    $char: "\E017";
  }
  @if $filename == logout {
    $char: "\E018";
  }
  @if $filename == magnifying-glass {
    $char: "\E019";
  }
  @if $filename == mail {
    $char: "\E01A";
  }
  @if $filename == minus {
    $char: "\E01B";
  }
  @if $filename == municipio-provincia {
    $char: "\E01C";
  }
  @if $filename == new-line-arrow {
    $char: "\E01D";
  }
  @if $filename == normal {
    $char: "\E01E";
  }
  @if $filename == online-services {
    $char: "\E01F";
  }
  @if $filename == pdf {
    $char: "\E020";
  }
  @if $filename == plus {
    $char: "\E021";
  }
  @if $filename == printer {
    $char: "\E022";
  }
  @if $filename == promotion {
    $char: "\E023";
  }
  @if $filename == right-arrow {
    $char: "\E024";
  }
  @if $filename == search-regular {
    $char: "\E025";
  }
  @if $filename == share {
    $char: "\E026";
  }
  @if $filename == tap {
    $char: "\E027";
  }
  @if $filename == tick-inside-circle {
    $char: "\E028";
  }
  @if $filename == time {
    $char: "\E029";
  }
  @if $filename == twitter-brands {
    $char: "\E02A";
  }
  @if $filename == txt {
    $char: "\E02B";
  }
  @if $filename == xls {
    $char: "\E02C";
  }

  @return $char;
}

@mixin icon($filename, $insert: before) {
  &:#{$insert} {
    @include icon-styles(icon-char($filename));
  }
}

.icon-24-hours {
  @include icon(24-hours);
}
.icon-angle-double-right-light {
  @include icon(angle-double-right-light);
}
.icon-angle-down-regular {
  @include icon(angle-down-regular);
}
.icon-bad {
  @include icon(bad);
}
.icon-buildings {
  @include icon(buildings);
}
.icon-calendar {
  @include icon(calendar);
}
.icon-call {
  @include icon(call);
}
.icon-caret-down-solid {
  @include icon(caret-down-solid);
}
.icon-check {
  @include icon(check);
}
.icon-coin {
  @include icon(coin);
}
.icon-doc {
  @include icon(doc);
}
.icon-document {
  @include icon(document);
}
.icon-enquiry {
  @include icon(enquiry);
}
.icon-excellent {
  @include icon(excellent);
}
.icon-facebook-f-brands {
  @include icon(facebook-f-brands);
}
.icon-files {
  @include icon(files);
}
.icon-good {
  @include icon(good);
}
.icon-hand-touch-link {
  @include icon(hand-touch-link);
}
.icon-home-solid {
  @include icon(home-solid);
}
.icon-hotel {
  @include icon(hotel);
}
.icon-information {
  @include icon(information);
}
.icon-left-arrow {
  @include icon(left-arrow);
}
.icon-location {
  @include icon(location);
}
.icon-logout {
  @include icon(logout);
}
.icon-magnifying-glass {
  @include icon(magnifying-glass);
}
.icon-mail {
  @include icon(mail);
}
.icon-minus {
  @include icon(minus);
}
.icon-municipio-provincia {
  @include icon(municipio-provincia);
}
.icon-new-line-arrow {
  @include icon(new-line-arrow);
}
.icon-normal {
  @include icon(normal);
}
.icon-online-services {
  @include icon(online-services);
}
.icon-pdf {
  @include icon(pdf);
}
.icon-plus {
  @include icon(plus);
}
.icon-printer {
  @include icon(printer);
}
.icon-promotion {
  @include icon(promotion);
}
.icon-right-arrow {
  @include icon(right-arrow);
}
.icon-search-regular {
  @include icon(search-regular);
}
.icon-share {
  @include icon(share);
}
.icon-tap {
  @include icon(tap);
}
.icon-tick-inside-circle {
  @include icon(tick-inside-circle);
}
.icon-time {
  @include icon(time);
}
.icon-twitter-brands {
  @include icon(twitter-brands);
}
.icon-txt {
  @include icon(txt);
}
.icon-xls {
  @include icon(xls);
}
