table {
  th, td {
    padding: px-to-rem(10)
  }
}

thead {
  tr {
    background-color: $c-primary;
    color: $c-white;
    font-size: px-to-rem(15);
  }
}

tbody {
  tr {
    background-color: $c-white;
    border-bottom: px-to-rem(1) solid darken($c-catskill-white,5);
  }
  tr:nth-child(even) {
    background-color: $c-catskill-white;
  }
}
