// Global typography defaults. If these need to be overridden in a specific
// instance, it should be done in a "components" partial
html {
  // You should ALWAYS have this line, unchanged.
  // The px-to-rem function depends on it.
  font-size: ($font-size-base/16) * 100%;
}

body {
  // Will probably declare fonts, colors, etc. as desired. Examples:
  color: $c-text;
  font-family: $font-family-sans;
  font-weight: $font-weight-normal;
  line-height: 1.5;
}

h1,
.h1-style {
  font-size: px-to-rem(32);
  font-weight: $font-weight-bold;
  line-height: 1.1667;
  margin-bottom: px-to-rem(20);
  text-transform: uppercase;

  @include breakpoint($bp-sm) {
    font-size: px-to-rem(36);
    line-height: 1.15625;
  }
  @include breakpoint($bp-md) {
    font-size: px-to-rem(38);
    line-height: 1.1428;
  }

  + p {
    margin-top: px-to-rem(-10);
  }
}

h2,
.h2-style {
  color: $c-primary;
  font-size: px-to-rem(24);
  font-weight: $font-weight-bold;
  line-height: 1.25;
  margin-bottom: px-to-rem(20);

  @include breakpoint($bp-sm) {
    font-size: px-to-rem(28);
    line-height: 1.227;
  }
  @include breakpoint($bp-md) {
    font-size: px-to-rem(30);
    line-height: 1.208;
  }

  + p {
    margin-top: px-to-rem(-10);
  }
}

h3,
.h3-style {
  color: $c-primary;
  font-size: px-to-rem(20);
  letter-spacing: 0.5px;
  line-height: 1.2;
  margin-bottom: px-to-rem(15);

  + p {
    margin-top: px-to-rem(-5);
  }
}

h4,
.h4-style {
  color: $c-elm;
  font-size: px-to-rem(18);
  line-height: 1.25;
  margin-bottom: px-to-rem(15);

  + p {
    margin-top: px-to-rem(-5);
  }
}

h5,
.h5-style {
  font-size: px-to-rem(16);
  letter-spacing: 0.5px;
  line-height: 1.214;
  margin-bottom: px-to-rem(15);
  text-transform: uppercase;

  + p {
    margin-top: px-to-rem(-5);
  }
}

h6,
.h6-style {
  color: $c-stack;
  font-size: px-to-rem(15);
  letter-spacing: 0.5px;
  line-height: 1.25;
  margin-bottom: px-to-rem(15);
  text-transform: uppercase;

  + p {
    margin-top: px-to-rem(-5);
  }
}

blockquote {
  font-size: px-to-rem(20);
  line-height: 1.3;
  margin: px-to-rem(40) 0 px-to-rem(40) px-to-rem(40);
  padding: px-to-rem(10) px-to-rem(30) px-to-rem(5);
}

cite {

}

code {

}

dl {

}

dt {

}

dd {

}

b,
strong {

}

i,
em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

p {
  margin-bottom: px-to-rem(10);
}

sup {
  position: relative;
  font-size: .8em;
  top: -.2em;
}

sub {
  position: relative;
  font-size: .8em;
  top: .2em;
}

// Undoing the ugly blue glow that defaults when you focus on a link or anything
// with a tabindex. Put focus state back on links below.
*:focus {
  outline: none;
}

// Links 
a {
  color: $c-link;
  text-decoration: none;
}

a:hover,
a:focus {

}

caption,
figcaption,
.caption {
  font-size: px-to-rem(14);
  font-style: italic;
  line-height: 1.214;
  margin-bottom: px-to-rem(10);
}

code {
  font-family: Monospace;
}

// Lists
.l-main ul {
  @extend %bullets;
}

.l-main ol {
  @extend %numbers;
}

// Small text list
.description ul li{
  padding-top: px-to-rem(5);
}
