// We make embedded iframes responsive

.video-wrapper { // or whatever the class may be...
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  height: 100%;
  width: 100%;
}
