.facet--category {
  .caret {
    float: right;
    margin-top: 8px;
  }
}

ul.facet-categories {
  li {
    padding: 2px 0;
    ul {
      padding-left: 10px;
    }
  }
}

.clear-filters--wrapper {
  display: inline-block;
  width: 100%;
  text-align: center;
  @media screen and (min-width: $tablet-small) {
    margin-bottom: 15px;
    text-align: left;
  }
}

.facet-categories--clear-filters {
  padding: 0;
  cursor: pointer;
  color: $std-blue;
  font-size: 1em;
  margin-bottom: 30px;
  &:hover {
    color: $std-blue;
    text-decoration: none;
  }
}

.facet--see-more-link {
  text-decoration: none;
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 0.9em;
  &:hover {
    text-decoration: none;
  }
}

.facet--see-more {
  &:after {
    content: "\f054";
  }
}

.facet--see-less {
  &:after {
    content: "\f077";
  }
}

.facet--see-less,
.facet--see-more {
  color: $std-blue;
  &:after {
    @include fontAwesome-icon(12px);
  }
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.facet-category {
  color: $dark-gray;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 0;
  padding: 5px 0;
  text-transform: uppercase;
  word-break: break-word;
  width: auto;
  @media screen and (min-width: $tablet-small) {
    color: $black;
    font-size: 1.4em;
    font-weight: 600;
    padding-left: 10px;
    width: 220px;
  }
}

.facet-enter,
.facet-leave {
  @include transition(0.4s ease-in all);
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.facet-leave.facet-leave-active,
.facet-enter {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.facet-enter.facet-enter-active,
.facet-leave {
  opacity: 1;
  width: 150px;
  height: 30px;
}

input[type=checkbox].facet-checkbox {
  display: none;
}

.check-option {
  color: $dark-gray;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 1em;
  font-weight: 600;
  border-bottom: 1px solid $std-lite-gray;
  width: 100%;
  @media screen and (min-width: $tablet-small) {
    color: $title-dark-gray;
    width: auto;
  }
  &.check-option--active {
    color: $highlight-red;
    font-weight: 400;
    border-bottom: 1px solid transparent;
  }
  .item-count {
    color: $std-lite-gray;
    font-weight: 400;
    display: inline-block;
  }
  &:hover {
    color: $dark-gray;
    text-decoration: none;
  }
}

.facet--item-check {
  display: inline-block;
  padding: 8px 0;
  margin-right: 8px;
  width: 75%;
  @media screen and (min-width: $tablet-small) {
    margin-right: 8px;
    padding: 4px 0;
    width: 100px;
  }
  @media screen and (min-width: $tablet-large) {
    width: auto;
  }
}

.facet--category {
  .dropdown-btn {
    background-color: $white;
    border: 1px solid $std-lite-gray;
    color: $std-lite-gray;
    padding: 8px;
    padding-left: 13px;
    text-align: left;
    width: 100%;
    @media screen and (min-width: $tablet-small) {
      width: 160px;
    }
    @media screen and (min-width: $tablet-large) {
      width: 220px;
    }
  }
  .dropdown-menu {
    &.dropdown-menu-category {
      background-color: $bg-light-gray;
      border-radius: 0;
      color: $black;
      margin-top: 10px;
      padding: 5px 0;
      position: absolute;
      width: 100%;
      @media screen and (min-width: $tablet-small) {
        margin-left: 10px;
        width: 220px;
      }
      li {
        padding-left: 13px;
        &:hover {
          background-color: $highlight-red;
          color: $white;
        }
      }
    }
  }
}

.facet-display {
  .search--result-display {
    display: none;
    @media screen and (min-width: $tablet-large) {
      display: inline-block;
    }
  }
  .facet-display--group_control {
    margin-top: 12px;
    padding: 0 5px;
    text-align: left;
    h3 {
      font-weight: 600;
      text-transform: uppercase;
    }
    @media screen and (min-width: $tablet-large) {
      margin-top: 0;
      padding: 0;
      text-align: right;
    }
  }
}

.facet-display--results {
  padding-left: 0;
  span {
    font-weight: 600;
  }
}

.search--result-display {
  button {
    @include transparent-btn();
    color: $std-lite-gray;
    padding: 3px 6px 1px;
    font-size: 1.4em;
    &.active,
    &:hover,
    &:focus,
    &:active {
      @include transparent-btn();
      background-color: $highlight-red;
      color: $white;
    }
    &.active {
      &:focus,
      &:hover,
      &:active {
        @include transparent-btn();
        background-color: $highlight-red;
        color: $white;
      }
    }
  }
}

.dropdown {
  &.facet--category {
    padding-left: 10px;
  }
}