.flex-viewport {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.flex-control-nav.flex-control-paging {
  display: none;
}

// Search results slider
.media-object {
  -webkit-transform: translateZ(0);
  .flexslider-container {
    .flexslider {
      -webkit-transform: translateZ(0);
      border: none;
      margin: 0 0 0 0;
      .slides li img {
        min-width: 100%;
        height: auto;
        @media screen and (min-width: $tablet-small) {
          height: 255px;
          min-width: 350px;
        }
      }
    }
  }
}

//END
.flexslider {
  border: 0;
  -webkit-transform: translateZ(0);
  .flex-direction-nav {
    a {
      color: transparent;
      text-shadow: none;
      @media screen and (max-width: $flexslider-mobile) {
        left: 20px;
        opacity: 1!important;
      }
      @include icon-bg($fl-arrows-offset-x, $fl-arrows-offset-y, $fl-arrows-width, $fl-arrows-height);
      &::before {
        content: ' ';
      }
      &.flex-next {
        @include icon-bg($fl-arrows-next-offset-x, $fl-arrows-next-offset-y, $fl-arrows-next-width, $fl-arrows-next-height);
        @media screen and (max-width: $flexslider-mobile) {
          right: 20px;
          left: initial;
        }
      }
    }
  }
}

.flex-control-thumbs {
  bottom: 0;
  display: inline-flex;
  position: absolute;
  z-index: 3;
  .flex-active {
    cursor: default;
    display: inherit;
    opacity: 1;
    z-index: 5;
  }
  img {
    border: 5px solid white;
    box-shadow: 0 1px 5px #000;
    cursor: pointer;
    display: inherit;
    height: auto;
    opacity: .7;
    transition: all 1s ease;
    vertical-align: bottom;
    width: 100%;
    zoom: 0;
  }
}

// Property single slider
.slider--property {
  -webkit-transform: translateZ(0);
  .flexslider {
    margin-bottom: 0;
    padding-bottom: 15px;
    -webkit-transform: translateZ(0);
    .slides {
      li {
        img {
          max-width: 100%;
          @media screen and (min-width: 1365px) and (max-width: 1366px) {
            margin: 0 auto;
            max-width: 65%;
          }
        }
        max-height: 300px;
        overflow-y: hidden;
        @media screen and (min-width: $tablet-small) {
          max-height: 560px;
        }
        @media screen and (min-width: $tablet-large) {
          max-height: 460px;
        }
        @media screen and (min-width: $desktop) {
          max-height: 430px;
        }
        @media screen and (min-width: 1365px) and (max-width: 1366px) {
          max-height: 395px;
        }
        @media screen and (min-width: $desktop-large) {
          max-height: 560px;
        }
      }
    }
  }
}

.slider--property-carousel {
  width: 100%;
  display: none;
  @media screen and (min-width: $tablet-small) {
    display: block;
    visibility: visible;
  }
  .flexslider {
    background-color: transparent;
    border: 0;
    margin: 0 12px;
    .slides {
      li {
        height: 125px;
        width: 207px;
        img {
          height: 110px;
          border: 6px solid $white;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
        }
      }
    }
  }
}

// END
// Most viewed properties slider
.property-slider--most-viewed {
  margin-bottom: 30px;
  @media screen and (min-width: $tablet-small) {
    .flexslider {
      margin: 0 50px;
    }
  }
  &.flexslider-container {
    .flexslider {
      margin-bottom: 0;
      .slides {
        li {
          margin-right: 20px;
          position: relative;
          height: 175px;
          @media screen and (min-width: $mobile-large) {
            max-height: 130px;
            margin-right: 40px;
          }
          img {
            @include responsive-img();
            min-width: inherit;
          }
        }
      }
      &:hover {
        .flex-direction-nav {
          .flex-next {
            right: -50px;
          }
          .flex-prev {
            left: -50px;
          }
        }
      }
      .flex-direction-nav {
        //display: none;
        //@media screen and (min-width: $tablet-large) {
        //  display: inline-block;
        //}
      }
    }
  }
  .media-ribbon {
    background-size: contain;
    height: 34px;
    right: 5px;
    width: 23px;
  }
  .property-title {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    color: $white;
    display: flex;
    align-items: center;
    height: 58px;
    padding: 8px 15px;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    span {
      max-height: 40px;
      overflow: hidden;
      //Needs white-space: nowrap for the ellipsis to show. Will only show 1 line.
      text-overflow: ellipsis;
    }
  }
  .flex-direction-nav {
    a {
      opacity: 1;
      color: transparent;
      text-shadow: none;
      @include icon-bg($fl-arrows-gray-offset-x, $fl-arrows-gray-offset-y, $fl-arrows-gray-width, $fl-arrows-gray-height);
      &::before {
        content: ' ';
      }
      &.flex-next {
        @include icon-bg($fl-arrows-gray-next-offset-x, $fl-arrows-gray-next-offset-y, $fl-arrows-gray-next-width, $fl-arrows-gray-next-height);
      }
    }
  }
}

// END
.slider--property-carousel--item {
  width: 207px;
  height: 125px;
}