.pre-footer {
  border: 1px solid $shadow-gray;
  display: inline-block;
  margin-top: 25px;
  padding: 15px 0;
  width: 100%;
}
.footer-form {
  display: inline-block;
  width: 100%;
  .form-control {
    border-radius: 0;
    border: 1px solid $std-lite-gray;
    margin-top: 6px;
  }
  button {
    @include highlight-btn($white, $white, $highlight-red, $highlight-red, 30px);
    margin-top: 6px;
    width: 120px;
    float: right;
    height: 34px;
    @media screen and (min-width: $tablet-small) {
      float: none;
    }
  }
}
.footer-form--header {
  text-align: center;
}
.footer-form--icon,
.footer-form--title {
  display: inline-block;
  vertical-align: top;
}
.footer-form--icon {
  background-image: url('../images/icons/paper-plane.png');
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 48px;
  width: 48px;
}
.footer-form--title {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  @media screen and (min-width: $tablet-small) {
    font-size: 20px;
    line-height: 48px;
    margin-top: 0;
    text-align: center;
  }
  @media screen and (min-width: $tablet-large) {
    float: right;
    line-height: 1.5;
    margin-left: 0;
    text-align: left;
    width: 72%;
  }
  @media screen and (min-width: $desktop-mid) {
    margin-top: 0;
    text-align: center;
  }
}
.footer {
  padding: 25px 0;
  color: $white;
  background-color: $dark-gray;
  h4 {
    text-transform: uppercase;
    display: inline-block;
    width: 70%;
    vertical-align: top;
    font-size: 1.4em;
    margin-top: 0;
    @media screen and (min-width: $tablet-small) {
      font-size: 1.2em;
    }
  }
  p {
    margin: 0;
  }
}
.footer-block {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0 25px;
  text-align: left;
  @media screen and (min-width: $tablet-small) {
    border-right: 1px solid $white;
    min-height: 200px;
    padding: 0 35px;
    &:nth-of-type(3) {
      border-right: 1px solid transparent;
      padding-left: 25px;
    }
  }
  @media screen and (min-width: $desktop) {
    &:nth-of-type(3) {
      padding-left: 45px;
    }
  }
}
.footer-menu {
  ul {
    padding: 0;
    li {
      a {
        color: $white;
        text-decoration: none;
        &:hover,
        &:focus {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}
.footer--logos-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 20px;

  @media screen and (min-width: $tablet-small) {
    margin-top: 60px;
  }
}

.footer--logo {
  margin-right: 10px;

  &:last-of-type {
    margin-right: 0;
  }
  img {
    @include responsive-img();
  }
}
.footer-social {
  border-top: 3px solid $pale-gray;
  padding-top: 20px;
  text-align: center;
  span {
    display: inline-block;
    font-size: 22px;
    margin-right: 8px;
    padding-bottom: 5px;
    vertical-align: bottom;
  }
}
.social-icon {
  display: inline-block;
  img {
    @include responsive-img();
  }
}
