.ng-invalid.ng-invalid-required.ng-touched {
  border: 1px solid $orange;
}

.field-required {
  color: $orange;
}

.caldeyro--info-form {
  border: 1px solid $pale-light-gray;
  display: inline-block;
  margin: 12px 0 20px 0;
  padding: 8px;
  width: 100%;
  h3 {
    border-bottom: 2px solid $std-lite-gray;
    color: $highlight-red;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 8px;
    text-transform: uppercase;
  }
}

select.form-control {
  background: $white url(../images/dropdown.png) 98% 50% no-repeat;
  border-radius: 0;
  -webkit-appearance: none;
}

.caldeyro-form {
  overflow: hidden;
  label {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .form-control {
    border-radius: 0;
    border: 1px solid $pale-light-gray;
    text-transform: uppercase;
  }
  .btn-success {
    @include highlight-btn($white, $white, $highlight-red, $highlight-red, 30px);
    float: right;
    width: 110px;
    &:hover,
    &[disabled]:hover {
      @include highlight-btn($white, $white, $highlight-red, $highlight-red, 30px);
    }
  }
  .form-group {
    margin-bottom: 5px;
  }
  .form-recaptcha {
    &>div {
      margin: 0 auto;
    }
  }
}