* {
  outline: none;
}

.browsehappy {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

body {
  font-family: "Proxima Nova", sans-serif;
  padding: 0;
  .row {
    padding: 0;
  }
  .container-fluid {
    padding: 0;
  }
}

.inner-container {
  display: block;
  margin: 0 auto;
  max-width: 980px;
}

.main-content {
  background-color: white;
  .normalize-spaces {
    padding: 0;
  }
}

.row-fluid {
  margin-top: 0;
  @media screen and (min-width: $tablet-small) {
    margin-top: 50px;
  }
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

.snap-content {
  &.opened {}
}

.caldeyro-logo {
  background-image: url('../images/logo.png');
  background-size: 200px 69px;
  display: inline-block;
  height: 69px;
  width: 200px;
}

.container-narrow>hr {
  margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}


/* Supporting marketing content */

.marketing {
  margin: 40px 0;
  p+h4 {
    margin-top: 28px;
  }
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

ul {
  li {
    list-style: none;
  }
}

*:focus {
  outline: none;
}

.snap-content {
  background-color: white;
}

.ajax-overlay {
  background-color: rgba(255, 255, 255, .7);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  .ajax-overlay--center {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.sk-circle {
  width: 80px;
  height: 80px;
  bottom: 50%;
  left: 50%;
  right: 50%;
  top: 50%;
  position: absolute;
  margin: -40px 0 0 -40px;
}

.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: $highlight-red;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.search-container {
  margin-bottom: 0;
  @media screen and (min-width: $mobile-small) {
    margin-bottom: 15px;
  }
}

.navbar-toggle {
  margin-left: 15px;
}

.properties-pager {
  display: inline-block;
  margin-top: 40px;
  width: 100%;
  .properties-pager--results {
    color: $dark-gray;
    text-align: left;
    margin-bottom: 15px;
    @media screen and (min-width: $tablet-small) {
      margin-bottom: 0;
    }
    ul {
      display: inline;
      li {
        cursor: pointer;
        display: inline;
        padding-left: 5px;
        padding-right: 5px;
        &:hover {
          background-color: $white;
        }
        &.active {
          color: $highlight-red;
        }
      }
    }
  }
  .pager-list {
    text-align: center;
    margin-bottom: 15px;
    @media screen and (min-width: $tablet-small) {
      margin-bottom: 0;
    }
    .facet-pagination {
      margin: 0;
      .pagination-page {
        a {
          border: 1px solid $white;
          color: $dark-gray;
          &:hover {
            background-color: $white;
          }
        }
        &.active {
          a {
            background-color: $highlight-red;
            color: $white;
            padding: 5px 10px;
          }
        }
      }
      .pagination-prev,
      .pagination-next {
        a {
          border: 1px solid $white;
          display: none;
          @media screen and (min-width: $tablet-small) {
            display: inline-block;
          }
          &:hover {
            background-color: $white;
          }
        }
      }
    }
  }
}

.top-btn-wrapper {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 32px;
  @media screen and (min-width: $tablet-small) {
    float: right;
  }
}

// Global Elements
.media-ribbon {
  background: url("../images/caldeyro.png") no-repeat;
  height: 64px;
  position: absolute;
  right: 25px;
  top: 0;
  width: 47px;
  z-index: 99;
}

// END
// Sprite icons guide: $position-x, $position-y, $width, $height, $size
.bath-icon {
  @include icon-bg($bath-offset-x,
  $bath-offset-y,
  $bath-width,
  $bath-height);
}

.plus-icon {
  @include icon-bg($plus-gray-offset-x,
  $plus-gray-offset-y,
  $plus-gray-width,
  $plus-gray-height);
}

.minus-icon {
  @include icon-bg($minus-white-offset-x,
  $minus-white-offset-y,
  $minus-white-width,
  $minus-white-height);
}

.bedroom-icon {
  @include icon-bg($rest-offset-x,
  $rest-offset-y,
  $rest-width,
  $rest-height);
}

.area-icon {
  @include icon-bg($perimeter-offset-x,
  $perimeter-offset-y,
  $perimeter-width,
  $perimeter-height);
}

.bathroom-icon {
  @include icon-bg($bath-offset-x,
  $bath-offset-y,
  $bath-width,
  $bath-height);
}

.constructed-icon {
  @include icon-bg($construction-offset-x,
  $construction-offset-y,
  $construction-width,
  $construction-height);
}

.garage-icon {
  @include icon-bg($transport-offset-x,
  $transport-offset-y,
  $transport-width,
  $transport-height);
}

.facebook-icon {
  @include icon-bg($facebook-offset-x,
  $facebook-offset-y,
  $facebook-width,
  $facebook-height);
}

.twitter-icon {
  @include icon-bg($twitter-offset-x,
  $twitter-offset-y,
  $twitter-width,
  $twitter-height);
}

.email-icon {
  @include icon-bg($e-mail-offset-x,
  $e-mail-offset-y,
  $e-mail-width,
  $e-mail-height);
}

.linkedin-icon {
  @include icon-bg($linkedin-offset-x,
  $linkedin-offset-y,
  $linkedin-width,
  $linkedin-height);
}

.googleplus-icon {
  @include icon-bg($google-plus-offset-x,
  $google-plus-offset-y,
  $google-plus-width,
  $google-plus-height);
}

.service-room {
  @include icon-bg($service-room-offset-x,
  $service-room-offset-y,
  $service-room-width,
  $service-room-height);
}

.map-pointer-icon {
  @include icon-bg($map-pointer-offset-x,
  $map-pointer-offset-y,
  $map-pointer-width,
  $map-pointer-height);
  //Property
  background-position: -138px -41px;
  width: 18px;
  height: 18px;
}

.go-top {
  @include icon-bg($arrow-up-offset-x,
  $arrow-up-offset-y,
  $arrow-up-width,
  $arrow-up-height);
}

.magnifying-glass {
  @include icon-bg($lupa-offset-x,
  $lupa-offset-y,
  $lupa-width,
  $lupa-height);
}

.map-area-icon {
  @include icon-bg($map-offset-x,
  $map-offset-y,
  $map-width,
  $map-height);
}

.ic-icon {
  @include icon-bg($ic-offset-x,
  $ic-offset-y,
  $ic-width,
  $ic-height);
}

.stairs-icon {
  @include icon-bg($up-arrow-offset-x,
  $up-arrow-offset-y,
  $up-arrow-width,
  $up-arrow-height);
}

.not-found-divider {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid $pale-gray;
}

// Breadcrumbs
.page-breadcrumbs {
  padding: 20px 0;
  .breadcrumb {
    background: none;
    border-radius: none;
    margin: 0 0 20px 0;
    padding: 0;
    @media screen and (min-width: $tablet-small) {
      margin-bottom: 0;
    }
    >li {
      display: inline;
    }
  }
}

// End Breadcrumbs
.top-left-triangle {
  @include top-left-triangle(34px,
  34px);
}

.text-ellipsis {
  @include text-ellipsis(280px);
}

.hide-on--mobile {
  display: none;
  @media screen and (min-width: $tablet-small) {
    display: inline-block;
  }
}

.hide-on--wide {
  display: inline-block;
  @media screen and (min-width: $tablet-small) {
    display: none;
  }
}

.property-detailed--page {
  margin: 15px 0;
  .clear-filters--wrapper {
    text-align: left;
    @media screen and (min-width: $tablet-small) {
      margin-bottom: 0;
      text-align: right;
    }
  }
  .hide-on--mobile {
    display: inline-block;
  }
  .hide-on--wide {
    display: none;
  }
}

.pointer {
  cursor: pointer;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.visuallyhidden {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.h1-title {
  font-size: 22px;
}