.header {
  position: relative;
}
// Header Main page
.header-home {
  background-color: $black;
  padding-bottom: 0;
  @media screen and (min-width: $tablet-small) {
    background: url(../images/header-bg.jpg) no-repeat 50% 14%;
    background-size: cover;
    height: 450px;
  }
  .caldeyro-navbar--items {
    float: left;
    margin-top: 0;
    position: relative;
    @media screen and (min-width: $tablet-large) {
      margin-top: 20px;
    }
  }
  .language-selector {
    margin: 0;
    @media screen and (min-width: $tablet-large) {
      margin-right: 12px;
      margin-top: 3px;
    }
  }
  .header--info-container {
     align-items: flex-end;
     flex-flow: column nowrap;
    @media screen and (min-width: $tablet-large) {
      align-items: flex-start;
      flex-flow: row nowrap;
    } 
  }
}
//Header shadow
.header-shadow {
  background: url(../images/header-shadow.png) repeat-x center bottom;
  height: 100%;
  position: absolute;
  width: 100%;

  //Modify position for internal pages
  .header-page & {
    background-position: 0 70%;
  }
}

// Header arrangements
.header-home {
  .header-caldeyro-main-menu {
    @media screen and (min-width: $tablet-small) {
      float: right;
      width: auto;
    }
  }
}
.header-page {
  background-color: $black;
  height: auto;
  @media screen and (min-width: $tablet-small) {
    background: transparent url(../images/header-bg.jpg) no-repeat 0 50%;
    background-size: cover;
  }
  @media screen and (min-width: $tablet-large) {
    height: 100px;
  }
  .header-caldeyro-main-menu {
    @media screen and (min-width: $tablet-small) {
      float: right;
      width: auto;
    }
    @media screen and (min-width: $tablet-large) {
      margin-top: 0;
      width: 20%;
    }
    @media screen and (min-width: $desktop-mid){
      margin-top: 20px;
      width: 25%;
    }
  }
}
.caldeyro-navbar {
  @media screen and (min-width: $tablet-large){
    background: transparent url(../images/header-black-cover.png) no-repeat -500px 0;
  }
  @media screen and (min-width: $desktop){
    background-position: -420px 0;
  }
  @media screen and (min-width: 1600px){
    background-position: -220px 0;
  }
  @media screen and (min-width: 1800px){
    background-position: -120px 0;
  }
  @media screen and (min-width: 2300px){
    background-position: 0 0;
  }
}

.header-home .caldeyro-navbar {
  background: none;
}

.header-caldeyro-main-menu {
  float: left;
  margin-top: 12px;
  width: auto;
  .navbar-toggle {
    &.collapsed {
      background-color: $black;
      .icon-bar {
        background-color: $white;
      }
    }
    margin-left: 0;
    margin-top: 0;
    .icon-bar {
      border-radius: 2px;
      height: 7px;
      width: 40px;
      & + .icon-bar {
        margin-top: 6px;
      }
    }
  }
}
.header-main-logo {
  display: inline-block;
  margin: 0 auto;
  width: auto;
  @media screen and (min-width: $tablet-small) {
    float: left;
    margin: 0 auto;
    width: 300px;
  }
}
.header-search-bar {
  display: none;
  margin: 0 auto;
  max-width: 500px;
  padding: 30px 0;
  @media screen and (min-width: $tablet-small) {
    display: block;
  }
  @media screen and (min-width: $tablet-large) {
    float: left;
    margin-left: 2%;
    padding: 0;
    max-width: 430px;
  }
  @media screen and (min-width: $desktop-mid){
    max-width: 500px;
  }
}
.header-page--clear {
    clear: both;
    @media screen and (min-width: $tablet-large) {
      clear: none;
    }
}
.header-page {
  .header--info-container {
    align-items: flex-start;
    flex-flow: row nowrap;
    @media screen and (min-width: $tablet-large) {
      align-items: flex-end;
      flex-flow: column nowrap;
    }  
    @media screen and (min-width: $desktop-mid) {
      flex-flow: row nowrap;
      align-items: flex-start;
    }
  }
  .caldeyro--search-bar {
    @media screen and (min-width: $tablet-large) {
      margin-left: 35px;
      margin-top: 35px;
    }

    @media screen and (max-width: 530px) {
      input {
        width: calc(100% - 44px);
        border-radius: 25px 0 0 25px!important;
      }
      .input-group-btn {
        display: inline;
        .btn.action-search.dropdown-toggle {
          width: calc(100% - 40px);
          border-radius: 25px 0 0 25px;
        }
      }
    }
  }
  .caldeyro-navbar--items {
    padding: 0;
    position: relative;
    text-align: right; 
  }
  .delimiter {
    background-color: transparent;
    border-bottom: none;
    display: inline-block;
    width: 100%;
    .col-md-3,
    .col-md-4 {
      padding: 0;
    }
  }
}

// Header fixes
.caldeyro-header__fixed {
  box-shadow: 0 4px 10px -4px #333;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;

  .header-page {
    background-position: 0 45%;
  }
}

//Force snapcontent down
.header__fixed {
  margin-top: 100px;
}

// END

// Header Global
.main-logo {
  img {
    max-width: 300px;
    padding-top: 15px;
  }
}
.language-selector {
  margin-top: 3px;
  text-transform: uppercase;
  &.navbar-info {
    display: block;
    margin: 5px 0;
  }
  .language-btn {
    @include transparent-btn();
    color: $black;
    display: inline-block;
    font-size: 12px;
    &.active,
    &:hover {
      @include transparent-btn();
      color: $highlight-red;
      &:hover {
        box-shadow: none;
      }
    }
  }
}
.header--info-container {
  display: flex;
}
.navbar-info {
  display: inline-block;
  vertical-align: top;
}
.caldeyro--phone-number {
  background-color: $dark-gray;
  color: $white;
  font-size: 14px;
  display: inline-block;
  height: 25px;
  width: 160px;
  padding: 3px 12px;
  text-align: center;
  @media screen and ($desktop-mid) {
    width: auto;
  }
  a, 
  a:hover,
  a:focus {
    text-decoration: none;
    color: $white;
  }
}
.caldeyro--action-dropdown {
  display: inline-block;
  margin: 0;
  .btn {
    @include highlight-btn($white, $white, $highlight-red, $highlight-red, 25px);
    width: 160px;
    @media screen and (min-width: $desktop-mid) {
      width: auto;
    }
    div {
      display: inline-block;
    }
  }
  .dropdown-menu {
    top: 35px;
  }
}
.caldeyro--search-bar {
  max-width: 600px;
  margin: 0 auto;
  width: 80%;
  .form-control {
    border-radius: 25px;
    border: 1px solid $std-lite-gray;
    box-shadow: none;
    color: $title-light-gray;
    font-size: 12px;
    height: 40px;
    padding-left: 20px;
    text-transform: uppercase;
  }
  button {
    height: 40px;
    text-transform: uppercase;
  }
  .action-search {
    background: $white;
    border-radius: 0;
    border-left: 1px solid $std-lite-gray;
    border-top: 1px solid $std-lite-gray;
    border-bottom: 1px solid $std-lite-gray;
    color: $title-light-gray;
    font-size: 12px;
    padding: 0 15px;
    &:hover {
      color: $std-lite-gray;
    }
  }
  .search-btn {
    background: $highlight-red;
    border-radius: 0 25px 25px 0;
    color: $white;
    font-size: 20px;
    padding-top: 6px;
    padding-left: 5px;
    width: 45px;
    &:hover,
    &:focus {
      color: $white;
    }
  }
  .dropdown-menu {
    margin-top: -1px;
  }
}
.search-panel {
  background: url(../images/header-bg.jpg) no-repeat 0 -60px;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 50px;
  @media screen and (min-width: $tablet-small) {
    background: none;
  }
  @media screen and (min-width: $desktop-mid) {
    padding-top: 120px;
  }

}
.search-panel-responsive {
  display: block;
  @media screen and (min-width: $tablet-small) {
    display: none;
  }
}
.navbar-toggle.collapsed {
  background-color: #fff;
  .icon-bar {
    background-color: #000;
  }
}
.main-logo {
  height: 100px;
  position: relative;
  z-index: 1;
  & > a {
    display: inline-block;
    height: 100px;
    position: relative;
    width: 220px;
    @media screen and (min-width: $mobile-small) {
      width: 300px;
    }
  }
  & > .plain-logo-container {
    background: url(../images/logo-trans.png) no-repeat 50% 50%;
    background-size: 90%;
    @media screen and (min-width: $tablet-small) {
      background: url(../images/logo.png) no-repeat 0 12px;
      background-size: contain;
    }
  }
  & > .diagonal-border-container {
    background: url(../images/logo-trans.png) no-repeat 50% 50%;
    background-size: 90%;
    @media screen and (min-width: $tablet-small) {
      background: url(../images/logo.png) no-repeat 0 12px;
      background-size: contain;
    }
    @media screen and (min-width: $tablet-large) {
      background: url(../images/logo-trans.png) no-repeat 50% 50%;
      background-size: 90%;
    }
    @media screen and (min-width: $desktop-mid) {
      height: 100px;
    }
  }
  & > .diagonal-border-container::before {
    content: none;
    @media screen and (min-width: $tablet-large) {
      @include diagonal-border($black, $white, 10px, $highlight-red, .7em, 1deg, 0, -7px, 0, 0);
      transform-origin: bottom left;
    }
  }
}
