.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: -100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
  width: 240px;
}

.dropdown-submenu>a:before {
  display: block;
  content: " ";
  float: left;
  border-color: transparent;
  border-style: solid;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #ccc;
  margin-top: 3px;
  margin-left: -15px;
}

.dropdown-submenu:hover>a:before {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.dropdown-menu {
  min-width: 250px;
  li {
    a {
      text-transform: uppercase;
    }
  }
}

.submenu-dropdown {
  padding: 5px 10px 0px 10px;
  &.dropdown-menu {
    border-radius: 6px 0 6px 6px;
  }
  li {
    padding: 5px 0;
    a {
      padding: 3px 5px;
      color: black;
      white-space: normal;
    }
  }
}