.property-slider--container {
  margin-bottom: 15px;
  position: relative;
}
.property-body--inner {
  .title {
    color: $highlight-red;
    margin-bottom: 15px;
  }
}
  .property-slider--most-viewd {
  li {
  width: 100px;
  }
}
.property-header--track {
  padding: 0;
  padding-bottom: 10px;
  span {
    display: inline-block;
    text-transform: Capitalize;
    &:last-child {
      text-transform: lowercase;
    }

    &.blue-highlight {
      text-transform: Capitalize;
    }
  }
  .property-ref {
    color: $dark-gray;
    border-right: 1px solid $std-lite-gray;
    font-weight: 600;
    padding-right: 10px;
    text-transform: uppercase;

    &.no-border {
      border: none;
    }
  }
  .property-status {
    padding: 0 10px;
  }
  .lot-detail {
    border-left: 1px solid $std-lite-gray;
    padding-left: 10px;
  }
}
.property-header {
  .property--title {
    .media-heading {
      color: $highlight-red;
    }
  }
}
.property--detailed-info {
  //margin-top: -45px;
  .property-prices {
    border-right: 1px solid transparent;
    color: $white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;

    &.complex {
      font-size: 12px;

      .property-sale.complex,
      .property-rent.complex {
        font-size: 14px;
        background-color: $highlight-red;
        border-right: 1px solid transparent;
        padding: 5px 10px;
        margin: 0;
        span {
          display: inline-block;
          margin: 0;
        }
      }
    }

    .property-sale,
    .property-rent {
      background-color: $highlight-red;
      border-right: 1px solid transparent;
      padding: 10px 30px;
      margin: 0;
      span {
        display: block;
        margin: 0;
      }

      &.separator {
        border-right: 2px solid white;
      }
    }
  }
  .grouped:first-child {
    padding-bottom: 15px;
    position: relative;
  }
  .property-attributes {
    margin-left: 0;
    width: 100%;
  }
  .location-item {
    margin-left: 0;
  }
  .property-footer {
    border-bottom: 2px solid $std-lite-gray;
    display: inline-block;
    padding-bottom: 10px;
    vertical-align: middle;
    width: 68%;
    width: calc(100% - 85px);
    @media screen and (min-width: $tablet-large) {
      vertical-align: bottom;
      width: 82%;
      width: calc(100% - 85px);
    }

    &.complex {
      border-bottom: none;
      padding-bottom: none;
      bottom: 0;
    }
  }
}
.property-characteristics {
  .title {
    color: $highlight-red;
  }
  .body {
    color: $white;
    font-weight: 100;
  }
}

.attr-item {
  .grouped {
    display: inline-block;
    height: auto;
    margin-left: 2px;
    vertical-align: top;
    @media screen and (min-width: $tablet-large) {
    }
  }
  &:nth-child(5n+5) {
    clear: both;
  }
}

.pdf-info-wrapper {
  background-color: $white;
  display: inline-block;
  height: 75px;
  text-align: right;
  width: 75px;
  &.complex {
    position: absolute;
    top: 10px;
    right: 0;
  }
}
.property--more-viewed--panel {
  .title {
    background-color: $shadow-gray;
    color: $dark-gray;
    font-size: 0.9em;
    margin-bottom: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
  }
}

.social-media {
  background-color: $bg-light-gray;
  padding: 10px 12px;
  position: absolute;
  top: 50px;
  z-index: 99;
  &.xs {
    position: initial;
    .social-media__item {
      display: inline;
      padding: 5px 10px;
    }

    .social-media__list {
      margin-bottom: 0;
      text-align: center;
    }
  }
  .social-media__list {
    margin: 0;
    padding: 0;
  }
  .social-media__item {
    padding: 5px 0;
  }
}
.property-footer--item {
  display: inline-block;
  width: 100%;
  @media screen and (min-width: $tablet-small) {
    margin-right: 20px;
    width: auto;
  }
}
.property-body {
  margin-top: 40px;
}
.property-map--location {
      margin-top: 45px;
      margin-bottom: 40px;
}


.media-body {
  &.complex {
    overflow: hidden;
  }
}

ul.more-characteristics {
  padding-left: 15px;
  margin-bottom: 15px;
  li {
    list-style: initial;
    margin-bottom: 10px;
  }
}


.blue-highlight {
  color: #4C9BC6;
}

.attr-two-line {
  line-height: 15px;
}