snap-content,
[snap\:content],
[snap-content],
[data-snap-content],
[x-snap-content],
.snap-content,
.x-snap-content,
snap-drawers,
[snap\:drawers],
[snap-drawers],
[data-snap-drawers],
[x-snap-drawers],
.snap-drawers,
.x-snap-drawers,
.snap-drawers,
.snap-content {
  position: fixed;
  height: auto;
  top: 0;
  bottom: 0;
  width: auto;
  left: 0;
  right: 0;
}
.snap-drawer {
  background-color: $black;
  width: 266px;
  ul {
    padding: 0;
  }
  li {
    border-bottom: 1px solid $pale-black;
    list-style: none;

    > a {
      padding: 12px 5px 12px 20px;
    }
  }
  .panel-title > a {
    padding: 12px 5px 12px 20px;
  }
  li:last-child {
    border-bottom: 1px solid transparent;
  }
  a {
    color: $white;
    display: inline-block;
    font-size: 16px;
    padding: 12px 5px;
    text-transform: uppercase;
  }
  a:hover,
  a:focus {
    color: $white;
    text-decoration: none;
  }
  .wrapper--mobile-menu {
    width: 100%;  
  }
  .submenu-panel-body {
    padding-left: 10px;
  }
}
.responsive--info-container {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 20px;
}
.responsive--language-dropdown {
  background: $highlight-red;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 75%;
  .btn {
    @include transparent-btn();
    color: $white;
    font-weight: 500;
    padding-top: 10px;
    text-transform: uppercase;
    &:hover,
    &:focus {
      color: $white;
    }
  }
  .dropdown-menu {
    border-radius: 0;
    li {
      border-bottom: $std-lite-gray;
      padding: 7px;
      text-transform: uppercase;
      &:hover {
        background-color: $highlight-red;
        color: $white;
      }
    }
  }
}
.responsive--phone-number {
  background: $std-lite-gray;
  display: inline-block;
  width: 100%;
  span {
    color: $white;
    padding: 0 6px;
    text-align: center;
    a {
      font-size: 15px
    }
  }
}
.mobile-menu {
  margin-top: 50px;
  .submenu {
    .panel {
      background-color: transparent;
      margin-bottom: 0;
    }
    .panel-default {
      border-color: transparent;
      .panel-heading {
        background-color: transparent;
        padding: 0;
        .accordion-toggle {
          width: 100%;
        }
      }
    }
    .panel-group {
      margin-bottom: 0;
    }
    .glyphicon {
      color: $highlight-red;
      margin-top: 12px;
    }
  }
}
