.facets-display--responsive,
.facets-display--full {
  width: 100%;
}
.filter-trigger {
  width: 100%
}
.filter-open--wrapper {
  background: $white;
  font-size: 16px;
  padding: 15px 0;
  .filter-open {
    color: $std-blue;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: right;
  }
}
.facet-filter--container {
  .facet-region {
    background-color: $bg-light-gray;
    padding: 0;
    @media screen and (min-width: $tablet-small) {
      background-color: $white;
    }
  }
}
.filter-close {
  border-bottom: 1px solid $border-gray;
  color: $std-blue;
  margin-bottom: 15px;
  padding: 15px 5px;
}
.facets-display--responsive {
  all-results {
    width: 100%;
  }
  .form-control.property-sort {
    border-color: #DDDDDD;
    border-radius: 3px;
    color: $highlight-red;
    height: 50px;
  }
}
.clear-filters--btn {
  background: $dark-gray;
  color: white;
  font-size: 1.1em;
  padding: 12px 0;
  width: 95%;
}
// Factes accordion
.facet-categories-wrapper {
  h3 {
    font-weight: 600;
    padding: 0 5px;
    text-transform: uppercase;
  }
  .facet-categories {
    li {
      margin: 0;
      padding: 0;
      margin-top: -1px;
    }

    .panel-default > .panel-heading {
      background-color: $white;
    }
  }

  > .facet-categories > li {
    @media screen and (min-width: $tablet-small) {
      margin-bottom: 20px;
    }
  }
}
.facet-filter--responsive {
  .facet-category {
    display: inline-block;
    text-transform: capitalize;
    width: 90%;
  }
  .facet-active-filters {
    color: $highlight-red;
  }
}
.facet-filter--responsive {
  width: 100%;
}
.facet-mobile--accordion_item {
  .panel-group {
    padding: 0 5px;
    margin: 0;
    i {
      margin-top: 8px;
    }
  }
}
