.search-results--container {
  .search-region {
    padding: 0;
  }
}

.properties-results {
  margin-top: 30px;
}

.property-list {
  margin: 0;
  padding: 0;
  &.row {
    margin: 0;
  }
  .property {
    padding-left: 0;
    padding-right: 0;
  }
  //Add padding left/right when
  .property--grid {
    @media screen and (min-width: $tablet-large) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .property:nth-child(2n+1) {
    clear: both;
  }
}

.form-control {
  &.property-sort {
    border: 1px solid $std-lite-gray;
    color: $std-gray;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 20px;
    width: 100%;
    @media screen and (min-width: $tablet-small) {
      width: 240px;
    }
  }
}

.property {
  margin-bottom: 10px;
}

.property-row {
  flex-direction: column;
  min-height: 255px;
  -webkit-flex-direction: column;
  @media screen and (min-width: $tablet-large) {
    flex-direction: row;
    -webkit-flex-direction: row;
  }
  .media-body {
    .property-footer {
      width: 100%;
    }
  }
  .property-info {
    padding-left: 0;
    @media screen and (min-width: $tablet-large) {
      padding: 0;
      margin-top: 0;
    }
  }
}

.property-grid {
  flex-direction: column;
  -webkit-flex-direction: column;
  .media-body {
    .property-actions {
      position: absolute;
      top: 0;
    }
    .property-footer {
      padding-top: 32px;
      position: relative;
    }
  }
  .property-info {
    padding-left: 0;
  }
  .property-details {
    background-color: transparent;
    margin-top: -45px;
    position: relative;
    padding: 0;
    z-index: 2;
    .property-header,
    .property-body {
      padding: 18px 10px 0 20px;
    }
    .property-header {
      background-color: rgba(0, 0, 0, 0.6);
    }
    .property-body {
      background-color: $dark-gray;
    }
    .property-view-btn {
      bottom: 0;
      padding-bottom: 15px;
      position: relative;
      right: 0;
    }
  }
}

.property-media {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 30px;
  padding: 0;
  -webkit-justify-content: flex-start;
  -webkit-align-items: stretch;
  -webkit-align-content: stretch;
  -webkit-flex-wrap: nowrap;
  @include transition(box-shadow 0.3s ease-in);
  .media-left,
  .media-body {
    display: block;
    align-self: auto;
    flex-grow: 0;
    flex-basis: auto;
    flex-shrink: 1;
    order: 0;
    overflow: visible;
    -webkit-order: 0;
    -webkit-flex-grow: 0;
    -webkit-flex-shrink: 1;
    -webkit-flex-basis: auto;
    -webkit-align-self: auto;
    width: 100%;
  }
  .media-left {
    padding: 0;
  }
}

.media-left {
  display: inline-block;
  position: relative;
  img {
    @include responsive-img();
  }
}

.media-body {
  position: relative;
  .property-footer {
    bottom: 0;
    position: relative;
    width: 100%;
    @media screen and (min-width: $tablet-large) {
      position: absolute;
    }
  }
}

.property-info {
  .property--search-title {
    background: transparent url(../images/property-box.png) no-repeat 100% 0;
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    .media--search-heading,
    .property-ref {
      text-transform: uppercase;
      line-height: 36px;
      padding: 0 8px 0 0;
      @media screen and (min-width: $tablet-small) {
        padding: 0 10px 0 0;
      }
    }
    .media--search-heading {
      a {
        color: $white;
        text-decoration: none;
      }
      color: $white;
      display: inline-block;
      font-size: 16px;
      margin: 0;
      padding: 0 8px 0 25px;
      text-transform: uppercase;
      width: 230px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      @media screen and (min-width: 350px) {
        width: 280px;
      }
      @media screen and (min-width: $mobile-small) {
        width: 320px;
      }
      @media screen and (min-width: $mobile-middle) {
        width: 380px;
      }
      @media screen and (min-width: $tablet-large) {
        width: 260px;
      }
      @media screen and (min-width: $desktop-mid) {
        width: 310px;
      }
    }
    .property-ref {
      text-transform: uppercase;
      display: inline-block;
      text-align: right;
      width: 85px;
    }
  }
}

.property--search-title {
  .title-wrapper {
    background-color: $black;
    background-image: url(../images/bg-diagonal.png);
    background-position: top right;
    background-repeat: no-repeat;
    display: inline-block;
    max-height: 36px;
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 1;
  }
}

.property-details {
  background-color: $dark-gray;
  line-height: 15px;
  min-height: 238px;
  overflow: hidden;
  padding: 18px 10px 0 20px;
  padding-left: 10px;
  .property--title {
    h4 {
      color: $white;
    }
  }
  p {
    color: $white;
  }
  .property-view-btn {
    bottom: 15px;
    margin-top: 25px;
    position: absolute;
    right: 10px;
    text-align: right;
  }
}

.property--title {
  display: inline-block;
  max-width: 320px;
  &.full {
    width: 100%;
    max-width: inherit;
  }
  vertical-align: top;
  h4 {
    color: $dark-gray;
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.location-item {
  margin-left: 25px;
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.property-location {
  color: $std-gray;
  display: inline;
  height: 18px;
  margin: 0 0 0 -5px;
  vertical-align: bottom;
}

.property-ref {
  text-transform: uppercase;
  color: $std-gray;
}

.property-attribute {
  margin-right: 5px;
}

.property-attributes {
  color: $gray-icon;
  display: inline-block;
  margin-left: 25px;
  margin-top: 15px;
  vertical-align: middle;
  &>div {
    margin-bottom: 5px;
  }
}

.attr-item {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  margin-right: 15px;
  padding: 0;
  vertical-align: top;
  &:last-of-type {
    margin-right: 0;
  }
  span {
    font-weight: 600;
    vertical-align: top;
  }
}

.attr-value {
  color: $black;
  margin-right: 0;
}

.property-actions {
  display: flex;
}

.lot-info,
.property-view-btn {
  display: inline-block;
  width: 100%;
  color: black;
}

.lot-info {
  margin-bottom: 5px;
  padding-left: 25px;
  padding-top: 6px;
  text-align: left;
  color: #5f9dd1;
}

.property-view-btn {
  text-align: right;
  button {
    @include transparent-btn();
    @include highlight-btn($white, $white, $highlight-red, $highlight-red, 30px);
  }
}

.property-prices {
  background-color: $highlight-red;
  display: flex;
  &.full {
    display: block;
    .property-sale,
    .property-rent {
      width: 100%;
      text-align: left;
      padding: 10px 20px 5px 20px;
      span.detail {
        display: inline;
      }
    }
  }
  .property-sale,
  .property-rent {
    color: $white;
    display: inline-block;
    font-size: 14px;
    padding: 5px 10px 5px 25px;
    padding-right: 0;
    text-align: left;
    text-overflow: clip;
    width: 50%;
    white-space: nowrap;
    margin-right: 5px;
    span:last-child {
      margin-left: 5px;
    }
    &.full {
      width: 100%;
      text-align: left;
      margin-right: 10px;
    }
  }
  .separator {
    background-color: $highlight-red;
    color: $white;
    display: inline-block;
    font-size: 20px;
    line-height: 32px;
  }
}

.property-share--email,
.property-share--linkedin,
.property-share--pinterest,
.property-share--twitter,
.property-share--facebook {
  color: $gray-icon;
  cursor: pointer;
  font-size: 18px;
}

.property-share--email:hover {
  color: $orange;
}

.property-share--pinterest:hover {
  color: $pinterest-color;
}

.property-share--linkedin:hover {
  color: $linkedin-color;
}

.property-share--twitter:hover {
  color: $twitter-color;
}

.property-share--facebook:hover {
  color: $facebook-color;
}

.media.property-grid {
  img {
    @include responsive-img();
    zoom: 2;
  }
  .property-description {
    background-color: $orange;
    color: white;
    font-weight: 300;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

.property--more-info,
.property-price {
  color: $orange;
}

.property-price {
  bottom: 5px;
  font-size: 12px;
  text-transform: uppercase;
  &:nth-child(n+2) {
    margin-top: 10px;
  }
}

.property-share {
  @include transition(opacity 0.4s ease-in);
  opacity: 0;
  img {
    cursor: pointer;
  }
  .property-pdf {
    color: $orange;
    margin-left: 10px;
  }
}

.property--view-more {
  cursor: pointer;
  display: none;
  float: right;
  font-size: 24px;
}

.status-info {
  font-weight: 600;
  margin-top: 5px;
  padding-left: 25px;
  display: block;
  color: black;
  span {
    color: black;
  }
  span:last-child {
    text-transform: lowercase;
  }
}

.delete-all-filters--wrapper {
  margin-bottom: 10px;
  span.glyphicon {
    color: $highlight-red;
  }
}

.property-link {
  text-decoration: none;
  display: block;
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}

.property-link-inline {
  text-decoration: none;
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}