.static-page--hero {
  width: 100%;
}

.static-page--title {
  background-color: $std-gray;
  color: white;
  margin-top: 0;
  padding: 10px 0;
  h2 {
    text-transform: uppercase;
    padding-left: 10px;
    @media screen and (min-width: $tablet-large) {
      padding-left: 0;
    }
  }
}

.static-page--main {
  overflow-x: hidden;
}

.static-page--content {
  margin-top: 50px;
  padding: 0 10px;
  @media screen and (min-width: $tablet-large) {
    padding: 0;
  }
  strong {
    color: $highlight-red;
  }
  img {
    @include responsive-img();
  }
  p {
    font-size: 15px;
    color: $title-dark-gray;
  }
}

.static-page--accordion {
  background-color: $bg-light-gray;
  padding-bottom: 5px;
}

.static-page--accordion_item {
  .panel-group {
    margin: 0;
    .panel-default {
      .panel-collapse {
        .panel-body {
          border-top: 1px solid transparent;
          padding: 0;
          padding-left: 15px;
          ul {
            padding: 0;
          }
        }
      }
    }
  }
  .panel-default {
    @include transparent-btn();
    .panel-heading {
      @include transparent-btn();
    }
  }
}

.accordion-main--item,
.accordion-sub--item {
  color: $std-gray;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  vertical-align: top;
  width: 85%;
  &.active {
    color: $highlight-red;
  }
}

.accordion-sub--item {
  margin: 5px 0 5px 15px;
}

.accordion-pointer {
  @include right-triangle(5px, 5px, $highlight-red);
  margin-right: 5px;
}

.accordion-bottom-triangle {
  @include bottom-triangle(25px, 60px, $bg-light-gray);
  margin: 0 auto;
}

.static-page--info {
  margin: 35px 0;
  h4 {
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  p {
    color: $std-gray;
    margin: 0;
  }
}