$black: black;
$blue: #55ACEE;
$green: #009036;
$lightgrey: lightgrey;
$ligthergrey: #F2F3F4;
$white: white;
$dark-grey: #22262E;
$dark-lue: #293341;
$icon-background: #2C2F3D;
$content-text: #78787E;