.view-id-document_types.view-display-id-block_bar_list {

  .views-row {
    padding: 10px 30px;
    border: 0.5px solid $lightgrey;
    border-bottom: none;
    display: flex;
    align-items: center;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:last-child {
      border-bottom: 0.5px solid $lightgrey;
    }

    &:hover {
      box-shadow: 0px 0px 20px rgba(0, 144, 54, 0.25), 0 0px 20px rgba(0, 144, 54, 0.22);
      border-left: 12px solid $green;
      margin-left: -10px;

      > .views-field a,
      > .views-field span {
        font-weight: $bold;
      }
    }

    > .views-field {
      display: inline-block;

      &.views-field-name {
        flex-grow: 1;
      }

      &.views-field-filemime {
        margin-right: 20px;
      }

      &.views-field-filesize span {
        font-size: 13.5px;
      }

      a {
        color: $blue;

        &:hover {
          color: $blue;
        }
      }
    }
  }
}

.view-id-document_types.view-display-id-block_dot_list {

  .views-row {
    padding: 10px 30px;
    border-bottom: 0.5px solid $lightgrey;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

    &:hover {
      box-shadow: 0px 0px 20px rgba(0, 144, 54, 0.25), 0 0px 20px rgba(0, 144, 54, 0.22);

      > .views-field {

        &.views-field-name >.field-content {
          margin-left: 20px;
        }

        a {
          font-weight: $bold;
        }
      }
    }

    > .views-field {

      &.views-field-name {

        &:before {
          color: $green;
          content: "\2022";
          font-size: 1em;
          padding-right: 1.1225em;
          position: relative;
          top: 0em;
        }

        >.field-content {
          transition: margin-left 0.5s ease;
        }
      }

      a {
        color: $blue;

        &:hover {
          color: $blue;
        }
      }
    }
  }
}