.view-employees {

  > .view-filters {
    margin-bottom: 50px;

    > .bef-exposed-form {

      > .form--inline > .form-radios {

        > .form-radios {
          display: flex;
          align-items: center;
          justify-content: left;
          flex-wrap: wrap;
          border-bottom: 1px solid $lightgrey;

          .form-item.form-type-radio {
            margin: 0 20px 12px 0;

            @include breakpoint($xsmall) {
              margin: 0 20px 0 0;
            }

            input.form-radio {
              display: none;

              &:checked ~ label.option {
                color: $dark-grey;

                &:after {
                  content: "";
                  border-bottom: 2px solid $green;
                  position: relative;
                  display: block;
                  margin-top: 5px;
                }
              }
            }

            label.option {
              font-weight: 500;
              text-transform: uppercase;
              color: $lightgrey;
              cursor: pointer;
              line-height: 1.5;
            }
          }
        }

      }
    }
  }

  > .view-content {

    > .views-view-grid.horizontal {

      > .columns {
        padding: 0 20px;

        @include breakpoint($xsmall) {
          padding: 0 100px;
        }
      }
    }
  }

  .card-item-container {
    border: 0.5px solid $lightgrey;

    .image-container {

      img {
        width: 100%;
      }
    }

    .info-container {
      padding: 24px;
      line-height: 1.5;
      font-weight: 500;
      text-transform: capitalize;

      .position-container {
        color: $green;
      }
    }
  }
}