.view-events.view-display-id-block_list,
.view-display-id-block_month {

  .view-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;

    .bef-exposed-form {

      .form--inline {
        border: 1px solid $lightgrey;
        padding: 10px;

        > .form-item {
          margin: 0;
        }
      }

      select {
        background: $white;
        border: none;
        color: $green;
        text-transform: uppercase;
        font-weight: 500;
      }
    }

    .display-container {

      .label {
        font-weight: 500;
        text-transform: capitalize;
        font-size: 12px;
      }

      .options-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: $green;
        color: $white;
        padding: 5px 10px;
        border-radius: 3px;

        .fa {
          margin-right: 20px;
          cursor: pointer;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.view-events.view-display-id-block_list {

  .view-content {

    .views-row {
      margin-bottom: 50px;
    }
  }
}

.view-display-id-block_slider {

  > div {

    > div.flexslider {
      border: 0;
      margin: 0;
    }
  }
}

.view-display-id-block_month {

  .view-content {
    padding: 30px 50px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    .view-header {
      margin-bottom: 50px;

      .title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        color: $content-text;
      }

      .pager {
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 42px;

        .js-pager__items {
          display: flex;
          align-items: center;
          justify-content: center;

          .pager__item {

            > a {
              position: relative;
              display: inline-block;

              &:before {
                font-family: "FontAwesome";
                color: $green;
                font-weight: 600;
              }

              > span {
                display: none;
              }
            }

            &.pager__item--previous > a:before {
              content: "\f104";
            }

            &.pager__item--next > a:before {
              content: "\f105";
            }

            &.pager__item--current {
              border: 0.5px solid $lightgrey;
              color: $content-text;
              padding: 10px;
              text-align: center;

              @include breakpoint(400px) {
                padding: 10px 20px;
              }

              &:before {
                font-family: "FontAwesome";
                color: $green;
                font-weight: 600;
                content: "\f073";
                margin-right: 10px;
              }
            }
          }
        }
      }
    }

    .calendar-calendar {
      overflow-x: auto;

      @include breakpoint($xsmall) {
        overflow: hidden;
      }

      th.days {
        background: none;
        border: none;
        text-align: left;
        padding-left: 12px;
        padding-bottom: 20px;
        text-transform: uppercase;
        font-weight: 600;
      }

      td {
        color: #355A6D;
        font-weight: 500;
        min-width: 150px;
        min-height: 45px;
      }

      td.empty {
        color: #C4C4C4;
      }

      td .inner div.day a {
        color: #355A6D;
        font-weight: 500;
      }

      .month-view {

        .full tr.date-box {
          height: 30px;
          max-height: 30px;
        }

        .full tr.single-day {
          height: 90px;
        }

        .full td.single-day .inner div a,
        .full td.multi-day .inner div a {
          color: $white;
          background-color: $green;
          padding: 5px;
          display: inline-block;
          border-radius: 3px;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 13px;
          margin-bottom: 5px;
          text-decoration: none;
        }

        .full td.single-day.empty {
          background: none;
        }

        .full td.date-box.empty {
          background: none;
        }

        .full td.date-box.today,
        .full tr td.single-day.today {
          border-color: $green;
        }
      }
    }
  }
}