.view-important-announcements {

  .view-filters {
    margin-bottom: 70px;

    .bef-exposed-form {

      .form--inline {
        border: 1px solid $lightgrey;
        border-radius: 5px;
        background-color: #F8FAFB;
        padding: 10px;
        display: inline-block;

        > .form-item {
          margin: 0;
        }
      }

      select {
        background-color: #F8FAFB;
        border: none;
        color: $black;
        text-transform: uppercase;
        font-weight: 500;
        width: 100%;
        max-width: 300px;
      }
    }
  }

  .view-content {

    .views-row {
      margin-bottom: 50px;

      &:after {
        content: "";
        display: block;
        border: 0.5px solid $lightgrey;
        margin-top: 30px;
        margin-left: 25px;
      }
    }
  }
}