.view-news {

  .view-content {

    > .views-row {
      padding-bottom: 35px;
      border-bottom: 2px solid $green;
      margin-bottom: 50px;
      max-width: 650px;

      &:last-child {
        border: none;
      }
    }
  }
}