.view-popular-categories {

  .view-content {

    .views-row {
      margin-bottom: 10px;

      .views-field-uuid {
        display: inline-block;
        margin-right: 8px;

        .field-content {
          background-color: $green;
          color: $white;
          font-weight: 600;
          line-height: 1;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;
          padding: 0;
          font-size: 13px;
        }
      }

      .views-field-name {

        .field-content {

          a {
            color:#9D9D9D;
            font-weight: 500;
            text-decoration: none;
          }
        }
      }
    }
  }
}