.view-promotions.view-display-id-block_list {

  .view-filters {

    .section {
      background-color: $green;
      padding: 0;
      line-height: 2.5;
    }

    .bef-exposed-form {

      > .form--inline > .form-radios {

        > .form-radios {

          > div {
            display: inline-block;
          }

          .form-item.form-type-radio {

            input.form-radio {
              display: none;

              &:checked ~ label.option {
                color: #46F293;
              }
            }

            label.option {
              font-weight: 500;
              text-transform: uppercase;
              color: $white;
              cursor: pointer;
              line-height: 1.5;
            }
          }
        }

      }

      .form-actions {
        margin: 0;
        padding: 0;
      }
    }
  }

  .view-content {
    margin-top: 80px;

    .views-row {
      margin-bottom: 0;

      &.even {

        .content-container {
          text-align: right;
        }
      }
    }

    .image-container {

      img {
        width: 100%;
      }
    }

    .content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      max-width: 600px;
      margin: 0 auto;
      text-align: left;
      padding: 50px;

      .description-container {
        line-height: 1.5;
        margin-bottom: 20px;
      }

      .button-container {

        .button {
          @include button;
          font-size: 13px;
        }
      }
    }
  }
}

.view-promotions.view-display-id-block_slider {

  .view-content > div {

    > div.flexslider {
      margin-bottom: 0;
      border: 0;
    }
  }
}