.view-products.view-display-id-block_products_list {

  .view-filters {

    .section {
      background-color: $green;
      padding: 0;
      line-height: 2.5;
    }

    .bef-exposed-form {

      > .form--inline > .form-radios {

        > .form-radios {

          > div {
            display: inline-block;
          }

          .form-item.form-type-radio {

            input.form-radio {
              display: none;

              &:checked ~ label.option {
                color: #46F293;
              }
            }

            label.option {
              font-weight: 500;
              text-transform: uppercase;
              color: $white;
              cursor: pointer;
              line-height: 1.5;
            }
          }
        }

      }

      .form-actions {
        margin: 0;
        padding: 0;
      }
    }
  }

  .view-header {
    margin: 70px auto;
    text-align: center;
    max-width: 1000px;
  }

  .view-content {

    .views-row {
      margin-bottom: 30px;
    }
  }
}

.view-products.view-display-id-block_products_menu {

  .view-content {

    .section {
      padding: 0;
      background-color: $green;

      .container {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $white;
        padding-right: 45px;

        .fa {
          font-family: "FontAwesome";
          color: $green;
          background-color: $white;
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 6px;
          width: 24px;
          height: 24px;
          border-radius: 5px;
          font-size: 22px;
          font-weight: 600;
          padding-left: 7px;
          z-index: 2;
        }

        .fa.fa-angle-right {
          padding-left: 10px;
          left: unset;
          right: 0;
        }
      }
    }

    .item-list {

      ul {
        margin: 0;
        padding: 0;
        line-height: 2.5;
        display: inline;
        position: relative;
        z-index: 1;

        > li {
          display: inline-block;
          margin: 0 20px 0 0;

          &:last-child {
            margin-right: 0;
          }

          a {
            color: $white;
            text-transform: uppercase;

            &.is-active {
              color: #46F293;
            }
          }
        }
      }
    }
  }
}