.view {

  .pager {

    .pager__items {

      .pager__item {
        margin-right: 5px;

        &.is-active {

          a {
            color: $green;
          }
        }

        &.pager__item--first,
        &.pager__item--previous,
        &.pager__item--next,
        &.pager__item--last {

          span {
            color: $blue;
          }
        }

        a {
          color: #C6C6C6;
          text-decoration: none;
          font-weight: 600;
        }
      }
    }
  }
}