<div class="card-image-background">
    {% include '@components/content/hero' with {
            hero: (hero)
        }
    %}

    <div class="card">
        <div class="card-content">
            <div class="card-title">
                <h2>{{ title }}</h2>
            </div>
            <div class="card-subtitle">
                <h3>{{ sub_title }}</h3>
            </div> 
            {{ content|raw }}
        </div>
    </div>
</div>