<div class="property-media property-row pointer" ng-if="vm.viewMode === 'list'">
  <div class="media-left">
    <div class="media-object" ng-class="{'complex': vm.complex == 1}">
      <flex-slider use-css="false" trueclass="loading " start="vm.onSliderStart($slider)" slide="s in (vm.property.fields['imageUrl'] || ['images/caldeyro-empty.png']) track by s.xs">
        <li>
          <a target="_blank" ng-href="{{vm.lang}}/{{vm.property.parsedTitle}}">
            <img alt="{{vm.property.fields.title[0]}}" ng-src="{{s[vm.size] || s}}" err-src="images/caldeyro-empty.png">
          </a>
        </li>
      </flex-slider>
    </div>
  </div>
  <div class="media-body" ng-class="{'complex': vm.complex == 1}">
    <div class="property-info" ng-if="vm.details === false">
      <a target="_blank" class="property-header property-link" ng-href="{{vm.lang}}/{{vm.property.parsedTitle}}">
        <div class="property--search-title">
          <div class="title-wrapper">
            <h2 class="media--search-heading">
              <span class="auto-crawl" ng-bind="vm.property.fields.title[0]"></span>
            </h2>
          </div>
          <span class="property-ref" ng-bind="vm.property.fields.field_ref[0]"></span>
        </div>
      </a>
      <a target="_blank" class="status-info property-link" ng-href="{{vm.lang}}/{{vm.property.parsedTitle}}">
        <span ng-bind="vm.property.fields['field_propiedad_categoria:name'][0]"></span> <span ng-bind="vm.property.fields['field_estado'][0]"></span> <span ng-if="vm.property.fields['field_estado'][1]" translate="AND"></span> <span ng-bind="vm.property.fields['field_estado'][1]"></span>
      </a>
      <a target="_blank" class="location-item property-link" ng-href="{{vm.lang}}/{{vm.property.parsedTitle}}">
        <div class="map-pointer-icon"></div>
        <div class="property-location" ng-bind="vm.property.location">
        </div>
      </a>

      <a target="_blank" class="property-attributes property-link" ng-class="{'complex': vm.complex == 1}" ng-href="{{vm.lang}}/{{vm.property.parsedTitle}}">
        <!-- <div
          class="attr-item"
          ng-if="vm.property.fields['field_dimensiones_terreno:first']">
          <attribute-icon type="'area'"/>
          <span
            ng-bind="vm.property.fields['field_dimensiones_terreno:first']"
            class="attr-value"></span>
          <span
            ng-bind="vm.property.fields['field_dimensiones_terreno:second'][0]"
            class="attr-value"></span>
        </div> -->
        <div class="attr-item" ng-if="vm.property.fields['field_dimensiones_terreno_has']">
          <attribute-icon type="'area'" />
          <span ng-bind="vm.property.fields['field_dimensiones_terreno_has']" class="attr-value"></span>
          <span class="attr-value">ha</span>
        </div>
        <div class="attr-item" ng-if="vm.property.fields['field_dimensiones_terreno_m2']">
          <attribute-icon type="'area'" />
          <span ng-bind="vm.property.fields['field_dimensiones_terreno_m2'] | money" class="attr-value"></span>
          <span class="attr-value">m2</span>
        </div>
        <!--<div class="attr-item" ng-if="vm.property.fields.field_plantas">
          <attribute-icon type="'floors'" />
          <span ng-bind="vm.property.fields.field_plantas" class="attr-value"></span>
        </div>-->
        <div class="attr-item" ng-if="vm.property.fields.field_mconstruidos">
          <attribute-icon type="'level'" />
          <span ng-bind="vm.property.fields['field_mconstruidos'] | money" class="attr-value"></span>
          <span ng-bind="'m2'" class="attr-value"></span>
        </div>
        <div class="attr-item" ng-if="vm.property.fields.field_dormitorios_totales">
          <attribute-icon type="'bed'" />
          <span ng-bind="vm.property.fields.field_dormitorios_totales" class="attr-value"></span>
        </div>

        <div class="attr-item" ng-if="vm.property.fields.field_banos">
          <attribute-icon type="'toilet'" />
          <span ng-bind="vm.property.fields.field_banos" class="attr-value"></span>
        </div>
        <div class="attr-item" ng-if="vm.property.fields['field_indice_prod_promedio']">
          <attribute-icon type="'ic'" />
          <span ng-bind="vm.property.fields['field_indice_prod_promedio'] | number : 0" class="attr-value"></span>
        </div>
      </a>
      <div class="property-footer">
        <div class="property-actions">
          <a target="_blank" class="lot-info lot-detail pointer" ng-if="vm.property.fields['field_complejo_nombre_com']" ng-href="{{ vm.lang + '/' + vm.property.fields['field_complejo_link']}}">
            <span ng-if="vm.property.fields['field_unidad_o_lote'][0] && !vm.home" translate="unidad-o-lote">
            </span>
            <span ng-if="!vm.home" ng-bind="vm.property.fields['field_unidad_o_lote'][0]">
            </span> {{'in'|translate}}
            <span class="" ng-bind="vm.property.fields['field_complejo_nombre_com']">
            </span>
          </a>
        </div>
        <a target="_blank" class="property-prices property-link-inline" ng-class="{'complex': vm.complex == 1}" ng-href="{{vm.lang}}/{{vm.property.parsedTitle}}">
          <div class="property-sale" ng-if="vm.property.fields['field_precio_venta:amount'] && vm.property.fields['field_mostrar_precio_venta'] == 1" ng-class="{'full':!vm.property.fields['field_precio_alquiler:amount'] && !vm.property.fields['field_precio_venta_unidad:publish'], 'complex': vm.complex == 1}">
            <span translate="SALE_PRICE"></span>
            <span ng-bind="vm.property.fields['field_precio_venta:currency'][0]  + ' ' | uppercase">
            </span>
            <span ng-bind="vm.property.fields['field_precio_venta:amount'] | money">
            </span>
          </div>

          <div class="property-sale " ng-if="vm.property.fields['field_precio_venta:amount'] && vm.property.fields['field_mostrar_precio_venta'] == 1 && vm.property.fields['field_precio_venta_unidad:publish']">
            <span>{{'SALE_PRICE_PER_UNIT' | translate:vm.property.area}} : </span>
            <span class="detail" ng-bind="vm.property.fields['field_precio_venta:currency'][0]  + ' '  | uppercase">
            </span>
            <span class="detail" ng-bind="vm.property.area.amount | money">
            </span>
          </div>
          <span class="separator" ng-if="vm.property.fields['field_precio_alquiler:amount'] && vm.property.fields['field_mostrar_precio_alquiler'] == 1 && vm.property.fields['field_precio_venta:amount'] && vm.property.fields['field_mostrar_precio_venta'] == 1">|</span>
          <div class="property-rent" ng-if="vm.property.fields['field_precio_alquiler:amount'] && vm.property.fields['field_mostrar_precio_alquiler'] == 1" ng-class="{'full':!vm.property.fields['field_precio_venta:amount'], 'complex': vm.complex == 1}">
            <span translate="RENT_PRICE"></span>
            <span ng-bind="vm.property.fields['field_precio_alquiler:currency'][0]  + ' '  | uppercase">
            </span>
            <span ng-bind="vm.property.fields['field_precio_alquiler:amount'] | money">
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="property-media property-grid pointer" ng-if="vm.viewMode === 'grid'">
  <div class="media-thumb">
    <div class="media-object">
      <flex-slider use-css="false" class="loading " start="vm.onSliderStart($slider)" slide="s in (vm.property.fields['imageUrl'] || ['images/caldeyro-empty.png']) track by s.xs">
        <li>
          <a target="_blank" class="property-link" ng-href="{{vm.lang}}/{{vm.property.parsedTitle}}">
            <img ng-src="{{s[vm.size] || s}}" err-src="images/caldeyro-empty.png">
          </a>
        </li>
      </flex-slider>
    </div>
  </div>
  <div class="media-body" ng-class="{'complex': vm.complex == 1}">
    <div class="property-info" ng-if="vm.details === false">
      <a target="_blank" class="property-header property-link" ng-href="{{vm.lang}}/{{vm.property.parsedTitle}}">
        <div class="property--search-title">
          <div class="title-wrapper">
            <h4 ng-click="vm.gotoPropertyPage()" class="media--search-heading" ng-bind="vm.property.fields.title[0]"></h4>
          </div>
          <!-- <div class="top-left-triangle"></div> -->
          <span class="property-ref" ng-bind="vm.property.fields.field_ref[0]"></span>
        </div>
      </a>
      <a target="_blank" class="status-info property-link" ng-href="{{vm.lang}}/{{vm.property.parsedTitle}}">
        <span ng-bind="vm.property.fields['field_propiedad_categoria:name'][0]"></span> <span ng-bind="vm.property.fields['field_estado'][0]"></span> <span ng-if="vm.property.fields['field_estado'][1]" translate="AND"></span> <span ng-bind="vm.property.fields['field_estado'][1]"></span>
      </a>
      <a target="_blank" class="location-item property-link" ng-href="{{vm.lang}}/{{vm.property.parsedTitle}}">
        <div class="map-pointer-icon"></div>
        <div class="property-location" ng-bind="vm.property.location">
        </div>
      </a>
      <a target="_blank" class="property-attributes property-link" ng-href="{{vm.lang}}/{{vm.property.parsedTitle}}">
        <!-- <div
          class="attr-item"
          ng-if="vm.property.fields['field_dimensiones_terreno:first']">
          <attribute-icon type="'area'"/>
          <span
            ng-bind="vm.property.fields['field_dimensiones_terreno:first']"
            class="attr-value"></span>
          <span
            ng-bind="vm.property.fields['field_dimensiones_terreno:second'][0]"
            class="attr-value"></span>
        </div> -->
        <div class="attr-item" ng-if="vm.property.fields['field_dimensiones_terreno_has']">
          <attribute-icon type="'area'" />
          <span ng-bind="vm.property.fields['field_dimensiones_terreno_has']" class="attr-value"></span>
          <span class="attr-value">ha</span>
        </div>
        <div class="attr-item" ng-if="vm.property.fields['field_dimensiones_terreno_m2']">
          <attribute-icon type="'area'" />
          <span ng-bind="vm.property.fields['field_dimensiones_terreno_m2'] | money" class="attr-value"></span>
          <span class="attr-value">m2</span>
        </div>
        <!--<div class="attr-item" ng-if="vm.property.fields.field_plantas">
          <attribute-icon type="'floors'" />
          <span ng-bind="vm.property.fields.field_plantas" class="attr-value"></span>
        </div>-->
        <div class="attr-item" ng-if="vm.property.fields.field_mconstruidos">
          <attribute-icon type="'level'" />
          <span ng-bind="vm.property.fields['field_mconstruidos'] | money" class="attr-value"></span>
          <span ng-bind="'m2'" class="attr-value"></span>
        </div>
        <div class="attr-item" ng-if="vm.property.fields.field_dormitorios_totales">
          <attribute-icon type="'bed'" />
          <span ng-bind="vm.property.fields.field_dormitorios_totales" class="attr-value"></span>
        </div>
        <div class="attr-item" ng-if="vm.property.fields.field_banos">
          <attribute-icon type="'toilet'" />
          <span ng-bind="vm.property.fields.field_banos" class="attr-value"></span>
        </div>
        <div class="attr-item" ng-if="vm.property.fields['field_indice_prod_promedio']">
          <attribute-icon type="'ic'" />
          <span ng-bind="vm.property.fields['field_indice_prod_promedio']  | number : 0" class="attr-value"></span>
          </attribute-icon>
        </div>
        <!-- <div
          class="attr-item"
          ng-if="vm.property.fields['field_servicio'][0]">
          <attribute-icon type="'service-room'"/>
          <div class="grouped">
            <span
              translate="SERVICE"
              class="attr-value"></span>
            <span
              ng-bind="vm.property.fields['field_servicio'][0]"
              class="attr-value"></span>
          </div> -->
    </div>
    </a>
    <div class="property-footer">
      <div class="property-actions">
        <a target="_blank" class="lot-info lot-detail pointer" ng-if="vm.property.fields['field_complejo_nombre_com']" ng-href="{{ vm.lang + '/' + vm.property.fields['field_complejo_link']}}">
          <span ng-if="vm.property.fields['field_unidad_o_lote'][0] && !vm.home" translate="unidad-o-lote">
          </span>
          <span ng-if="!vm.home" ng-bind="vm.property.fields['field_unidad_o_lote'][0]">
          </span> {{'in'|translate}}
          <span class="" ng-bind="vm.property.fields['field_complejo_nombre_com']">
          </span>
        </a>
      </div>
      <a target="_blank" class="property-prices property-link-inline" ng-class="{'complex': vm.complex == 1}" ng-href="{{vm.lang}}/{{vm.property.parsedTitle}}">
        <div class="property-sale" ng-if="vm.property.fields['field_precio_venta:amount'] && vm.property.fields['field_mostrar_precio_venta'] == 1" ng-class="{'full':!vm.property.fields['field_precio_alquiler:amount'] && !(vm.property.area), 'complex': vm.complex == 1}">
          <span translate="SALE_PRICE"></span>
          <span ng-bind="vm.property.fields['field_precio_venta:currency'][0]  + ' ' | uppercase">
            </span>
          <span ng-bind="vm.property.fields['field_precio_venta:amount'] | money">
            </span>
        </div>

        <div class="property-sale " ng-if="vm.property.fields['field_precio_venta:amount'] && vm.property.fields['field_mostrar_precio_venta'] == 1 && vm.property.fields['field_precio_venta_unidad:publish']">
          <span>{{'SALE_PRICE_PER_UNIT' | translate:vm.property.area}} : </span>
          <span class="detail" ng-bind="vm.property.fields['field_precio_venta:currency'][0]  + ' '  | uppercase">
            </span>
          <span class="detail" ng-bind="vm.property.area.amount | money">
            </span>
        </div>
        <span class="separator" ng-if="vm.property.fields['field_precio_alquiler:amount'] && vm.property.fields['field_mostrar_precio_alquiler'] == 1 && vm.property.fields['field_precio_venta:amount'] && vm.property.fields['field_mostrar_precio_venta'] == 1">|</span>
        <div class="property-rent" ng-if="vm.property.fields['field_precio_alquiler:amount']  && vm.property.fields['field_mostrar_precio_alquiler'] == 1" ng-class="{'full':!vm.property.fields['field_precio_venta:amount'], 'complex': vm.complex == 1}">
          <span translate="RENT_PRICE"></span>
          <span ng-bind="vm.property.fields['field_precio_alquiler:currency'][0]  + ' '  | uppercase">
            </span>
          <span ng-bind="vm.property.fields['field_precio_alquiler:amount'] | money">
            </span>
        </div>
      </a>
    </div>
  </div>
</div>
</div>