.background-opacity {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  opacity: 0.5;
  z-index: 0;
}

.subtitle-container {
  @include subtitle;
}

a {
  color: $blue;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    color: $blue;
    text-decoration: none;
  }
}

.text-green {
  color: $green;
}

.text-white {
  color: $white;
}
.text-black {
  color: $black;
}

.text-formatted,
.text-format {

  p, ul > li {
    line-height: 1.7;
  }

  ul {
    padding-left: 20px;

    > li {
      line-height: 1.7;

      &:before {
        content: "-";
        margin-right: 5px;
      }
    }

    &.link-list {
      padding-left: 0;

      > li:before {
        content: "•";
        color: $green;
        margin-right: 10px;
      }
    }
  }
}

.center-vertical {
  display: flex;
  align-items: center;
}

.field--type-font-field-icon > .icon_field_with_title {
  display: none;
}
