.content-wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

html, body {
    height: 100%;
}

.dialog-off-canvas-main-canvas {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    main {
        flex-grow: 1;

        .block {
            margin-bottom: 0;
        }
    }
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  font-weight: normal;
  line-height: 1.6;
}
