%clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%visuallyhidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
}

// Use the mixin for this; this is for the mixin to call ONLY
%icon {
  font-family: $font-family-icons;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  speak: none;
  color: inherit;
}

// Recreating bullets and numbers because we undo them in the reset;
// This method is preferable to changing the "display" value back because
// it allows us more granular and cross-browser control over spacing,
// plus the ability to style the bullets and numbers.
// Don't use %list dirctly; use %bullets or %numbers (below)
%list {
  padding-left: px-to-rem(30);
  margin-bottom: px-to-rem(20);

  li {
    position: relative;
    margin-bottom: px-to-rem(10);

    &:before {
      margin-left: px-to-rem(-20);
      position: absolute;
      // can add a color or something to your numbers/bullets if desired
    }

    ul,
    ol { // less spacing when nested
      margin-top: px-to-rem(20);
      padding-left: px-to-rem(35);
    }
  } //li
} //list

// Bullets - apply to a <ul>
%bullets {
  @extend %list;

  li:before {
    content: '';
    border: 2px solid $c-primary;
    border-radius: 100%;
    display: inline-block;
    height: px-to-rem(2);
    left: px-to-rem(7);
    padding: px-to-rem(1);
    top: px-to-rem(9);
    width: px-to-rem(2);
  }
} //bullets

// Numbers - apply to an <ol>
%numbers {
  @extend %list;
  counter-reset: li;

  li:before {
    color: $c-primary;
    content: counter(li)'.'; // numbers
    counter-increment: li;
    font-weight: $font-weight-bold;
  }

  ul li:before { // don't let uls nested inside ols inherit ol behavior
    content: '\2022';
    counter-increment: none;
  }
} //numbers

// Tabs, apply to an <ul>
%tabs--list {
  border-color: transparent;
  margin: 0;
  padding: 0;
}

%tabs--list__horizontal {
  margin-bottom: px-to-rem(20);
  font-size: 0;

  li:first-of-type a {
    border-radius: px-to-rem(5) 0 0 0;
  }

  li:last-of-type a {
    border-radius: 0 px-to-rem(5) 0 0;
  }
}

%tabs--list__vertical {
  margin: -1px 0 -1px -15em;

  li:first-of-type a {
    border-radius: px-to-rem(5) 0 0 0;
  }

  li:last-of-type a {
    border-radius: 0 0 0 px-to-rem(5);
  }
}

%tabs--item {
  margin: 0;

  a {
    background-color: $c-tab__active;
    color: $c-primary;
    font-size: px-to-rem(16);
    font-weight: $font-weight-bold;
    padding: px-to-rem(10) px-to-rem(15);
    text-transform: uppercase;
  }
  
  a:hover {
    text-decoration: none;
  }

  &:before {
    border: 0;
    padding: 0;
    width: 0;
  }
}

%tabs--item__active {
  a {
    background-color: $c-primary;
    color: $c-white;
  }
  .vertical-tabs__menu-item-title {
    color: $c-primary;
  }
}

// Forms

// Input

%form-input {
  background-color: $c-white;
  border: 2px solid $c-input-border;
  min-height: px-to-rem(36);
  padding: px-to-rem(5) px-to-rem(10);
}

// Buttons
%btn {
  background-color: $c-primary;
  background-image: none;
  border: 2px solid $c-primary;
  color: $c-white;
  cursor: pointer;
  display: inline-block;
  font-size: px-to-rem(14);
  font-weight: $font-weight-bold;
  height: px-to-rem(50);
  letter-spacing: .5px;
  line-height: px-to-rem(45);
  max-width: 100%;
  padding: 0 px-to-rem(35);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;
}

%btn-small {
  height: px-to-rem(40);
  line-height: px-to-rem(36);
}

%btn-primary {

  &:hover,
  &:focus,
  &:active,
  &:active:focus,
  &:active.focus,
  &.active:focus,
  &.active.focus {
    background-color: $c-primary__action;
    border-color: $c-primary__action;
  }

}

%btn-secondary {
  color: $c-primary;
  background-color: $c-white;

  &:hover,
  &:focus,
  &:active,
  &:active:focus,
  &:active.focus,
  &.active:focus,
  &.active.focus {
    background-color: $c-primary;
    color: $c-white;
  }
}

%btn-disabled {

  &:hover,
  &:focus,
  &:active,
  &:active:focus,
  &:active.focus,
  &.active:focus,
  &.active.focus {
    background-color: inherit;
    border-color: inherit;
  }
}

%section-title {
  padding: px-to-rem(10) px-to-rem(35);
  background-color: $c-primary;
  color: $c-white;
  font-size: px-to-rem(30);
  font-weight: $font-weight-bold;
  border-bottom-left-radius: px-to-rem(42);
  margin-bottom: px-to-rem(40);
}