// Variables for the breakpoints are in the _variables partial
// Example:
// .foo {
//   width: 100%;
//   @include breakpoint($bp-sm) {
//     width: 50%;
//   }
// }
@mixin breakpoint($bp) {
  @media (min-width: #{$bp}) {
    @content;
  }
}

// Variables for the icons are in the _variables partial
// This mixin is invoked by the each loop in _icons.scss, it should not be necessary to use it on its own.
@mixin icon-styles($symbol) {
  @extend %icon;
  content: $symbol;
}

// Gradients
@mixin gradient-vert($color1, $color2) {
  background: linear-gradient(to bottom, $color1 0%, $color2 100%);
}

@mixin gradient-hor($color1, $color2) {
  background: linear-gradient(to right, $color1 0%, $color2 100%);
}

// Active states
@mixin is-active {
  &:hover,
  &:active,
  &:focus,
  &.active {
    @content;
  }
}

// Placeholder text
@mixin placeholder {
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

@mixin collapsable-label {
  @include icon(plus, after);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  text-transform: capitalize;
  padding: px-to-rem(15) px-to-rem(20);
  border: px-to-rem(2) solid $c-catskill-white;
  color: $c-primary;
  font-size: px-to-rem(18);


  &:after {
    color: $c-primary;
    font-size: px-to-rem(24);
  }

  &.open {
    @include icon(minus, after);
  }
}