// Colors variables
// Color variables should start with 'c-'
// It may often be helpful to include the RGB values in a comment next to each
// for ease of interpretation when prototypes use RGB or RGBA
// Examples:

// Colors
$c-white: #ffffff;
$c-catskill-white: #F0F4F7;
$c-lily-white: #EBFAFF;
$c-white-lilac:#E8E8E8;
$c-beige: #F4F7DA;
$c-aqua-squeeze: #E8F3F8;
$c-concrete: #F6EFF4;
$c-cararra: #F1EDE8;

// Blues
$c-geyser: #D9E0E5;
$c-lochmara: #3C71A4;
$c-celestial-blue: #3B92D8;
$c-chatams-blue: #154C7E;
$c-kashmir-blue: #527499;
$c-cadet-blue: #A8ACC6;
$c-victoria: #505186;
$c-spray: #78C9DB;
$c-dark-midnight-blue: #003668;
$c-biscay: #162E5B;
$c-san-marino: #3775AF;
$c-cornflower: #94CCF5;
$c-pattens-blue: #D4E1EB;
$c-hoki: #6B83A1;
$c-pale-cerulean: #A1C4E5;

// Purples
$c-scampi: #61629C;
$c-st-patrick-blue: #2D2770;
$c-madison: #0B1C60;
$c-rouge: #992C71;

// Greens
$c-moon-glow: #FFFFDC;
$c-tahuna-sands: #EBEFCA;
$c-medium-goldenrod: #EEEEB2;
$c-pine-glade: #BEDA91;
$c-elm: #208782;
$c-verdigris: #42B3AC;
$c-deco: #C1D281;
$c-wild-willow: #C2CF61;
$c-gunsmoke: #84908B;
$c-pine-glade: #BFD896;
$c-dell: #4C6031;
$c-xanadu: #768D6E;
$c-chateau-green: #42B361;
$c-norway: #A6B6A4;
$c-submarine: #8F9B96;
$c-saratoga: #55601C;
$c-shingle-fawn: #765534;
$c-breaker-bay: #527D80;
$c-horizon: #5C888A;

// Orange
$c-calico: #E6BF95;
$c-sandy-brown: #EFA360;
$c-vis-vis: #FEEF9F;

// Grays
$c-alabaster: #FBFBFB;
$c-concrete: #F3F3F3;
$c-circon: #DEE3E7;
$c-loblolly: #B7B8B7;
$c-stack: #8E8E8E;
$c-dove-gray: #767775;
$c-darkgray: #565755;
$c-cadet: #56616C;
$c-zircon: #DFE3E7;
$c-hint-of-red: #F9F9F9;
$c-concord: #7D7D7D;
$c-chicago: #5E5E5D;
$c-bermuda-gray: #6B88A5;
$c-pumice: #C6C5C5;
$c-gray-chateau: #A2A2A2;
$c-mortar: #545051;
$c-steel: #676767;
$c-monsoon: #777777;
$c-fuscous-gray: #3C3C3C;
$c-silver-sand: #C2C2C2;
$c-storm-dust: #616260;
$c-ed: #EDEDED;
$c-mischka: #CED6DC;

// Blacks
$c-armadillo: #494949; 
$c-tuatara: #383737;
$c-nero: #262626;
$c-black: #000000;
$c-black-squeeze: #F4F8FB;

// Red
$c-pink: #E75A72;
$c-crimson: #E51647;
$c-rose-bud: #FFB3A1;
$c-copper: #E08768;

// Contrast
$c-panda: #575339;
$c-neutral-green: #B0AE79;
$c-midnight-blue: #1A416A;
$c-fun-blue: #105D9F;
$c-sunset: #BD4C54;
$c-sea-pink: #DF787D;
$c-midnight-green: #004C5E;
$c-jelly-bean: #1F7897;
$c-burnt-umber: #873624;
$c-tacao: #EAB381;

// General variables
$c-primary: $c-chatams-blue;
$c-primary__action: $c-dark-midnight-blue;
$c-secondary: $c-madison;
$c-tertiary: $c-catskill-white;

$c-text: $c-darkgray;
$c-link: $c-celestial-blue;

$c-error: $c-pink; 
$c-success: $c-tahuna-sands; //@TODO review if color needs adjustment

$c-input-border: $c-geyser;

$c-tab__active: $c-catskill-white;

// Font-related variables
// Font variables should start with 'font-'
// Replace any/all values as appropriate

$font-family-sans: 'Roboto', sans-serif;
$font-family-icons: 'icons';

$font-size-base: 16; // The default font size for your site. This gets used in
// the px-to-em() function used sitewide.
$font-weight-normal: 400;
$font-weight-bold: 700;

// Breakpoint variables
// Breakpoint variables should start with 'bp-'
// Add as necessary
$bp-xsm: 30em; //480px
$bp-sm: 48em; //768px
$bp-md: 62em; //992px
$bp-lg: 75em; //1200px

// Z-index variables
// Z-index variables should start with 'z-'
$z-1: 100;
$z-2: 200;
$z-3: 300;
$z-4: 400;
$z-5: 500;
$z-6: 600;
$z-7: 700;
$z-8: 800;
$z-9: 900;
$z-10: 1000;
