.node--type-event.node--view-mode-list {

  .event-list-image {
    min-height: 250px;
    padding: 30px;
    line-height: 1.5;
    color: white;
    font-weight: 500;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: relative;
    z-index: 0;
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: $green;
    opacity: 0.5;
    z-index: 1;
  }

  .content-container {
    display: block;
    position: relative;
    z-index: 2;

    .category {
      margin-bottom: 50px;
      font-size: 12px;
      background-color: #464646;
      display: inline-block;
      padding: 5px 10px;
      border-radius: 10px;
      font-weight: 600;
    }

    .title {
      color: $white;
      margin-bottom: 7px;
    }

    .description {
      margin-bottom: 20px;
      max-width: 450px;
      color: #CDDACF;
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      a.button {
        margin: 0 0 10px 0;
        border-radius: 0;
        padding: 20px;

        span {
          font-size: 13px;
          margin-right: 15px;
          text-transform: capitalize;
        }
      }
    }

    .date-container {
      margin-bottom: 10px;

      .field__label {
        font-weight: 600;
        font-size: 13px;
        color: #BAE799;
      }

      .field__item .datetime {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}

.node--type-event.node--view-mode-full {

  .title {
    margin: 20px 0 40px;
  }

  .event-about-information-container {
    padding: 50px 50px 0 0;
  }

  .event-details-information-container {
    padding: 25px;
    background-color: #F8F8F8;

    .field__label {
      font-weight: 600;
      min-width: 140px;
    }
  }

  .register-button-container {
    margin-bottom: 20px;

    a.button {
      @include button;
      padding: 30px;
    }
  }

  .gallery-container > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include breakpoint($small) {
      justify-content: space-between;
    }

    > .field__item {
      width: 113px;
      height: 92px;
      margin-bottom: 20px;
      margin-right: 20px;

      @include breakpoint($small) {
        margin-right: 0;
      }



      > img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.node--type-event.node--view-mode-slider {

  .image-container {
    margin-bottom: 15px;
  }

  .title {
    margin-bottom: 8px;

    a {
      font-size: inherit;
      color: inherit;
      font-weight: 600;
    }
  }
}