.node--type-important-announcement {

  .title {
    margin-bottom: 10px;
    line-height: 1;

    a {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;

    }
  }

  .category-date-container {
    margin-bottom: 15px;

    > .field {
      display: inline-block;

      .field__label,
      .field__item {
        display: inline-block;
      }

      .field__label {
        color: $green;
        font-weight: 600;
      }

      .field__item {
        color: #74787C;
        font-weight: 500;

        a {
          font-weight: inherit;
          color: inherit;
        }
      }
    }
  }

  .field--name-body {
    margin-bottom: 15px;

    p {
      color: #4D5256;
      font-weight: 500;
      line-height: 1.5;
      padding-left: 30px;
    }
  }
}

.node--type-important-announcement.node--view-mode-teaser {
  padding-left: 25px;
  border-left: 3px solid $green;
}

.node--type-important-announcement.node--view-mode-full {

  .border-container {
    padding-left: 25px;
    border-left: 3px solid $green;
    margin-bottom: 30px;

    .category-date-container {
      margin: 0;

      .field--name-field-date,
      .field--name-field-category {
        margin: 0;
      }
    }
  }

  .field--name-body {

    p {
      padding-left: 55px;
    }
  }
}