.node--type-news {

  .field--name-field-featured-image {
    margin: 0;
  }

  .title {
    margin: 10px 0;

    a {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;

    }
  }

  .category-date-container {
    margin-bottom: 15px;

    > .field {
      display: inline-block;

      .field__label,
      .field__item {
        display: inline-block;
      }

      .field__label {
        color: $green;
        font-weight: 600;
      }

      .field__item {
        color: #74787C;
        font-weight: 500;

        a {
          font-weight: inherit;
          color: inherit;
        }
      }
    }
  }

  .field--name-body {
    margin-bottom: 15px;

    p {
      color: #4D5256;
      font-weight: 500;
      line-height: 1.5;
    }
  }

  .field--name-field-author {

    .field__label {
      color: $green;
      font-weight: 600;
    }

    .field__item {
      color: #74787C;
      font-weight: 500;
    }
  }
}

.node--type-news.node--view-mode-featured {
  padding-bottom: 20px;
  border-bottom: 2px solid $green;
  margin-bottom: 50px;
}

.node--type-news.node--view-mode-full {

  .breadcrumb-container {
    background-color: #818181;

    .section {
      padding-top: 0;
      padding-bottom: 0;
      line-height: 4;
    }

    ul {

      li {
        color: $white;
        display: inline-block;
        font-weight: 500;
        font-size: 13px;

        a {
          font-weight: 500;
          color: $white;
          font-size: 13px;

          &:after {
            font-family: "FontAwesome";
            content: "\f105";
            margin: 0 0 0 8px;
          }
        }
      }
    }
  }

  .category-date-container,
  .field--name-body {
    margin-bottom: 50px;
  }

  .field--name-field-author {
    margin-bottom: 100px;
  }

  .field--name-field-gallery {

    .field__item {
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }
}