.node--type-associates-manual {

  .title-container {
    max-width: 330px;
    margin: 0 auto 30px;

    .title {
      margin-bottom: 10px;
      line-height: 1.5;
    }

    .icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      color: green;
      width: 150px;
      margin: 0 auto;

      > .border {
        border: 0.5px solid;
        display: inline-block;
        width: 100%;
      }

      > .fa {
        margin: 0 10px;
      }
    }
  }

  .text-formatted {
    margin-bottom: 30px;
  }

  .button {
    @include button;
  }
}