.node--type-branch-office,
.node--type-atms {
  margin: 0 0 50px;

  .node__content > .title {

    &:after {
      content: "";
      position: relative;
      display: block;
      width: 33%;
      border: 0.5px solid $green;
      margin-top: 5px;
    }
  }

  .columns > .column.is-one-third {
    margin-right: 80px;
  }

  .info-icon-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;

    > .fa {
      flex-grow: 0;
      flex-shrink: 0;
      margin-left: -20px;
      margin-right: 6px;
      color: $green;
      width: 15px;
      text-align: center;
    }

    > div {
      flex-grow: 1;

      .field__label {
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 5px;
      }

      p {
        line-height: 1.5;
      }

      .field__items {

        .field__item {
          display: inline-block;
          font-weight: 500;

          &:after {
            content: "/";
            color: $blue;
            margin: 0 0 0 5px;
          }

          &:last-child:after {
            content: none;
          }
        }
      }
    }
  }

  .field--name-field-geolocation {
    margin-bottom: 30px;
  }

  .button-container {
    text-align: right;

    .button {
      @include button;
    }
  }
}