.node--type-promotion.node--view-mode-slider {

  .content-column {
    display: flex;
    align-items: flex-end;

    .content-container {
      background-color: #F0F0F0;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 6.85%;

      @include breakpoint(1088px) {
        height: 85%;
      }

      .sub-container {
        max-width: 600px;

        @include breakpoint(1088px) {
          margin-top: 12%;
        }

        .title {
          margin-bottom: 20px;
          line-height: 1.3;
          font-size: 24px;
        }

        .description-container {
          line-height: 1.7;
          width: 85%;
          margin-bottom: 15px;

          p {

          }
        }

        .cta-container {

          .button {
            @include button;
            font-size: 12px;
          }
        }
      }
    }
  }
}