.node--type-products.node--view-mode-teaser {

  img {
    display: block;
    width: 100%;
  }

  .columns {

    .column:nth-child(2) {
      border: 1px solid $lightgrey;
      border-left: 12px solid $green;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .product-image {
      min-height: 400px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 100%;
    }

    .text-container {
      padding: 50px;
    }

    .title {
      color: $green;
      display: block;

      &:after {
        content: '';
        display: block;
        position: relative;
        width: 60px;
        border-bottom: 1.4px solid $green;
        margin-top: 10px;
      }
    }

    .field--name-body {

      ul {
        padding: 0;

        > li {
          line-height: 2;

          &:before {
            font-family: "FontAwesome";
            content: "\f00c";
            color: $green;
            margin-right: 8px;
          }
        }
      }
    }

    .view-more-link {
      display: block;
      position: relative;
      text-align: right;
      margin-top: 50px;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}