.node--type-slider-home {

  .slider-home-image {
    min-height: 535px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;

    .overlay {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: $green;
      opacity: 0.5;
      z-index: 1;
    }

    .section {
      flex-grow: 1;
      z-index: 2;
    }

    .container {
      display: flex;
      width: 100%;

      &.content-left {
        justify-content: flex-start;
      }
      &.content-center {
        justify-content: center;
      }
      &.content-right {
        justify-content: flex-end;
      }
    }

    .content-container {
      max-width: 500px;

      .title {
        text-transform: uppercase;
      }

      .description-container {
        font-weight: 500;
        margin-bottom: 20px;
      }

      .title,
      .description-container {
        &.text-white {
          color: $white;

          p {
            color: $white;
          }
        }
        &.text-black {
          color: $black;

          p {
            color: $black;
          }
        }
        &.text-green {
          color: $green;

          p {
            color: $green;
          }
        }
      }

      .cta-container {

        &.text-white {

          a {
            color: $white;
          }
        }
        &.text-black {
          a {
            color: $black;
          }
        }
        &.text-green {
          a {
            color: $green;
          }
        }

        &.background-white {

          a {
            background-color: $white;
          }
        }
        &.background-black {
          a {
            background-color: $black;
          }
        }
        &.background-green {
          a {
            background-color: $green;
          }
        }

        a {
          @extend .button;
          border: none;
          text-transform: uppercase;
          font-size: 13px;
          padding: 20px;
          font-weight: 600;
        }
      }
    }
  }
}