.view-id-slider_values .optionset-slider-values {
  background: none;
  border: none;
  //padding: 0 40px;

  .slides {
    display: flex;
    align-items: stretch;
    //margin-left: 40px;
  }

  .flexslider:hover .flex-direction-nav {

    .flex-prev {
      left: -30px;
    }

    .flex-next {
      right: -30px;
    }
  }

  .flex-direction-nav {

    a:before {
      color: $white;
      font-family: "FontAwesome";
    }

    .flex-nav-prev > .flex-prev:before {
      content: "\f104";
    }

    .flex-nav-next > .flex-next:before {
      content: "\f105";
    }
  }

}

.taxonomy-term.vocabulary-values {
  padding: 20px;
  height: 100%;
  margin-right: 20px;
  background-color: $white;

  .term-icon-container {
    max-width: 80px;
    margin: 0 auto 15px;
  }

  .term-name {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
  }
}