@mixin transition($transitions...) {
  -webkit-transition: $transitions;
  -moz-transition: $transitions;
  -o-transition: $transitions;
  transition: $transitions;
}

@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

@mixin item-count-tag($color, $bg-color, $border-color) {
  border:  1px solid $border-color;
  background-color:  $bg-color;
  border-radius: 4px;
  color: $color;
  line-height:  1.5;
  width: 45px;
  text-align: center;
  font-weight: 300;
}

@mixin responsive-img() { 
  max-width: 100%;
  height: auto;
  display: block;
}

@mixin transparent-btn() {
  background-color: transparent;
  border-radius: 0;
  border: 1px solid transparent;
  box-shadow: none;
}
@mixin fontAwesome-icon($font-size) {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: $font-size;
  padding-left: 0.5em;
}

@mixin to-top-btn($color, $border-color) {
  display: inline-block;
  color: $color;
  width: 30px;
  height: 42px;
  padding-top: 5px;
  border: 2px solid $border-color;
  text-align: center;
}

@mixin rotate-arrow-up() {
  transform: rotate(90deg);
  display: inline-block;
  font-size: 20px;
}

@mixin highlight-btn($color,$color-hover, $bg-color, $border-color, $height) {
  border-radius: 0;
  border: 1px solid $border-color;
  background-color: $bg-color;
  color: $color;
  display: inline-block;
  font-weight: 500;
  height: $height;
  padding: 0 10px;
  text-transform: uppercase;
  &:hover,
  &:focus {
    color: $color-hover;
  }
}

@mixin icon-bg($position-x, $position-y, $width, $height) {
  background: url(../images/spritesheet/spritesheet.png) no-repeat $position-x $position-y;
  width: $width;
  height: $height;
  display: inline-block;
}

@mixin diagonal-border($bg-color, $bs-color, $border-right-width, $border-right-color, $perspective, $rotateX, $top, $right, $left, $bottom) {
  background-color: $bg-color; 
  box-shadow: 0 .15em $bs-color inset;
  border-right: $border-right-width solid $border-right-color;
  content: ' ';
  position: absolute;
  transform: scale(1.2, 1.3) perspective($perspective) rotateX($rotateX);
  transform-origin: bottom left;
  top: $top; right: -$right; left: $left; bottom: $bottom;
  z-index: -1;
}

@mixin right-triangle($height, $width, $color) {
  border-style: solid;
  border-width: $height 0 $width 8.7px;
  border-color: transparent transparent transparent $color;
  display: inline-block;
  height: 0;
  width: 0;
}

@mixin bottom-triangle($height, $width, $color) {
  border-style: solid;
  border-width: $height $width 0 $width;
  border-color: $color transparent transparent transparent;
  height: 0;
  width: 0;
}

@mixin top-left-triangle($height, $width) {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $height $width 0 0;
  border-color: #000000 transparent transparent transparent;
}
@mixin text-ellipsis($width) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: $width;
}
