/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/

$arrow-up-name: 'arrow-up';
$arrow-up-x: 0px;
$arrow-up-y: 51px;
$arrow-up-offset-x: 0px;
$arrow-up-offset-y: -51px;
$arrow-up-width: 32px;
$arrow-up-height: 32px;
$arrow-up-total-width: 206px;
$arrow-up-total-height: 184px;
$arrow-up-image: '../../images/spritesheet/spritesheet.png';
$arrow-up: (0px, 51px, 0px, -51px, 32px, 32px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'arrow-up', );
$bath-name: 'bath';
$bath-x: 127px;
$bath-y: 70px;
$bath-offset-x: -127px;
$bath-offset-y: -70px;
$bath-width: 32px;
$bath-height: 32px;
$bath-total-width: 206px;
$bath-total-height: 184px;
$bath-image: '../../images/spritesheet/spritesheet.png';
$bath: (127px, 70px, -127px, -70px, 32px, 32px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'bath', );
$bg-diagonal-name: 'bg-diagonal';
$bg-diagonal-x: 162px;
$bg-diagonal-y: 0px;
$bg-diagonal-offset-x: -162px;
$bg-diagonal-offset-y: 0px;
$bg-diagonal-width: 23px;
$bg-diagonal-height: 36px;
$bg-diagonal-total-width: 206px;
$bg-diagonal-total-height: 184px;
$bg-diagonal-image: '../../images/spritesheet/spritesheet.png';
$bg-diagonal: (162px, 0px, -162px, 0px, 23px, 36px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'bg-diagonal', );
$business-name: 'business';
$business-x: 35px;
$business-y: 51px;
$business-offset-x: -35px;
$business-offset-y: -51px;
$business-width: 32px;
$business-height: 32px;
$business-total-width: 206px;
$business-total-height: 184px;
$business-image: '../../images/spritesheet/spritesheet.png';
$business: (35px, 51px, -35px, -51px, 32px, 32px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'business', );
$construction-name: 'construction';
$construction-x: 92px;
$construction-y: 0px;
$construction-offset-x: -92px;
$construction-offset-y: 0px;
$construction-width: 32px;
$construction-height: 32px;
$construction-total-width: 206px;
$construction-total-height: 184px;
$construction-image: '../../images/spritesheet/spritesheet.png';
$construction: (92px, 0px, -92px, 0px, 32px, 32px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'construction', );
$e-mail-name: 'e-mail';
$e-mail-x: 128px;
$e-mail-y: 121px;
$e-mail-offset-x: -128px;
$e-mail-offset-y: -121px;
$e-mail-width: 28px;
$e-mail-height: 28px;
$e-mail-total-width: 206px;
$e-mail-total-height: 184px;
$e-mail-image: '../../images/spritesheet/spritesheet.png';
$e-mail: (128px, 121px, -128px, -121px, 28px, 28px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'e-mail', );
$facebook-name: 'facebook';
$facebook-x: 0px;
$facebook-y: 156px;
$facebook-offset-x: 0px;
$facebook-offset-y: -156px;
$facebook-width: 28px;
$facebook-height: 28px;
$facebook-total-width: 206px;
$facebook-total-height: 184px;
$facebook-image: '../../images/spritesheet/spritesheet.png';
$facebook: (0px, 156px, 0px, -156px, 28px, 28px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'facebook', );
$fl-arrows-next-name: 'fl-arrows--next';
$fl-arrows-next-x: 188px;
$fl-arrows-next-y: 43px;
$fl-arrows-next-offset-x: -188px;
$fl-arrows-next-offset-y: -43px;
$fl-arrows-next-width: 18px;
$fl-arrows-next-height: 40px;
$fl-arrows-next-total-width: 206px;
$fl-arrows-next-total-height: 184px;
$fl-arrows-next-image: '../../images/spritesheet/spritesheet.png';
$fl-arrows-next: (188px, 43px, -188px, -43px, 18px, 40px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'fl-arrows--next', );
$fl-arrows-gray-next-name: 'fl-arrows-gray--next';
$fl-arrows-gray-next-x: 162px;
$fl-arrows-gray-next-y: 39px;
$fl-arrows-gray-next-offset-x: -162px;
$fl-arrows-gray-next-offset-y: -39px;
$fl-arrows-gray-next-width: 18px;
$fl-arrows-gray-next-height: 40px;
$fl-arrows-gray-next-total-width: 206px;
$fl-arrows-gray-next-total-height: 184px;
$fl-arrows-gray-next-image: '../../images/spritesheet/spritesheet.png';
$fl-arrows-gray-next: (162px, 39px, -162px, -39px, 18px, 40px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'fl-arrows-gray--next', );
$fl-arrows-gray-name: 'fl-arrows-gray';
$fl-arrows-gray-x: 162px;
$fl-arrows-gray-y: 82px;
$fl-arrows-gray-offset-x: -162px;
$fl-arrows-gray-offset-y: -82px;
$fl-arrows-gray-width: 18px;
$fl-arrows-gray-height: 40px;
$fl-arrows-gray-total-width: 206px;
$fl-arrows-gray-total-height: 184px;
$fl-arrows-gray-image: '../../images/spritesheet/spritesheet.png';
$fl-arrows-gray: (162px, 82px, -162px, -82px, 18px, 40px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'fl-arrows-gray', );
$fl-arrows-name: 'fl-arrows';
$fl-arrows-x: 188px;
$fl-arrows-y: 0px;
$fl-arrows-offset-x: -188px;
$fl-arrows-offset-y: 0px;
$fl-arrows-width: 18px;
$fl-arrows-height: 40px;
$fl-arrows-total-width: 206px;
$fl-arrows-total-height: 184px;
$fl-arrows-image: '../../images/spritesheet/spritesheet.png';
$fl-arrows: (188px, 0px, -188px, 0px, 18px, 40px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'fl-arrows', );
$google-plus-name: 'google-plus';
$google-plus-x: 35px;
$google-plus-y: 121px;
$google-plus-offset-x: -35px;
$google-plus-offset-y: -121px;
$google-plus-width: 28px;
$google-plus-height: 28px;
$google-plus-total-width: 206px;
$google-plus-total-height: 184px;
$google-plus-image: '../../images/spritesheet/spritesheet.png';
$google-plus: (35px, 121px, -35px, -121px, 28px, 28px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'google-plus', );
$ic-name: 'ic';
$ic-x: 0px;
$ic-y: 121px;
$ic-offset-x: 0px;
$ic-offset-y: -121px;
$ic-width: 32px;
$ic-height: 32px;
$ic-total-width: 206px;
$ic-total-height: 184px;
$ic-image: '../../images/spritesheet/spritesheet.png';
$ic: (0px, 121px, 0px, -121px, 32px, 32px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'ic', );
$linkedin-name: 'linkedin';
$linkedin-x: 97px;
$linkedin-y: 121px;
$linkedin-offset-x: -97px;
$linkedin-offset-y: -121px;
$linkedin-width: 28px;
$linkedin-height: 28px;
$linkedin-total-width: 206px;
$linkedin-total-height: 184px;
$linkedin-image: '../../images/spritesheet/spritesheet.png';
$linkedin: (97px, 121px, -97px, -121px, 28px, 28px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'linkedin', );
$lupa-name: 'lupa';
$lupa-x: 31px;
$lupa-y: 156px;
$lupa-offset-x: -31px;
$lupa-offset-y: -156px;
$lupa-width: 24px;
$lupa-height: 24px;
$lupa-total-width: 206px;
$lupa-total-height: 184px;
$lupa-image: '../../images/spritesheet/spritesheet.png';
$lupa: (31px, 156px, -31px, -156px, 24px, 24px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'lupa', );
$map-pointer-name: 'map-pointer';
$map-pointer-x: 127px;
$map-pointer-y: 35px;
$map-pointer-offset-x: -127px;
$map-pointer-offset-y: -35px;
$map-pointer-width: 32px;
$map-pointer-height: 32px;
$map-pointer-total-width: 206px;
$map-pointer-total-height: 184px;
$map-pointer-image: '../../images/spritesheet/spritesheet.png';
$map-pointer: (127px, 35px, -127px, -35px, 32px, 32px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'map-pointer', );
$map-name: 'map';
$map-x: 127px;
$map-y: 0px;
$map-offset-x: -127px;
$map-offset-y: 0px;
$map-width: 32px;
$map-height: 32px;
$map-total-width: 206px;
$map-total-height: 184px;
$map-image: '../../images/spritesheet/spritesheet.png';
$map: (127px, 0px, -127px, 0px, 32px, 32px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'map', );
$minus-white-name: 'minus-white';
$minus-white-x: 85px;
$minus-white-y: 156px;
$minus-white-offset-x: -85px;
$minus-white-offset-y: -156px;
$minus-white-width: 24px;
$minus-white-height: 24px;
$minus-white-total-width: 206px;
$minus-white-total-height: 184px;
$minus-white-image: '../../images/spritesheet/spritesheet.png';
$minus-white: (85px, 156px, -85px, -156px, 24px, 24px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'minus-white', );
$paper-plane-name: 'paper-plane';
$paper-plane-x: 0px;
$paper-plane-y: 0px;
$paper-plane-offset-x: 0px;
$paper-plane-offset-y: 0px;
$paper-plane-width: 48px;
$paper-plane-height: 48px;
$paper-plane-total-width: 206px;
$paper-plane-total-height: 184px;
$paper-plane-image: '../../images/spritesheet/spritesheet.png';
$paper-plane: (0px, 0px, 0px, 0px, 48px, 48px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'paper-plane', );
$perimeter-name: 'perimeter';
$perimeter-x: 35px;
$perimeter-y: 86px;
$perimeter-offset-x: -35px;
$perimeter-offset-y: -86px;
$perimeter-width: 32px;
$perimeter-height: 32px;
$perimeter-total-width: 206px;
$perimeter-total-height: 184px;
$perimeter-image: '../../images/spritesheet/spritesheet.png';
$perimeter: (35px, 86px, -35px, -86px, 32px, 32px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'perimeter', );
$plus-gray-name: 'plus-gray';
$plus-gray-x: 58px;
$plus-gray-y: 156px;
$plus-gray-offset-x: -58px;
$plus-gray-offset-y: -156px;
$plus-gray-width: 24px;
$plus-gray-height: 24px;
$plus-gray-total-width: 206px;
$plus-gray-total-height: 184px;
$plus-gray-image: '../../images/spritesheet/spritesheet.png';
$plus-gray: (58px, 156px, -58px, -156px, 24px, 24px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'plus-gray', );
$rest-name: 'rest';
$rest-x: 0px;
$rest-y: 86px;
$rest-offset-x: 0px;
$rest-offset-y: -86px;
$rest-width: 32px;
$rest-height: 32px;
$rest-total-width: 206px;
$rest-total-height: 184px;
$rest-image: '../../images/spritesheet/spritesheet.png';
$rest: (0px, 86px, 0px, -86px, 32px, 32px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'rest', );
$service-room-name: 'service-room';
$service-room-x: 51px;
$service-room-y: 0px;
$service-room-offset-x: -51px;
$service-room-offset-y: 0px;
$service-room-width: 38px;
$service-room-height: 32px;
$service-room-total-width: 206px;
$service-room-total-height: 184px;
$service-room-image: '../../images/spritesheet/spritesheet.png';
$service-room: (51px, 0px, -51px, 0px, 38px, 32px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'service-room', );
$transport-name: 'transport';
$transport-x: 70px;
$transport-y: 86px;
$transport-offset-x: -70px;
$transport-offset-y: -86px;
$transport-width: 32px;
$transport-height: 32px;
$transport-total-width: 206px;
$transport-total-height: 184px;
$transport-image: '../../images/spritesheet/spritesheet.png';
$transport: (70px, 86px, -70px, -86px, 32px, 32px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'transport', );
$twitter-name: 'twitter';
$twitter-x: 66px;
$twitter-y: 121px;
$twitter-offset-x: -66px;
$twitter-offset-y: -121px;
$twitter-width: 28px;
$twitter-height: 28px;
$twitter-total-width: 206px;
$twitter-total-height: 184px;
$twitter-image: '../../images/spritesheet/spritesheet.png';
$twitter: (66px, 121px, -66px, -121px, 28px, 28px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'twitter', );
$up-arrow-name: 'up-arrow';
$up-arrow-x: 92px;
$up-arrow-y: 35px;
$up-arrow-offset-x: -92px;
$up-arrow-offset-y: -35px;
$up-arrow-width: 32px;
$up-arrow-height: 32px;
$up-arrow-total-width: 206px;
$up-arrow-total-height: 184px;
$up-arrow-image: '../../images/spritesheet/spritesheet.png';
$up-arrow: (92px, 35px, -92px, -35px, 32px, 32px, 206px, 184px, '../../images/spritesheet/spritesheet.png', 'up-arrow', );
$spritesheet-width: 206px;
$spritesheet-height: 184px;
$spritesheet-image: '../../images/spritesheet/spritesheet.png';
$spritesheet-sprites: ($arrow-up, $bath, $bg-diagonal, $business, $construction, $e-mail, $facebook, $fl-arrows-next, $fl-arrows-gray-next, $fl-arrows-gray, $fl-arrows, $google-plus, $ic, $linkedin, $lupa, $map-pointer, $map, $minus-white, $paper-plane, $perimeter, $plus-gray, $rest, $service-room, $transport, $twitter, $up-arrow, );
$spritesheet: (206px, 184px, '../../images/spritesheet/spritesheet.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}


/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}