$orange : #e6442e;
$border-color : #EDEDED;
$box-shadow-color: #CFCFCF;
$gray-icon : #999;
$pinterest-color: #C92228;
$linkedin-color: #0077B5;
$twitter-color: #4099ff;
$facebook-color: #3b5998;

// Palete
$white: #FFF;
$black: #000;
$pale-black: #0E0E0E;

$std-blue: #4C9BC6;
$highlight-red: #D4060C;
$pale-red: #D23347;

$dark-gray: #4A4A4A;
$title-dark-gray: #1E1E1E; // dark gray for fonts
$title-light-gray: #808080; 
$pale-gray: #AFAFB1;
$std-gray: #606060; // Dark gray applied to the font
$std-lite-gray: #ADADAD; // Standard gray
$shadow-gray: #CBCBCB; // Light gray
$pale-light-gray: #E2E2E2; // Lighter gray
$bg-light-gray: #F4F4F4; // Lighter gray for backgrounds
$border-gray: #DBDBDB;


// Breakpoints
$mobile-small: 430px;
$mobile-middle: 520px;
$mobile-large: 640px;
$tablet-small: 768px;
$flexslider-mobile: 860px;
$tablet-large: 992px;
$desktop: 1024px;
$desktop-mid: 1200px;
$desktop-large: 1420px;
