@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica_neue/helvetica_neue_black_cond.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica_neue/helvetica_neue_bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica_neue/helvetica_neue_medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}


@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica_neue/helvetica_neue_light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica_neue/helvetica_neue_thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica_neue/helvetica_neue.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica_neue/helvetica_neue_italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue HV';
  src: url('../fonts/helvetica_neue/helvetica_neue_hv.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

$bold: 500;

$bolder: 600;

$font-family-base: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif !default;

html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
details, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark {
  font-family: $font-family-base !important;
}

html, body, div, span, p, blockquote, pre, a, abbr, acronym, address, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, caption, tr, th, td, footer, header, hgroup, menu, nav, summary {
  font-size: 15px;
}