@mixin breakpoint($point) {
    @media (min-width: $point) {
        @content;
    }
}

@mixin reverse-breakpoint($point) {
    @media (max-width: $point - 1) {
        @content;
    }
}

@mixin placeholder {
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content}  
}

@mixin button {
    border: none;
    background-color: $green;
    border-radius: 0;
    color: $white;
    text-transform: uppercase;
    min-width: 130px;
    font-weight: 600;
    line-height: 0;
    padding: 20px;
}

@mixin subtitle {
    color: $dark-grey;
    font-weight: 600;

    &:after {
        content: '';
        display: block;
        position: relative;
        width: 60px;
        border-bottom: 1.4px solid $green;
        margin-top: 12px;
    }
}