<!doctype html>
<html class="no-js" ng-app="caldeyroApp" ng-strict-di ng-cloak>

  <head>
    <meta charset="utf-8">
    <title ng-bind="title"></title>
    <meta name="description" content="">
    <base href="/">
    <meta name="fragment" content="!">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">
    <meta charset="ISO-8859-1" />
    <meta http-equiv="Content-Language" content="es" />
    <meta property="og:url" content="{{ogurl}}" />
    <meta property="og:type" content="{{ogtype}}" />
    <meta property="og:title" content="{{ogtitle}}" />
    <meta property="og:description" content="{{ogdescription}}" />
    <meta property="og:image" content="{{ogimage}}" />
    <meta property="og:image" itemprop="image" content="{{ogimage}}" />
    <meta property="og:image:secure_url" content="{{ogimage}}" />
    <meta property="og:image:secure_url" itemprop="image" content="{{ogimage}}" />
    <meta itemprop="description" content="{{ogdescription}}" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT">
    <meta property="og:site_name" content="Caldeyro Victorica - Bienes Raices">
    <meta property="og:type" content="website" />
    <script>window.prerenderReady=false;</script>


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-snap/angular-snap.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-router-anim-in-out/css/anim-in-out.css" />
    <link rel="stylesheet" href="bower_components/flexslider/flexslider.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css" />
    <!-- endbuild -->
    <script type="text/javascript">
      function isIE() {
        return /MSIE 10/i.test(navigator.userAgent) || /rv:11.0/i.test(navigator.userAgent);
      }

      if (isIE()) {
        window.location.href = 'browser-not-supported.html';
      }
    </script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {  
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),   m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)  
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        
      ga('create', 'UA-5499366-1', 'auto');  
      ga('send', 'pageview');
    </script>

    <!-- Global site tag (gtag.js) - AdWords: 966894037 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-966894037"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-966894037');
    </script>
  </head>

  <body data-status="{{ status }}">
    <update-title title="{{title}}"></update-title>
    <update-meta charset="ISO-8859-1"></update-meta>
    <update-meta http-equiv="Content-Language" content="{{lang}}"></update-meta>
    <update-meta name="description" content="{{ogdescription}}"></update-meta>
    <update-meta name="keywords" content="{{ogkeywords}}"></update-meta>
    <update-meta property="og:title" content="{{ogtitle}}"></update-meta>
    <update-meta property="og:description" content="{{ogdescription}}"></update-meta>
    <update-meta property="og:image" content="{{ogimage}}"></update-meta>
    <update-meta property="og:image" itemprop="image" content="{{ogimage}}"></update-meta>
    <update-meta property="og:image:secure_url" content="{{ogimage}}"></update-meta>
    <update-meta property="og:image:secure_url" itemprop="image" content="{{ogimage}}"></update-meta>
    <update-meta itemprop="description" content="{{ogdescription}}"></update-meta>
    <div class="caldeyro-header__fixed" ng-if="desktop && showSmall">
      <caldeyro-header type="'small'"></caldeyro-header>
    </div>

    <snap-drawer ng-show="!desktop">
      <div class="responsive--info-container">
        <div class="dropdown responsive--language-dropdown navbar-info">
          <button class="btn dropdown-toggle" type="button" id="lang-switcher" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span>{{lang == 'en' ? 'English' : 'Español'}}</span>
          <div class="caret"></div>
        </button>
          <ul class="dropdown-menu" aria-labledby="lang-switcher">
            <li>
              <div type="buton" class="language-btn" ng-class="{'active': (lang === 'en')}" ng-click="setLang('en')">English
              </div>
            </li>
            <li>
              <div type="buton" class="language-btn" ng-class="{'active': (lang === 'es')}" ng-click="setLang('es')">Español
              </div>
            </li>
          </ul>
        </div>
        <div class="responsive--phone-number navbar-info"><span><i class="glyphicon glyphicon-earphone"></i><a href="tel:+598 2600 8496">+598 2600 8496</a></span></div>
      </div>
      <div class="wrapper--mobile-menu navbar-info">
        <responsive-menu></responsive-menu>
      </div>
    </snap-drawer>
    <snap-content class="main-content" ng-class="{'header__fixed' : desktop && showSmall }">
      <div id="top"></div>
      <!-- Add your site or application content here -->
      <div ui-view autoscroll="true"></div>
      <div class="pre-footer" ng-if="searchResults">
        <div class="container">
          <div class="row">
            <form class="footer-form" name="newsletter">
              <div class="col-md-12">
                <div class="col-md-3 footer-form--header">
                  <div class="footer-form--icon"></div>
                  <div class="footer-form--title" translate="REVICE_OUR_NEWSLETTER"></div>
                </div>
                <div class="col-md-3">
                  <input type="text" required="true" class="form-control col-md-6" placeholder="{{'NAME'|translate}}" ng-model="news.name" name="name"></input>
                  <div class="field-required" ng-if="newsletter.name.$error.required && newsletter.email.$touched" translate="FIELD_REQUIRED">
                  </div>
                </div>
                <div class="col-md-3">
                  <input type="email" required="true" class="form-control col-md-6" placeholder="{{'EMAIL'|translate}}" ng-model="news.email" name="email"></input>
                  <div class="field-required" ng-if="newsletter.email.$error.email && newsletter.email.$touched" translate="FIELD_INVALID_EMAIL_ERROR">
                  </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                  <button ng-disabled="subscribing ||
                  (newsletter.name.$error.required) ||
                  (newsletter.email.$error.required || newsletter.email.$error.email)" class="btn btn-danger" ng-click="subscribe()">
                  {{subscribing ? ('SUBSCRIBING'|translate)  : ('SUBSCRIBE'|translate)}}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <caldeyro-footer ng-if="searchResults"></caldeyro-footer>
    </snap-content>
    <div ng-show="searching" class="ajax-overlay">
      <div class="ajax-overlay--center">
        <div class="sk-circle">
          <div class="sk-circle1 sk-child"></div>
          <div class="sk-circle2 sk-child"></div>
          <div class="sk-circle3 sk-child"></div>
          <div class="sk-circle4 sk-child"></div>
          <div class="sk-circle5 sk-child"></div>
          <div class="sk-circle6 sk-child"></div>
          <div class="sk-circle7 sk-child"></div>
          <div class="sk-circle8 sk-child"></div>
          <div class="sk-circle9 sk-child"></div>
          <div class="sk-circle10 sk-child"></div>
          <div class="sk-circle11 sk-child"></div>
          <div class="sk-circle12 sk-child"></div>
        </div>
      </div>
    </div>

    <script ng-src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit&hl=es" async defer></script>

    <script type="text/javascript">
      var switchTo5x = true;
    </script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">
      stLight.options({
        publisher: "62ab3237-78d5-40a0-a7fa-6906a27b9da9",
        doNotHash: false,
        doNotCopy: false,
        hashAddressBar: false
      });
    </script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/snapjs/snap.js"></script>
    <script src="bower_components/angular-snap/angular-snap.js"></script>
    <script src="bower_components/angular-media-queries/match-media.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-breadcrumb/release/angular-breadcrumb.js"></script>
    <script src="bower_components/angular-ui-router-anim-in-out/anim-in-out.js"></script>
    <script src="bower_components/flexslider/jquery.flexslider.js"></script>
    <script src="bower_components/angular-flexslider/angular-flexslider.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/ngmap/build/scripts/ng-map.js"></script>
    <script src="bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.js"></script>
    <script src="bower_components/angular-socialshare/dist/angular-socialshare.min.js"></script>
    <script src="bower_components/angular-update-meta/dist/update-meta.js"></script>
    <script src="bower_components/angular-seo/angular-seo.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/services/facets.js"></script>
    <script src="scripts/directives/facetitem.js"></script>
    <script src="scripts/controllers/facet.item.controller.js"></script>
    <script src="scripts/directives/facetcategory.js"></script>
    <script src="scripts/controllers/facet.category.js"></script>
    <script src="scripts/services/search.js"></script>
    <script src="scripts/directives/property-result.js"></script>
    <script src="scripts/directives/attribute-icon.js"></script>
    <script src="scripts/services/globalconstant.js"></script>
    <script src="scripts/directives/caldeyro-form.js"></script>
    <script src="scripts/directives/math-captcha.js"></script>
    <script src="scripts/controllers/property.controller.js"></script>
    <script src="scripts/controllers/complex.controller.js"></script>
    <script src="scripts/controllers/static.js"></script>
    <script src="scripts/services/staticpageparser.js"></script>
    <script src="scripts/services/form.js"></script>
    <script src="scripts/services/menuservice.js"></script>
    <script src="scripts/directives/header.js"></script>
    <script src="scripts/directives/searchfield.js"></script>
    <script src="scripts/services/metatags.js"></script>
    <script src="scripts/services/searchservice.js"></script>
    <script src="scripts/directives/allresults.js"></script>
    <script src="scripts/directives/responsive-menu.js"></script>
    <script src="scripts/directives/footer.js"></script>
    <script src="scripts/services/mostviewed.js"></script>
    <!-- endbuild -->
  </body>

</html>