.paragraph--type--associates-manuals {

  > .field__items {

    > .field__item {
      border-bottom: 1px solid $lightgrey;
      margin-bottom: 60px;
      padding-bottom: 60px;

      &:last-child {
        border: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}