.paragraph--type--contact-form-with-map {
  background-color: #F4F4F4;

  .subtitle {
    color: $green;
    margin: 0;

    h1, h2, h3, h4, h5, h6, h7, h8 {
      font-weight: 600;
    }
  }

  p {
    line-height: 1.5;
  }

  .webform-submission-form {
    margin: 0;

    .fieldset-wrapper {

      > .form-item {
        flex-basis: 48%;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }

        > input {
          width: 100%;
        }
      }
    }
  }

  .icons-container {

    .section {
      padding: 0;
      margin: 0;

      > .container {
        padding: 0;
        margin: 0;
        width: auto;

        .field--name-field-icon-and-text {
          justify-content: flex-start;
        }
      }
    }
  }
}