.paragraph--type--cta-block {

  .content-container {
    max-width: 650px;
    margin: 0 auto;
  }

  .subtitle {
    font-weight: 500;
    line-height: 1.5;
  }

  &.presentation-link {

    .content-container {
      padding: 25px;
    }

    .title {
      @extend .is-4;
      font-weight: 600;
    }

    p {
      display: inline-block;
      font-weight: 500;
    }

    .cta {
      display: inline-block;

      a {
        color: #95E692;
      }
    }
  }

  &.presentation-button {
    margin-top: 20px;
    border-top: 1px solid $lightgrey;

    .title {
      @extend .is-3;
      font-weight: 500;
    }

    .cta > a {
      @extend .button;
      @include button;
      font-size: 13px;
      padding: 25px 40px;
      margin-top: 25px;
    }
  }
}