.paragraph--type--events {

  .block_list {

    .view-display-id-block_month {
      display: none;
    }
  }

  .block_month {

    .view-display-id-block_list {
      display: none;
    }
  }

  .description-container {
    max-width: 550px;
    margin: 0 auto;

    &:after {
      content: "";
      display: inline-block;
      border: 3px solid $green;
      width: 70px;
      margin-bottom: 50px;
    }

    p {
      margin-bottom: 30px;
    }
  }
}