.paragraph--type--home-products {

  .description {
    max-width: 550px;
    margin: 0 auto;

    &:after {
      content: "";
      display: inline-block;
      border: 3px solid $green;
      width: 70px;
      margin-bottom: 50px;
    }

    p {
      margin-bottom: 30px;
    }
  }

  .short-image-container,
  .large-image-container {
    position: relative;
    display: block;
    margin-bottom: 25px;
    text-align: center;
    border: 2px solid #D2DEEC;

    .image-container {
      display: block;
      position: relative;
      z-index: 0;
    }

    .show-more-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: none;
      align-items: center;
      justify-content: center;
      z-index: 1;
      background-color: rgba(0,144,54, 0.8);

      .content-container {
        text-align: center;
        max-width: 290px;

        .title {
          font-size: 13px;
        }

        .button {
          color: $green;
          background-color: $white;
          font-weight: 600;
          font-size: 12px;
          padding: 15px 20px;
        }
      }
    }

    &:hover {

      .show-more-container {
        display: flex;
      }
    }
  }
}