.paragraph--type--icon-text-block {

  .field--name-field-icon-and-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 50px 0;

    > .field__item {

      .icons-vertical {
        padding: 20px 50px;
        max-width: 400px;
        min-width: 250px;
        border-right: 0.5px solid $ligthergrey;
      }

      .icons-horizontal {
        margin-right: 45px;
      }

      &:last-child {

        .icons-vertical {
          border: none;
        }

        .icons-horizontal {
          margin-right: 0;
        }
      }

      > .paragraph--type--icon-and-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .field--name-field-title {
          text-transform: uppercase;
          font-weight: 600;
          font-size: 12px;
          margin-bottom: 5px;
        }

        .field--name-field-icon {
          width: 50px;
          height: 50px;
          background-color: $icon-background;
          border-radius: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 0 auto 15px;
          color: $white;
        }

        .field--name-field-text-with-format {
          font-size: 13px;
          line-height: 1.5;

          h1, h2, h3, h4, h5, h6 {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 8px;
            text-transform: uppercase;
          }

          a, p, span, ul, li {
            font-size: inherit;
          }
        }
      }
    }
  }
}