.paragraph--type--navigation-links {
  padding-top: 0;
  padding-bottom: 0;
  background-color: $green;
  line-height: 2.5;

  .field__items {

    .field__item {
      display: inline-block;
      margin-right: 50px;

      &:last-child {
        margin: 0;
      }

      a {
        color: $white;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
      }
    }
  }
}