.paragraph--type--navigation-menu {
    background-color: $green;

  .section {
    padding: 0;

    .container {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $white;
      padding-right: 45px;

      .fa {
        font-family: "FontAwesome";
        color: $green;
        background-color: $white;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 6px;
        width: 24px;
        height: 24px;
        border-radius: 5px;
        font-size: 22px;
        font-weight: 600;
        padding-left: 7px;
        z-index: 2;
      }

      .fa.fa-angle-right {
        padding-left: 10px;
        left: unset;
        right: 0;
      }
    }
  }

   ul.menu {
     margin: 0;
     padding: 0;
     line-height: 2.5;
     display: inline;
     position: relative;
     z-index: 1;

    > li.menu-item {
      display: inline;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      > a {
        color: $white;
        text-transform: uppercase;

        &.is-active {
          color: #46F293;
        }
      }
    }
  }
}