.paragraph--type--news {

  .popular-categories--title {

    &:after {
      content: "";
      display: block;
      width: 100%;
      border: 2px solid green;
      margin: 15px 0 30px;
    }
  }
}