.paragraph--type--pages-grid {

  > .field--name-field-page-in-grid.field__items > .field__item {
    margin-bottom: 15px;
  }

  .paragraph--type--page-in-grid {

    .page-container {
      display: block;
      position: relative;
      width: 100%;
      height: auto;
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);

      &:hover {
        box-shadow: 0px 0px 10px 4px rgba(0, 144, 54, 0.47);

        .image-container {
          border: none;
          z-index: 0;
          position: relative;
        }

        .page-name {
          background-color: $green;
          color: $white;
          max-width: unset;
          padding: 40px 0;
          margin-top: -85px;
          z-index: 1;
          position: relative;
        }
      }

      .image-container {
        margin-bottom: 12px;

        img {
          display: block;
        }
      }

      .page-name {
        font-weight: 500;
        max-width: 150px;
        margin: 0 auto;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      }
    }
  }
}