.paragraph--type--promotions {

  .main-content-container {
    position: relative;
    display: block;
    width: 100%;
    height: auto;

    @include breakpoint($xsmall) {
      margin-top: 150px;
    }

    .top-block-container {

      @include breakpoint($xsmall) {
        position: absolute;
        top: -65px;
        z-index: 1;
        left: 100px;
      }
    }
  }
}