.paragraph--type--promotions-slider-bottom-block {
  max-width: 550px;
  margin: 0 auto;

  .description-container {
     p {
       display: inline;
       font-weight: 500;
     }

    a {
      color: #95E692;
    }
  }
}