.paragraph--type--promotions-slider-top-block {
  background-color: $green;
  padding: 20px 15px;

  @include breakpoint($xsmall) {
    max-width: 350px;
    padding: 35px 30px;
  }

  .tag-container {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .title {
    line-height: 1.2;
  }
}