<div class="clear-filters--wrapper">
  <a class="facet-categories--clear-filters"
  ng-click="all.clearFacets()">
    <span translate="CLEAR_FILTERS" class="hide-on--mobile"></span>
    <span class="hide-on--mobile"> ({{all.total}})</span>
    <span translate="CLEAR_FILTERS_MOBILE" class="hide-on--wide clear-filters--btn"></span>
  </a>
</div>
