<div class="header header-home">
  <div class="header-shadow"></div>
  <div class="caldeyro-navbar " role="navigation">
    <div class="container normalize-spaces">
      <div class="header-caldeyro-main-menu">
        <button snap-toggle="left" type="button" class="navbar-toggle collapsed" data-toggle="collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="collapse navbar-collapse caldeyro-navbar--items normalize-spaces">
          <div class="header--info-container">
          <span class="language-selector">
            <div
              type="button"
              class="language-btn"
              ng-class="{'active': (header.lang === 'en')}"
              ng-click="header.setLang('en')">English</div>
              <div class="language-btn">/</div>
            <div
              type="button"
              class="language-btn"
              ng-class="{'active': (header.lang === 'es')}"
              ng-click="header.setLang('es')">Español</div>
          </span>
        <div class="dropdown caldeyro--action-dropdown navbar-info" ng-include="'views/partial/caldeyro-menu-dropdown.html'">
        </div>
        <div class="caldeyro--phone-number navbar-info">
          <span><i class="glyphicon glyphicon-earphone"></i>&nbsp;&nbsp;<a href="tel:+598 2600 8496">+598 2600 8496</a></span>
        </div>
      </div>
      </span>
    </div>
    <div class="header-main-logo">
      <div class="main-logo">
        <a class="plain-logo-container" ng-click="header.goToHome()"></a>
      </div>
    </div>
  </div>
  <div class="search-panel">
    <div class="col-md-8 col-md-offset-2">
      <search-field></search-field>
    </div>
  </div>
</div>