<button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  <div 
    translate="information"></div>
  <div 
    class="caret"></div>
</button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
  <li ng-repeat="item in header.menu" ng-mouseover="header.mouseEnter(item)" data-ng-mouseleave="header.opened = false" ng-class="{'dropdown-submenu': item.items.length > 0}">
    <a ng-if="item.items" ng-bind-html="item.title"></a>
    <ul class="dropdown-menu submenu-dropdown pull-left" ng-ifs="header.opened">
      <li ng-repeat="subItem in item.items">
        <a ng-if="!subItem.isExternal" ui-sref="app.page.static({title: subItem.id, parent: item.title, urlTitle : subItem.urlTitle })" ng-bind-html="subItem.title"></a>
        <a rel="nofollow" ng-if="subItem.isExternal" ng-href="{{subItem.id}}" target="_blank" ng-bind-html="subItem.title"></a>
      </li>
    </ul>
    <a ng-if="!item.items" ui-sref="app.page.static({title: item.id, parent: null, urlTitle : item.urlTitle})" ng-bind-html="item.title"></a>
  </li>
</ul>