<div class="mobile-menu">
  <ul>
    <li ng-repeat="item in mobileMenu.menu" ng-class="{'dropdown-item': item.items.length > 0}">
      <div class="submenu" ng-if="item.items">
        <uib-accordion close-others="true" class="secondary-menu--accordion">
          <uib-accordion-group is-open="status.open">
            <uib-accordion-heading>
              <a ng-bind-html="item.title"></a><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <ul>
              <li ng-repeat="subItem in item.items">
                <a ng-if="!subItem.isExternal" ui-sref="app.page.static({title: subItem.id, parent: item.title, urlTitle : subItem.urlTitle })" ng-bind-html="subItem.title"></a>
                <a rel="nofollow" ng-if="subItem.isExternal" ng-href="{{subItem.id}}" target="_blank" ng-bind-html="subItem.title"></a>
              </li>
            </ul>
          </uib-accordion-group>
        </uib-accordion>
      </div>
      <a ng-if="!item.items" ui-sref="app.page.static({title: item.id, parent: null, urlTitle : item.urlTitle})" ng-bind-html="item.title"></a>
      </a>
    </li>
  </ul>
</div>