<div class="inner-container">
  <div class="page-breadcrumbs property-detailed--page row">
    <div class="col-sm-6 col-xs-12 breadcrumb--group-item">
      <ol class="breadcrumb">
        <li>
          <a ui-sref="app.results" translate="HOME"></a>
        </li>
        <li>
          <a ui-sref="app.results" translate="SEARCH"></a>
        </li>
        <li ng-bind="vm.property.fields.title[0] | capitalize"></li>
      </ol>
    </div>
    <div class="col-sm-6 col-xs-12 breadcrumb--group-item">
      <all-results></all-results>
    </div>
    <span class="clearfix"></span>
  </div>
</div>
<div class="property-slider--container">

  <!--<div class="social-media" ng-class="{xs: (vm.imageSize == 'xs' || !vm.propertyImages.length)}">
    <ul class="social-media__list">
      <li class="social-media__item">
        <a class="st_email_large" st_title="{{vm.property.fields.title[0]}}" st_summary="{{vm.property.fields['field_condiciones_generales'].join(' ')}}" st_image="{{vm.imageUrl}}"><span class="email-icon"></span></a></li>
      <li class="social-media__item">
        <a socialshare socialshare-provider="linkedin" socialshare-url="{{vm.url}}" socialshare-text="{{vm.property.fields.title[0]}}" socialshare-description="{{vm.property.fields['field_condiciones_generales'].join(' ')}}" socialshare-media="{{vm.imageUrl}}">
          <span class="linkedin-icon"></span>
        </a>
      </li>
      <li class="social-media__item">
        <a socialshare socialshare-provider="facebook" socialshare-url="{{vm.url}}" socialshare-text="{{vm.property.fields.title[0]}}" socialshare-description="{{vm.property.fields['field_condiciones_generales'].join(' ')}}" socialshare-media="{{vm.imageUrl}}">
          <span class="facebook-icon"></span>
        </a>
      </li>
      <li class="social-media__item">
        <a socialshare socialshare-provider="google" socialshare-url="{{vm.url}}"><span class="googleplus-icon"></span></a></li>
      <li class="social-media__item">
        <a socialshare socialshare-provider="twitter" socialshare-url="{{vm.url}}" socialshare-text="{{vm.property.fields.title[0]}}" socialshare-description="{{vm.property.fields['field_condiciones_generales'].join(' ')}}" socialshare-media="{{vm.imageUrl}}"><span class="twitter-icon"></span></a>
      </li>
    </ul>
  </div>-->

  <flex-slider ng-if="vm.imageSize == 'xs'" id="single-property" slide="s in vm.propertyImages" animation="slide" direction-nav="true" touch=true after="vm.onslideafter($slider)" start="vm.onslideafter($slider)" class="slider--property">
    <li data-thumb="{{s}}">
      <img alt="{{vm.property.fields.title[0]}}" ng-src="{{s}}" err-src="images/caldeyro-empty.png">
    </li>
  </flex-slider>
  <flex-slider ng-if="vm.imageSize != 'xs'" id="single-property" slide="s in vm.propertyImages" animation="slide" control-nav="false" direction-nav="false" sync="#carousel-property .flexslider" touch=true after="vm.onslideafter($slider)" start="vm.onslideafter($slider)"
    class="slider--property">
    <li data-thumb="{{s}}">
      <img alt="{{vm.property.fields.title[0]}}" ng-src="{{s}}" err-src="images/caldeyro-empty.png">
    </li>
  </flex-slider>
  <flex-slider id="carousel-property" slide="s in vm.propertyImages" animation="slide" item-width="204" item-margin="20" max-items="5" as-nav-for="#single-property .flexslider" class="slider--property-carousel">
    <li data-thumb="{{s}}">
      <img alt="{{vm.property.fields.title[0]}}" ng-src="{{s}}" err-src="images/caldeyro-empty.png">
    </li>
  </flex-slider>
</div>
<div class="inner-container">
  <div class="row property--detailed-info">
    <div class="col-xs-12 grouped">
      <div class="property-header--track">
        <span class="property-ref no-border" style="text-transform: uppercase;" ng-bind="vm.property.fields.field_ref[0]">
        </span>
      </div>
    </div>
    <div class="col-md-8 col-xs-12 grouped">
      <div class="property-panel">
        <div class="property-info">
          <div class="property-header">
            <div class="property--title full">
              <h4 class="media-heading" ng-bind="vm.property.fields.title[0]"></h4>
            </div>
          </div>
          <div class="location-item">
            <div class="map-pointer-icon"></div>
            <div class="property-location" ng-bind="vm.property.location">
            </div>
          </div>
        </div>
        <div class="property-attributes">

        </div>
      </div>
      <div class="property-footer">
        <span class="property-footer--item" ng-if="vm.property.fields['field_construido:field_estado_de_la_construccion']">
          <span translate="STATUS"></span>: <span ng-bind="vm.property.fields['field_construido:field_estado_de_la_construccion']"></span>
        </span>
      </div>
      <div class="pdf-info-wrapper complex">
        <div class="pdf-icon ">
          <a ng-href="{{'http://api.caldeyro.com/' + vm.property.fields.pdf}}" target="_blank">
            <img src="images/pdf-download.png" alt="Download PDF">
          </a>
        </div>
      </div>
      <div class="property-body">
        <div class="property-descriptions">
          <div ng-bind-html="vm.property.fields['field_des_tierra_observaciones']"></div>
          <div ng-bind-html="vm.property.fields['field_descripcion_construcciones:value']">
          </div>
          <div class="property-body--inner">
            <div class="property-characteristics">
              <div ng-if="vm.property.fields['more_features'].length">
                <h4 class="title" translate="MORE_CHARACTERISTICS"></h4>
                <div ng-bind-html="'&#8226; ' + vm.property.fields['more_features'].join(' ')"></div>
              </div>
              <div ng-if="vm.property.fields['observations'].length > 0">
                <h4 class="title" translate="OBSERVATIONS"></h4>
                <div ng-bind-html="vm.property.fields['observations'].join(' ')"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="property-prices full" style="display: block;" ng-if="vm.property.fields['field_precio_venta:amount'] || vm.property.fields['field_precio_alquiler:amount']">
        <div class="property-sale " ng-if="vm.property.fields['field_precio_venta:amount']">
          <div>{{'SALE_PRICE'|translate}} : </div>
          <span class="detail" ng-bind="vm.property.fields['field_precio_venta:currency'][0]  + ' '  | uppercase">
        </span>
          <span class="detail" ng-bind="vm.property.fields['field_precio_venta:amount'] | money">
        </span>
        </div>
        <div class="property-rent " ng-if="vm.property.fields['field_mostrar_precio_alquiler'] === 1">
          <div>{{'RENT_PRICE'|translate}} : </div>
          <span class="detail" ng-bind="vm.property.fields['field_precio_alquiler:currency'][0]  + ' ' | uppercase ">
        </span>
          <span class="detail" ng-bind="vm.property.fields['field_precio_alquiler:amount'] | money ">
        </span>
        </div>
      </div>
      <caldeyro-form form="vm.form" class="caldeyro--info-form"></caldeyro-form>
    </div>
  </div>
  <h3 translate="available_units"></h3>
  <div class="search-results--container">
    <div class="search-region">
      <div class="properties-results clearfix">
        <ul class="property-list row" ng-if=" vm.related.length > 0">
          <li class="property col-xs-12" ng-repeat="property in vm.related track by property.id">
            <property-result property="property" size="'xs'" view-mode="'list'" complex="1"></property-result>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div map-lazy-load="https://maps.google.com/maps/api/js" class="property-map--location">
    <ng-map center="{{vm.direccion_latitude}},{{vm.direccion_longitude}}" zoom="17">
      <marker position="{{vm.direccion_latitude}},{{vm.direccion_longitude}}"></marker>
    </ng-map>
  </div>
  <div class="top-btn-wrapper pull-right">
    <div ng-click="goToTop()"><span class="go-top"></span>
    </div>
  </div>