<div class="footer">
  <div class="container">
    <div class="col-sm-3 col-xs-12 footer-block">
      <div class="footer-menu">
        <h4 ui-sref="app.results" translate="HOME" class="pointer"></h4>
        <ul>
          <li ng-repeat="menuItem in footer.menu">
            <a ui-sref="app.page.static({title: menuItem.id, parent: menuItem.title, urlTitle : menuItem.urlTitle})" ng-bind-html="menuItem.title"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-5 col-xs-12 footer-block">
      <div class="footer--logos-wrapper">
        <div class="footer--logo"><img src="images/logo-ciu.png" alt="Camara Uruguaya"></div>
        <div class="footer--logo"><img src="images/logo-tres.png" alt="Cámara Uruguayo-Alemana"></div>
        <div class="footer--logo"><img src="images/logo-uruguay-natural.png" alt="Uruguay Natural"></div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12 footer-block">
      <div class="footer-info">
        <h4 translate="CALDEYRO_FOOTER_TITLE_1"></h4>
        <h4 translate="CALDEYRO_FOOTER_TITLE_2"></h4>
      </div>
      <p>Tel: (+ 598) 2600 8496</p>
      <p>caldeyro@caldeyro.com</p>
      <p translate="CALDEYRO_FOOTER_ADDRESS"> </p>
    </div>
  </div>
  <div class="footer-social">
    <span translate="FOLLOW_US"></span>
    <div class="social-icon">
      <a rel="nofollow" href="https://www.youtube.com/user/caldeyrovictorica" target="_blank"><img src="images/social/youtube.png" alt="youtube"></a>
    </div>
    <div class="social-icon">
      <a rel="nofollow" href="https://www.facebook.com/CaldeyroVictoricaBienesRaices" target="_blank"><img src="images/social/facebook.png" alt="facebook"></a>
    </div>
  </div>
</div>