<caldeyro-header type="main.headerType" ng-if="searchResults && !showSmall"></caldeyro-header>
<div class="container normalize-spaces">
  <div class="filter-trigger filter-open--wrapper hide-on--wide" ng-if="searchResults">
    <div class="facet-display--results col-xs-6">
      <span translate="RESULTS_TEXT_MOBILE" translate-value-from="{{main.resultText.from}}" translate-value-to="{{main.resultText.to}}" translate-value-total="{{main.resultText.total}}"></span>
    </div>
    <div class="filter-open col-xs-6">
      <span class="glyphicon glyphicon-filter"></span>
      <span ng-click="main.visibleRegion()" class="filter-open--btn" translate="FILTER"></span>
    </div>
  </div>
  <div class="container-fluid anim-fade">
    <div class="row-fluid">
      <div class="facet-filter--container" ng-if="facetAnimate">
        <div class="facet-region col-sm-4 col-md-3 col-xs-12">
          <div class="filter-trigger filter-close hide-on--wide">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span ng-click="main.visibleRegion()" class="filter-close--btn" translate="GO_BACK"></span>
          </div>
          <div class="facet-display facets-display--responsive hide-on--wide">
            <all-results class="hide-on--wide"></all-results>
            <div class="facet-display--group_control col-md-6 col-sm-12">
              <h3 class="hide-on--wide" translate="ORDER_BY"></h3>
              <select ng-model="main.sort" ng-options="sort as (sort.name|translate) for sort in main.sortList track by sort.key" class="form-control property-sort" , ng-change="main.search(true)" />
              <span class="btn-group search--result-display" role="group">
                <button
                  type="button"
                  class="btn btn-default"
                  ng-class="{'active': (main.viewMode === 'list')}"
                  ng-click="main.setViewMode('list')">
                    <i class="glyphicon glyphicon-th-list"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-default"
                  ng-class="{'active': (main.viewMode === 'grid')}"
                  ng-click="main.setViewMode('grid')">
                    <i class="glyphicon glyphicon-th"></i>
                </button>
              </span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="facet-categories-wrapper">
            <h3 class="hide-on--wide" translate="FILTERS"></h3>
            <ul class="nav nav-stacked facet-categories">
              <li>
                <all-results class="hide-on--mobile"></all-results>
              </li>
              <!-- <li>
                <div class="hide-on--mobile delete-all-filters--wrapper">
                  <button 
                    class="btn btn-default" 
                    ng-click="main.deleteFilters()"
                    >
                    <span class="glyphicon glyphicon-remove"></span>
                    <span translate="DELETE_ALL_FILTERS"></span>
                  </button>
                </div>

              </li> -->
              <li ng-repeat="category in main.categories | orderBy :'weight' track by category.key">
                <facet-category ng-class="category.widget" category="category"></facet-category>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="search-results--container" ng-if="searchResults">
        <div class="search-region col-sm-8 col-md-9 col-xs-12">
          <div class="facet-display facets-display--full hide-on--mobile">
            <h1 class="h1-title">{{ title | h1 }}</h1>
            <div class="facet-display--results col-md-6 col-sm-12">
              <span translate="RESULTS_TEXT" translate-value-from="{{main.resultText.from}}" translate-value-to="{{main.resultText.to}}" translate-value-total="{{main.resultText.total}}"></span>
            </div>
            <div class="facet-display--group_control col-md-6 col-sm-12">
              <select ng-model="main.sort" ng-options="sort as (sort.name|translate) for sort in main.sortList" class="form-control property-sort" , ng-change="main.search(true)" />
              <span class="btn-group search--result-display" role="group">
                <button
                  type="button"
                  class="btn btn-default"
                  ng-class="{'active': (main.viewMode === 'list')}"
                  ng-click="main.setViewMode('list')">
                    <i class="glyphicon glyphicon-th-list"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-default"
                  ng-class="{'active': (main.viewMode === 'grid')}"
                  ng-click="main.setViewMode('grid')">
                    <i class="glyphicon glyphicon-th"></i>
                </button>
              </span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="properties-results clearfix">
            <ul class="property-list row" ng-if="main.viewMode === 'list' && main.properties.length > 0">
              <li class="property property--row col-xs-12" ng-repeat="property in main.properties track by property.id" ng-if="main.properties.length">
                <property-result property="property" size="main.imageSize" view-mode="main.viewMode" home="true"></property-result>
              </li>
            </ul>
          </div>
          <ul class="property-list" ng-if="main.viewMode === 'grid' && main.properties.length > 0">
            <li class="property property--grid col-md-6 col-xs-12" ng-repeat="property in main.properties track by property.id" ng-if="main.properties.length">
              <property-result property="property" size="main.imageSize" view-mode="main.viewMode" home="true"></property-result>
            </li>
          </ul>
          <div ng-if="main.properties.length == 0 && searching == false" class="text-center  alert alert-info" translate="NO_RESULTS_PROPERTY"></div>
        </div>
        <div class="col-xs-12">
          <div class="properties-pager">
            <div class="properties-pager--results col-sm-4 col-xs-12">
              <span translate="RESULTS_PER_PAGE"></span>
              <ul>
                <li ng-click="main.selectPageSize(size)" ng-repeat="size in [10,20,30,50] track by $index" ng-bind="size" ng-class="{'active': (main.pager.size === size)}">
                </li>
              </ul>
            </div>
            <div class="pager-list col-sm-6 col-xs-12">
              <uib-pagination ng-change="main.search(true)" total-items="main.pager.count" ng-model="main.pager.page" items-per-page="main.pager.size" max-size="5" class="pagination facet-pagination" boundary-link-numbers="true" previous-text="<" next-text=">" rotate="true">
              </uib-pagination>
            </div>
            <div class="pager-action col-sm-2 col-xs-12">
              <div class="top-btn-wrapper">
                <div ng-click="goToTop()"><span class="go-top"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>