<div class="inner-container">
  <div class="page-breadcrumbs property-detailed--page row">
    <div class="col-sm-6 col-xs-12 breadcrumb--group-item">
      <ol class="breadcrumb">
        <li>
          <a ui-sref="app.results" translate="HOME"></a>
        </li>
        <li>
          <a ui-sref="app.results" translate="SEARCH"></a>
        </li>
        <li ng-bind="vm.property.fields.title[0] | capitalize"></li>
      </ol>
    </div>
    <div class="col-sm-6 col-xs-12 breadcrumb--group-item">
      <all-results></all-results>
    </div>
    <span class="clearfix"></span>
  </div>
</div>
<div class="property-slider--container" >
  <flex-slider ng-if="vm.imageSize == 'xs'" id="single-property" slide="s in vm.propertyImages track by s" animation="slide" direction-nav="true" touch=true after="vm.onslideafter($slider)" start="vm.onslideafter($slider)" class="slider--property">
    <li data-thumb="{{s}}">
      <img alt="{{vm.property.fields.title[0]}}" ng-src="{{s}}" err-src="images/caldeyro-empty.png">
    </li>
  </flex-slider>
  <flex-slider ng-if="vm.imageSize != 'xs'" id="single-property" slide="s in vm.propertyImages track by s" animation="slide" control-nav="false" direction-nav="false" sync="#carousel-property .flexslider" touch=true after="vm.onslideafter($slider)" start="vm.onslideafter($slider)"
    class="slider--property">
    <li data-thumb="{{s}}">
      <img alt="{{vm.property.fields.title[0]}}" ng-src="{{s}}" err-src="images/caldeyro-empty.png">
    </li>
  </flex-slider>
  <flex-slider id="carousel-property" ng-if="vm.propertyImages.length > 1 && vm.showGalley " slide="s in vm.propertyImages track by s" animation="slide" item-width="204" item-margin="20" max-items="5" as-nav-for="#single-property .flexslider" start="vm.flexsliderAsNav($model)"
    class="slider--property-carousel">
    <li data-thumb="{{s}}" class="slider--property-carousel--item">
      <img alt="{{vm.property.fields.title[0]}}" ng-src="{{s}}" err-src="images/caldeyro-empty.png">
    </li>
  </flex-slider>

  <!--<div class="social-media" ng-class="{xs: vm.imageSize == 'xs'}">
    <ul class="social-media__list">
      <li class="social-media__item">
        <a class="st_email_large" st_title="{{vm.property.fields.title[0]}}" st_summary="{{vm.property.fields['field_condiciones_generales'].join(' ')}}" st_image="{{vm.imageUrl}}"><span class="email-icon"></span></a></li>
      <li class="social-media__item">
        <a socialshare socialshare-provider="linkedin" socialshare-url="{{vm.url}}" socialshare-text="{{vm.property.fields.title[0]}}" socialshare-description="{{vm.property.fields['field_condiciones_generales'].join(' ')}}" socialshare-media="{{vm.imageUrl}}">
          <span class="linkedin-icon"></span>
        </a>
      </li>
      <li class="social-media__item">
        <a socialshare socialshare-provider="facebook" socialshare-url="{{vm.url}}" socialshare-text="{{vm.property.fields.title[0]}}" socialshare-description="{{vm.property.fields['field_condiciones_generales'].join(' ')}}" socialshare-media="{{vm.imageUrl}}">
          <span class="facebook-icon"></span>
        </a>
      </li>
      <li class="social-media__item">
        <a socialshare socialshare-provider="google" socialshare-url="{{vm.url}}"><span class="googleplus-icon"></span></a></li>
      <li class="social-media__item">
        <a socialshare socialshare-provider="twitter" socialshare-url="{{vm.url}}" socialshare-text="{{vm.property.fields.title[0]}}" socialshare-description="{{vm.property.fields['field_condiciones_generales'].join(' ')}}" socialshare-media="{{vm.imageUrl}}"><span class="twitter-icon"></span></a>
      </li>
    </ul>
  </div>-->

</div>
<div class="inner-container">
  <div class="row property--detailed-info">
    <div class="col-xs-12 grouped">
      <div class="property-header--track">
        <span class="property-ref" ng-bind="vm.property.fields.field_ref[0]">
        </span>
        <span class="property-status">
          <span ng-bind="vm.property.fields['field_propiedad_categoria:name'][0] | capitalize"></span> <span ng-bind="vm.property.fields['field_estado'].join(', ')  | capitalize"></span>
        </span>
        <a class="lot-detail pointer" ng-if="vm.property.fields['field_complejo_nombre_com']" ng-href="{{ vm.lang + '/' + vm.property.fields['field_complejo_link']}}">
          <span ng-if="vm.property.fields['field_unidad_o_lote'][0]" translate="unidad-o-lote">
          </span>
          <span ng-bind="vm.property.fields['field_unidad_o_lote'][0] | capitalize">
          </span> {{'in'|translate}}
          <span class="" ng-bind="vm.property.fields['field_complejo_nombre_com']">
          </span>
        </a>
      </div>
    </div>
    <div class="col-md-8 col-xs-12 grouped">
      <div class="property-panel">
        <div class="property-info">
          <div class="property-header">
            <div class="property--title full">
              <h4 class="media-heading" ng-bind="vm.property.fields.title[0]"></h4>
            </div>
          </div>
          <div class="location-item">
            <div class="map-pointer-icon"></div>
            <div class="property-location" ng-bind="vm.property.location">
            </div>
          </div>
        </div>
        <div class="property-attributes">
          <div class="attr-item" ng-if="vm.property.fields.field_dormitorios_totales">
            <attribute-icon type="'bed'" />
            <div class="grouped">
              <div ng-class="{'attr-two-line' : vm.property.fields.field_dormitorios_totales && vm.property.fields.field_en_suite}" ng-if="vm.property.fields.field_dormitorios_totales">
                <span translate="BEDROOM" class="attr-value"></span>
                <span ng-bind="vm.property.fields.field_dormitorios_totales" class="attr-value"></span>
              </div>
              <div ng-class="{'attr-two-line' : vm.property.fields.field_dormitorios_totales  && vm.property.fields.field_en_suite}" ng-if="vm.property.fields.field_en_suite">
                <span translate="SUITE" class="attr-value"></span>
                <span ng-bind="vm.property.fields.field_en_suite[0]" class="attr-value"></span>
              </div>

            </div>
          </div>
          <div class="attr-item" ng-if="vm.property.fields.field_banos">
            <attribute-icon type="'toilet'" />
            <div class="grouped">
              <div ng-class="{'attr-two-line' : vm.property.fields.field_banos && vm.property.fields.field_toilette}" ng-if="vm.property.fields.field_banos">
                <span translate="BATHROOM" class="attr-value"></span>
                <span ng-bind="vm.property.fields.field_banos" class="attr-value"></span>
              </div>
              <div ng-class="{'attr-two-line' : vm.property.fields.field_banos  && vm.property.fields.field_toilette}" ng-if="vm.property.fields.field_toilette">
                <span translate="TOILET" class="attr-value"></span>
                <span ng-bind="vm.property.fields.field_toilette[0]" class="attr-value"></span>
              </div>
            </div>
          </div>
          <div class="attr-item" ng-if="vm.property.fields['field_garage'][0]">
            <attribute-icon type="'garage'" />
            <div class="grouped">
              <span translate="GARAGES" class="attr-value"></span>
              <span ng-bind="vm.property.fields['field_garage'][0]" class="attr-value"></span>
            </div>
          </div>
          <div class="attr-item" ng-if=" vm.property.fields['field_servicio'][0] && 
                    vm.property.fields['field_servicio'][0] != 'no' &&
                    vm.property.fields['field_servicio'][0] != 'No' &&
                    vm.property.fields['field_servicio'][0] != 'NO' &&
                    vm.property.fields['field_servicio'][0] != 'nO'">
            <attribute-icon type="'service-room'" />
            <div class="grouped">
              <span translate="SERVICE" class="attr-value"></span>
              <span ng-if="
                    vm.property.fields['field_servicio'][0] != 'si' &&
                    vm.property.fields['field_servicio'][0] != 'Si' &&
                    vm.property.fields['field_servicio'][0] != 'SI' &&
                    vm.property.fields['field_servicio'][0] != 'sI'" ng-bind="vm.property.fields['field_servicio'][0]" class="attr-value"></span>
            </div>
          </div>
        </div>
        <div class="property-attributes">
          <!-- <div class="attr-item" ng-if="vm.property.fields['field_dimensiones_terreno:first']">
            <attribute-icon type="'area'" />
            <div class="grouped">
              <span translate="LAND" class="attr-value"></span>
              <span ng-bind="vm.property.fields['field_dimensiones_terreno:first']" class="attr-value"></span>
              <span ng-bind="vm.property.fields['field_dimensiones_terreno:second']" class="attr-value"></span>
            </div>
          </div> -->
          <div class="attr-item" ng-if="vm.property.fields['field_dimensiones_terreno_has']">
            <attribute-icon type="'area'" />
            <span ng-bind="vm.property.fields['field_dimensiones_terreno_has']" class="attr-value"></span>
            <span class="attr-value">ha</span>
          </div>
          <div class="attr-item" ng-if="vm.property.fields['field_dimensiones_terreno_m2']">
            <attribute-icon type="'area'" />
            <span ng-bind="vm.property.fields['field_dimensiones_terreno_m2'] | money" class="attr-value"></span>
            <span class="attr-value">m2</span>
          </div>
          <div class="attr-item" ng-if="vm.property.fields['field_indice_prod_promedio']">
            <attribute-icon type="'ic'" />
            <span ng-bind="vm.property.fields['field_indice_prod_promedio'] | number : 0" class="attr-value"></span>
            </attribute-icon>
          </div>
          <div class="attr-item" ng-if="vm.property.fields['field_mconstruidos']">
            <attribute-icon type="'level'" />
            <div class="grouped">
              <span translate="CONSTRUCTED" class="attr-value"></span>
              <span ng-bind="vm.property.fields['field_mconstruidos'] | money" class="attr-value"></span>
              <span ng-bind="'m2'" class="attr-value"></span>
            </div>
          </div>

          <div class="attr-item" ng-if="vm.property.fields['field_plantas']">
            <attribute-icon type="'floors'" />
            <div class="grouped">
              <span translate="FLOORS" class="attr-value"></span>
              <span ng-bind="vm.property.fields['field_plantas'][0]" class="attr-value"></span>
            </div>
          </div>

        </div>
      </div>
      <div class="property-footer">


        <span class="property-footer--item" ng-if="vm.property.fields['field_frente_a_la_ruta'] || vm.property.fields['field_accesos_estado'] || vm.printWatery()">
          <span ng-if="vm.property.fields['field_frente_a_la_ruta']" ng-bind="(vm.property.fields['field_frente_a_la_ruta']  | capitalize) +'.'"></span>
        <span ng-if="vm.property.fields['field_accesos_estado']" translate="ACCESS_STATUS"></span>
        <span ng-if="vm.property.fields['field_accesos_estado']" ng-bind="vm.property.fields['field_accesos_estado']+'.' | lowercase"></span>
        <span ng-if="vm.printWatery()" translate="WATERY"></span>
        <span ng-if="vm.printWatery()" translate="NATURALS"></span>
        </span>

        <span ng-if="vm.getDevelopmentLevelText()" class="property-footer--item">
          <span ng-bind="vm.getDevelopmentLevelText()  | capitalize"></span>
        </span>

        <span class="property-footer--item" ng-if="vm.property.fields['field_construido:field_estado_de_la_construccion']">
          <span translate="STATUS"></span>: <span ng-bind="vm.property.fields['field_construido:field_estado_de_la_construccion']"></span>
        </span>
      </div>
      <div class="pdf-info-wrapper">
        <div class="pdf-icon">
          <a ng-href="{{'http://api.caldeyro.com/' + vm.property.fields.pdf}}" target="_blank">
            <img src="images/pdf-download.png" alt="Download PDF">
          </a>
        </div>
      </div>
      <div class="property-body">
        <!-- <div class="property-descriptions">
          <p ng-bind="vm.property.fields['field_des_tierra_observaciones']"></p>
          <div ng-bind-html="vm.property.fields['field_descripcion_tierra:value']">
        </div> -->
        <div class="property-body--inner">
          <div class="property-body--inner">
            <div class="property-descriptions">
              <div ng-if="vm.property.fields['field_descripcion_construcciones:value'] || vm.property.fields['field_descripcion_tierra:value']">
                <h4 class="title" translate="DESCRIPTION"></h4>
              </div>
              <div>
                <div ng-bind-html="vm.property.fields['field_descripcion_tierra:value']"></div>
                <div ng-bind-html="vm.property.fields['field_descripcion_construcciones:value']"></div>
              </div>
            </div>
            <div class="property-characteristics">
              <!-- 
            <div ng-if="vm.property.fields['field_caract_grales_prop'].length > 0">
              <h4
                class="title"
                translate="GENERAL_CHARACTERISTICS"></h4>
              <p ng-bind="vm.property.fields['field_caract_grales_prop'].join(', ')"></p>
            </div> 
            -->
              <div ng-if="vm.property.fields['more_features'].length > 0">
                <h4 class="title" translate="MORE_CHARACTERISTICS"></h4>
                <div ng-bind-html="'&#8226; ' + vm.property.fields['more_features'].join(' ')"></div>
              </div>

              <div ng-if="vm.property.fields['observations'].length > 0">
                <h4 class="title" translate="OBSERVATIONS"></h4>
                <div ng-bind-html="vm.property.fields['observations'].join(' ')"></div>
              </div>

            </div>
            <!-- <div class="property-general-conditions" ng-if="vm.property.fields['field_condiciones_generales'].length">
            <h4 class="title" translate="GENERAL_CONDITIONS"></h4>
            <p ng-bind="vm.property.fields['field_condiciones_generales'].join(' ')"></p>
          </div> -->
            <div ng-if="vm.imageSize != 'sm' && vm.imageSize != 'xs' && vm.showMap" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="https://maps.google.com/maps/api/js?key=AIzaSyBOn6FqIHukeTOV60ErCcGgQLbY-lmc6Ww" class="property-map--location hidden-xs">
              <ng-map center="{{vm.property.fields['field_direccion:latitude']}},{{vm.property.fields['field_direccion:longitude']}}" zoom="17">
                <marker position="{{vm.property.fields['field_direccion:latitude']}},{{vm.property.fields['field_direccion:longitude']}}"></marker>
              </ng-map>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="property-prices full" style="display: block;" ng-if="(vm.property.fields['field_precio_venta:amount'] && vm.property.fields['field_mostrar_precio_venta'] == 1) || (vm.property.fields['field_precio_alquiler:amount'] && vm.property.fields['field_mostrar_precio_alquiler'] == 1)">
        <div class="property-sale " ng-if="vm.property.fields['field_precio_venta:amount'] && vm.property.fields['field_mostrar_precio_venta']">
          <div>{{'SALE_PRICE'|translate}} : </div>
          <span class="detail" ng-bind="vm.property.fields['field_precio_venta:currency'][0]  + ' '  | uppercase">
        </span>
          <span class="detail" ng-bind="vm.property.fields['field_precio_venta:amount'] | money">
        </span>
        </div>
        <div class="property-sale " ng-if="vm.property.area && vm.property.fields['field_precio_venta_unidad:publish']">
          <div>{{'SALE_PRICE_PER_UNIT' | translate:vm.property.area}} : </div>
          <span class="detail" ng-bind="vm.property.fields['field_precio_venta:currency'][0]  + ' '  | uppercase">
        </span>
          <span class="detail" ng-bind="vm.property.area.amount | money">
        </span>
        </div>
        <div class="property-rent " ng-if="vm.property.fields['field_precio_alquiler:amount'] && vm.property.fields['field_mostrar_precio_alquiler'] == 1">
          <div>{{'RENT_PRICE'|translate}} : </div>
          <span class="detail" ng-bind="vm.property.fields['field_precio_alquiler:currency'][0]  + ' ' | uppercase ">
        </span>
          <span class="detail" ng-bind="vm.property.fields['field_precio_alquiler:amount'] | money ">
        </span>
        </div>
      </div>
      <caldeyro-form form="vm.form" property="vm.property" class="caldeyro--info-form"></caldeyro-form>
      <div ng-if="vm.imageSize == 'sm' || vm.imageSize == 'xs' && vm.showMap" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="https://maps.google.com/maps/api/js?key=AIzaSyBOn6FqIHukeTOV60ErCcGgQLbY-lmc6Ww" class="property-map--location ">
        <ng-map center="{{vm.property.fields['field_direccion:latitude']}},{{vm.property.fields['field_direccion:longitude']}}" zoom="17">
          <marker position="{{vm.property.fields['field_direccion:latitude']}},{{vm.property.fields['field_direccion:longitude']}}"></marker>
        </ng-map>
      </div>
    </div>
  </div>
  <div class="property--more-viewed--panel" ng-if="vm.mostViewed.length > 0">
    <h4 class="title"><span class="inner-container" translate="MOST_VIEWED"></span></h4>
    <div class="clearbox"></div>
    <flex-slider animation="slide" animation-loop="false" item-width="235" item-margin="30" max-items="3" slide="property in vm.mostViewed track by $index" touch="true" class="property-slider--most-viewed inner-container">
      <li>
        <a ui-sref="app.page.property({title: property.path, lang: vm.lang})">
          <img alt="{{property.title}}" ng-src="{{property.images[0]}}" err-src="images/caldeyro-empty.png">
          <div class="property-title"><span ng-bind="property.title"></span></div>
          <span class="media-ribbon"></span>
        </a>
      </li>
    </flex-slider>
  </div>
  <div class="top-btn-wrapper pull-right">
    <div ng-click="goToTop()"><span class="go-top"></span>
    </div>
  </div>