<div 
  class="input-group caldeyro--search-bar" ng-class="search.imageSize">
  <input 
    type="text" 
    ng-model="search.keyword"
    ng-keyup="search.keyDown($event)"
    class="form-control" 
    placeholder="{{'SEARCH_BY_KEYWORD'|translate}}">
  <span 
    class="input-group-btn">
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li ng-repeat="location in search.locations"><a ng-bind="location.name" ng-click="search.location = location;"></a></li>
    </ul>
    <button 
      class="btn search-btn" 
      type="button"
      ng-click="search.textSearch()">
      <span class="magnifying-glass"></span>
    </button>
  </span>
</div>
</div>