<div class="header header-page">
  <div class="header-shadow"></div>
  <div class="caldeyro-navbar" role="navigation">
    <div class="container normalize-spaces">
      <div class="delimiter">
        <div class="header-caldeyro-main-menu">
          <button snap-toggle="left" type="button" class="navbar-toggle collapsed" data-toggle="collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse caldeyro-navbar--items normalize-spaces">
            <div class="language-selector navbar-info">
              <div type="button" class="language-btn" ng-class="{'active': (header.lang === 'en')}" ng-click="header.setLang('en')">English</div>
              <div class="language-btn">/</div>
              <div type="button" class="language-btn" ng-class="{'active': (header.lang === 'es')}" ng-click="header.setLang('es')">Español</div>
            </div>
            <div class="header--info-container">
              <div class="dropdown caldeyro--action-dropdown navbar-info" <div class="dropdown caldeyro--action-dropdown navbar-info" ng-include="'views/partial/caldeyro-menu-dropdown.html'">
              </div>
              <div class="caldeyro--phone-number navbar-info"><span><i class="glyphicon glyphicon-earphone"></i>&nbsp;&nbsp;<a href="tel:+598 2600 8496">+598 2600 8496</a></span></div>
            </div>
          </div>
        </div>
        <div class="header-main-logo">
          <div class="main-logo">
            <a class="diagonal-border-container" ng-click="header.goToHome()"></a>
          </div>
        </div>
        <div class="header-page--clear"></div>
        <div class="header-search-bar">
          <search-field></search-field>
        </div>
        <span class="clearfix"></span>
      </div>
    </div>
    <div class="search-panel search-panel-responsive">
      <search-field></search-field>
    </div>
  </div>
</div>