<div class="page-breadcrumbs">
  <span class="pull-left">
    <ol class="breadcrumb">
      <li><a ui-sref="app.results" translate="HOME"></a></li>
      <li><a ui-sref="app.results" translate="SEARCH"></a></li>
      <li ng-if="vm.parent" ng-bind-html="vm.parent | capitalize"></li>
      <li ng-bind="vm.title | capitalize"></li>
    </ol>
  </span>
  <span class="clearfix"></span>
</div>
<div class="row">
  <div class="col-sm-12" ng-if="vm.page.imageUrl">
    <img class="static-page--hero" ng-src="{{vm.page.imageUrl[0]['lg'] || 'http://www.lorempixel.com/800/350/city/'}}" />
  </div>
</div>
<div class="static-page--title">
  <h2 class="inner-container">{{vm.page.title}}</h2>
</div>
<div class="inner-container static-page--content">
  <div class="row">
    <div class="col-sm-8 col-xs-12 static-page--main">
      <div ng-bind-html="vm.trustedContent"></div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="static-page--accordion" ng-if="vm.menu.length > 0">
        <uib-accordion close-others="true" ng-repeat="group in vm.menu" class="static-page--accordion_item">
          <uib-accordion-group is-open="group.open" ng-if="group.items.length > 0">
            <uib-accordion-heading>
              <i class="accordion-pointer"></i>
              <span ng-bind="group.title" class="accordion-main--item"></span>
            </uib-accordion-heading>
            <ul>
              <li ng-repeat="item in group.items" ng-if="item.id">
                <a ui-sref="app.page.static({title: item.id, urlTitle: item.urlTitle, parent: group.title})">
                  <span ng-bind="item.title" class="accordion-sub--item" ng-class="{'active': vm.urlTitle == item.urlTitle}">
                  </span>
                </a>
              </li>
            </ul>
          </uib-accordion-group>
          <a ng-if="!group.items" ui-sref="app.page.static({title: group.id, urlTitle: group.urlTitle, parent: group.title})">
            <span ng-bind="group.title" class="accordion-sub--item">
            </span>
          </a>


        </uib-accordion>
      </div>
      <div class="accordion-bottom-triangle" ng-if="vm.menu.length > 0"></div>
      <div class="static-page--info">
        <div class="static-page--contact ">
          <h4 translate="CALDEYRO_FOOTER_TITLE_1"></h4>
          <h4 translate="CALDEYRO_FOOTER_TITLE_2"></h4>
        </div>
        <p>Tel: (598) 2600 8496</p>
        <p>caldeyro@caldeyro.com</p>
        <p translate="CALDEYRO_FOOTER_ADDRESS"> </p>
      </div>
      <caldeyro-form form="vm.contactForm" class="caldeyro--info-form"></caldeyro-form>
    </div>
  </div>
</div>
<div class="top-btn-wrapper pull-right">
  <div ng-click="goToTop()"><span class="go-top"></span>
  </div>
</div>