<div class="page-breadcrumbs" >
  <span class="pull-left">
    <ol class="breadcrumb">
      <li><a ui-sref="app.results" translate="HOME"></a></li>
      <li><a ui-sref="app.results" translate="SEARCH"></a></li>
      <li ng-if="vm.parent" ng-bind-html="vm.parent | capitalize"></li>
      <li ng-bind="vm.title | capitalize"></li>
    </ol>
  </span>
  <span class="pull-right">
    <all-results></all-results>
  </span>
  <span class="clearfix"></span>
</div>
<div class="panel panel-default ">
  <div class="panel-body">
  	<div class="col-sm-6 col-sm-offset-3">
  		<h2 translate="THANKS_MESSAGE"></h2>
		<div class="not-found-divider"></div>
		<div class="text-center">
			<img src="/images/logo.png">
		</div>
  	</div>
  </div>
</div>