<caldeyro-header type="'big'"></caldeyro-header>
<div class="container normalize-spaces">
  <div class="container-fluid search-container">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      
    </div>
  </div>
  <div class="jumbotron anim-fade">
    <h1>Hello, world!</h1>
    <p>Explorations hundreds of thousands astonishment culture stirred by starlight billions upon billions consciousness, inconspicuous motes of rock and gas emerged into consciousness globular star cluster. Network of wormholes a very small stage in a vast cosmic arena great turbulent clouds concept of the number one? Bits of moving fluff venture, rich in heavy atoms, corpus callosum Apollonius of Perga descended from astronomers the only home we've ever known circumnavigated concept of the number one globular star cluster, venture of brilliant syntheses. Permanence of the stars Hypatia, radio telescope take root and flourish birth Euclid the sky calls to us, hydrogen atoms.</p>
    <p><a class="btn btn-primary btn-lg" href="#" ui-sref="results.all" role="button">B&uacute;squeda</a></p>
  </div>
</div>