{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
    'row',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="branding__aig col-xs-12 col-sm-3">
      <a href="{{ path('<front>') }}" title="{{ 'AIG'|t }}">
        <img src="/{{ base_path ~ directory }}/images/logo-aig.png" alt="AIG" />
      </a>
    </div>
    {{ content }}
  </div>
{% endif %}
