{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
    'row',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="col-sm-4 language-switch">
      {{ content }}
    </div>
    <div class="col-xs-12 col-sm-8 copyright">
      <span>&copy; {{ 'All rights reserved'|t }} | </span>
      <a href="{{ path('<front>') }}" title="{{ 'Privacy statement'|t }}">{{ 'Privacy statement'|t }}</a>
    </div>
  </div>
{% endif %}
