{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% if (page.top_bar) %}
<section class="l-top-bar">
  <div class="wrapper container-fluid">
    {{ page.top_bar }}
  </div>
</section>
{% endif %}
<header role="l-banner">
  <div class="wrapper container-fluid">
    <div class="row">
      {{ page.header }}
    </div>
  </div>
</header>
{% if (page.navigation) or (page.primary_menu) %}
<nav class="l-navigation">
  <div class="wrapper container-fluid">
    <div class="row">
      {{ page.navigation }}
      {{ page.primary_menu }}
    </div>
  </div>
</nav>
{% endif %}

<section class="l-hero home-hero">
  {{ bamboo_render_views('home_hero') }}
  <div class="overlay"></div>
  <div class="home-hero-container wrapper">
    <h4 class="">{{ 'welcome' | t }}</h3>
    <h3 class="">{{ 'What are you looking for today?' | t }}</h3>
    <div class="search-accesibility-container">
      {{ bamboo_render_views('search') }}
      {{ bamboo_render_block('accessibility_block') }}
    </div>
    <p class="">{{ 'Search procedures, documents, state institutions, and more ... for example duplicate of identification card.' | t }}</p>
  </div>
</section>

<div class="l-main">

  {{ bamboo_render_views('notices', 'block_1') }}

  <div class="most-consulted-procedures-and-other-services-container home-section container-fluid">

    <div class="wrapper">
      
      <div class="most-consulted-procedures-container">
        {{ bamboo_render_views('tramites', 'most_consulted_procedures') }}
        {{ bamboo_render_views('institutions_search_api', 'most_consulted_institutions') }}
      </div>
      
      <div class="other-services-container">
        
        <h2 class="title">
          <span>{{ 'other' | t }}</span>
          <span>{{ 'services' | t }}</span>
        </h2>
        
        <div class="blocks-container">
          
          <div class="left-container">
            <div class="top">
              <h3 class="title">{{ 'do you want to do online procedures?' | t }}</h3>
              <img src="{{ base_path ~ directory }}/images/logo-psp.png" alt="Panama en Linea" />
              <a href="" class="link">{{ 'click here' | t }}</a>
            </div>
            <div class="bottom">
              <h3 class="title">{{ 'online proof statement' | t }}</h3>
              <a href="" class="link">{{ 'click here' | t }}</a>
            </div>
          </div>
          
          <div class="right-container">
            <div class="top">
              <h3 class="title">{{ 'citizen attention center' | t }}</h3>
              <img src="{{ base_path ~ directory }}/images/311-white.png" alt="Panama en Linea" />
              <a href="" class="link">{{ 'click here' | t }}</a>
            </div>
            <div class="bottom">
              <h3 class="title">{{ 'police record check' | t }}</h3>
              <a href="" class="link">{{ 'click here' | t }}</a>
            </div>
          </div>

        </div>
      </div>

      <a href="" class="view-all-link">{{ 'view all' | t }}</a>
    </div>

  </div>

  <div class="home-section panamatramita-figures-container container-fluid">
    <div class="wrapper">
      <h2 class="title">{{ 'Panamatramita in figures' | t }}</h2>
      {{ bamboo_render_block('figures_block') }}
    </div>
  </div>

  {% if home_banner %}
    <div class="home-section home-banner container-fluid">
      {{ bamboo_render_views('home_banner') }}
    </div>
  {% endif %}

  <div class="home-section latest-news-container container-fluid">
    <div class="wrapper">
      {{ bamboo_render_views('news', 'latest_news') }}
    </div>
  </div>
  
</div>

{% if page.post_content %}
<div class="wrapper container-fluid l-post_content">
  <section class="row">
    {{ page.post_content }}
  </section>
  </div>
{% endif %}

{% if (page.footer) or (page.copyright) %}
  <footer role="contentinfo" class="l-footer">
    <div class="wrapper container-fluid">
      <div class="l-footer_info">
        {{ page.footer }}
      </div>
      <div class="l-copyright">
        {{ page.copyright }}
      </div>
    </div>
  </footer>
{% endif %}
