{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.top_content: Content on top of the main content and sidebar.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% if (page.top_bar) %}
<section class="l-top-bar">
  <div class="wrapper container-fluid">
    {{ page.top_bar }}
  </div>
</section>
{% endif %}
<header role="l-banner">
  <div class="wrapper container-fluid">
    <div class="row">
      {{ page.header }}
    </div>
  </div>
</header>
{% if (page.navigation) or (page.primary_menu) %}
<nav class="l-navigation">
  <div class="wrapper container-fluid">
    <div class="row">
      {{ page.navigation }}
      {{ page.primary_menu }}
      <div class="search-icon"></div>
      <div class="menu-search-container">
        {{ bamboo_render_views('search') }}
      </div>
    </div>
  </div>
</nav>
{% endif %}
{% if page.hero %}
  <section class="l-hero">
    {{ page.hero }}
  </section>
{% endif %}

<div class="l-main">
  <main role="main" class="wrapper container-fluid">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <div class="row">
      {{ page.secondary_menu }}

      {{ page.help }}

      {% if page.sidebar_first %}
        <div class="top_content col-xs-12">
          {{ page.top_content }}
        </div>
      {% endif %}

      <div class="l-content col-xs-12">
        {{ page.content }}
      </div>{# /.layout-content #}
    </div>
  </main>
</div>

{% if page.post_content %}
<div class="l-post_content">
  <section class="row">
    {{ page.post_content }}
  </section>
  </div>
{% endif %}

{% if (page.footer) or (page.copyright) %}
  <footer role="contentinfo" class="l-footer">
    <div class="wrapper container-fluid">
      <div class="l-footer_info">
        {{ page.footer }}
      </div>
      <div class="l-copyright">
        {{ page.copyright }}
      </div>
    </div>
  </footer>
{% endif %}
