{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'container'
  ]
%}
{% block paragraph %}
  <div class="section">
    <div{{ attributes.addClass(classes) }}>
    {% block content %}

      <h3 class="title text-center">{{ content.field_title | field_value }}</h3>

      <div class="description text-center">{{ content.field_text | field_value }}</div>

      <div class="columns is-multiline is-centered">

        <div class="column is-one-third">
          {% if (content.field_short_product_column_1.0 is not empty) %}
            {% set nid = content.field_short_product_column_1 | field_value %}
            {% set link = path('entity.node.canonical', {'node': nid[0]['#plain_text'] }) %}

            {% if (content.field_short_image_column_1.0 is not empty) %}
              <div class="short-image-container">
                <a href="{{ link }}" class="image-container">{{ content.field_short_image_column_1 }}</a>
                <div class="show-more-container">
                  <div class="content-container">
                    <h6 class="title is-6 text-uppercase text-white">aplica y conoce mas de este producto</h6>
                    <a href="{{ link }}" class="button text-uppercase text-green">ver mas</a>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endif %}

          {% if (content.field_large_product_column_1.0 is not empty) %}
            {% set nid = content.field_large_product_column_1 | field_value %}
            {% set link = path('entity.node.canonical', {'node': nid[0]['#plain_text'] }) %}

            {% if (content.field_large_image_column_1.0 is not empty) %}
              <div class="large-image-container">
                <a href="{{ link }}" class="image-container">{{ content.field_large_image_column_1 }}</a>
                <div class="show-more-container">
                  <div class="content-container">
                    <h6 class="title is-6 text-uppercase text-white">aplica y conoce mas de este producto</h6>
                    <a href="{{ link }}" class="button text-uppercase text-green">ver mas</a>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endif %}
        </div>

        <div class="column is-one-third">
          {% if (content.field_large_product_column_2.0 is not empty) %}
            {% set nid = content.field_large_product_column_2 | field_value %}
            {% set link = path('entity.node.canonical', {'node': nid[0]['#plain_text'] }) %}

            {% if (content.field_large_image_column_2.0 is not empty) %}
              <div class="large-image-container">
                <a href="{{ link }}" class="image-container">{{ content.field_large_image_column_2 }}</a>
                <div class="show-more-container">
                  <div class="content-container">
                    <h6 class="title is-6 text-uppercase text-white">aplica y conoce mas de este producto</h6>
                    <a href="{{ link }}" class="button text-uppercase text-green">ver mas</a>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endif %}

          {% if (content.field_short_product_column_2.0 is not empty) %}
            {% set nid = content.field_short_product_column_2 | field_value %}
            {% set link = path('entity.node.canonical', {'node': nid[0]['#plain_text'] }) %}

            {% if (content.field_short_image_column_2.0 is not empty) %}
              <div class="short-image-container">
                <a href="{{ link }}" class="image-container">{{ content.field_short_image_column_2 }}</a>
                <div class="show-more-container">
                  <div class="content-container">
                    <h6 class="title is-6 text-uppercase text-white">aplica y conoce mas de este producto</h6>
                    <a href="{{ link }}" class="button text-uppercase text-green">ver mas</a>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endif %}
        </div>

        <div class="column is-one-third">
          {% if (content.field_short_product_column_3.0 is not empty) %}
            {% set nid = content.field_short_product_column_3 | field_value %}
            {% set link = path('entity.node.canonical', {'node': nid[0]['#plain_text'] }) %}

            {% if (content.field_short_image_column_3.0 is not empty) %}
              <div class="short-image-container">
                <a href="{{ link }}" class="image-container">{{ content.field_short_image_column_3 }}</a>
                <div class="show-more-container">
                  <div class="content-container">
                    <h6 class="title is-6 text-uppercase text-white">aplica y conoce mas de este producto</h6>
                    <a href="{{ link }}" class="button text-uppercase text-green">ver mas</a>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endif %}

          {% if (content.field_large_product_column_3.0 is not empty) %}
            {% set nid = content.field_large_product_column_3 | field_value %}
            {% set link = path('entity.node.canonical', {'node': nid[0]['#plain_text'] }) %}

            {% if (content.field_large_image_column_3.0 is not empty) %}
              <div class="large-image-container">
                <a href="{{ link }}" class="image-container">{{ content.field_large_image_column_3 }}</a>
                <div class="show-more-container">
                  <div class="content-container">
                    <h6 class="title is-6 text-uppercase text-white">aplica y conoce mas de este producto</h6>
                    <a href="{{ link }}" class="button text-uppercase text-green">ver mas</a>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endif %}
        </div>

      </div>

    {% endblock %}
  </div>
  </div>
{% endblock paragraph %}
