{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'container'
  ]
%}
{% block paragraph %}
<div class="section">
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

      {% set display = content.field_images_display[0]['#markup'] %}

      {% if display == 'block' %}
        <div class="subtitle-container subtitle is-5 text-uppercase">
          {{ content.field_title | field_value.0['#context'].value }}
        </div>

        {{ content.field_text }}

        {{ content.field_images }}

      {% elseif display == 'side' %}
        <div class="columns is-mobile is-multiline">
          <div class="column is-12-mobile is-4-tablet">
            <div class="subtitle-container subtitle is-5 text-uppercase">
              {{ content.field_title|field_value.0['#context'].value }}
            </div>
            <div class="">
              {{ content.field_text  }}
            </div>
          </div>
          <div class="column is-12-mobile is-7-tablet is-offset-1-tablet">
            {% set count = paragraph.field_images.getValue | length %}

            {% if count == 2 %}
              <div class="columns is-mobile is-multiline is-variable is-6">
                <div class="column is-12-mobile is-6-tablet">
                  {{ content.field_images[0]|merge({'#image_style': 'image_350x265'}) }}
                </div>
                <div class="column is-12-mobile is-6-tablet">
                  {{ content.field_images[1]|merge({'#image_style': 'image_350x265'}) }}
                </div>
              </div>
            {% elseif count == 1 %}
              {{ content.field_images[0]|merge({'#image_style': 'image_800x400'}) }}
            {% endif %}
          </div>
        </div>
      {% endif %}

    {% endblock %}
  </div>
</div>
{% endblock paragraph %}
