{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}

{% set link_presentation = content.field_link_presentation | field_value.0['#markup'] %}
  <div{{ attributes.addClass(classes, link_presentation) }}>
    <div class="section">

      {% set background_color = content.field_color_background | field_value.0['#context'].value %}
      <div class="container" style="background-color:{{ background_color }};">
        {% block content %}

          <div class="content-container">

            {% set title_color = content.field_title_color | field_value.0['#context'].value %}
            <h2 class="title text-center text-uppercase" style="color: {{ title_color }};">{{ content.field_title | field_value }}</h2>

            {% set subtitle_color = content.field_description_color | field_value.0['#context'].value %}
            <div class="subtitle is-6 text-center" style="color: {{ subtitle_color }};">
              {{ content.field_subtitle | field_value }}
              <div class="cta text-center">{{ content.field_cta | field_value }}</div>
            </div>

          </div>

        {% endblock %}
      </div>
    </div>
  </div>
{% endblock paragraph %}
