<div class="hide-on--mobile" ng-if="vm.positiveValues() > 0">
  <div class="facet-category" ng-bind="vm.category.title[vm.lang]"></div>
  <ul class="facet--main-list">
    <li ng-repeat="item in vm.category.items  | filter : vm.greaterThan('counts', 0) | limitTo : vm.limit : 0 track by $index" class="facet--parent-check">
      <facet-item item="item" type="'checkbox'"></facet-item>
    </li>
    <li ng-if="vm.positiveValues() >= 4">
      <a class="facet--see-more-link" ng-click="vm.toggleLimit()">
        <span class="facet--see-more" ng-if="vm.limited" translate="SEE_MORE"></span>
        <span class="facet--see-less" ng-if="!vm.limited" translate="SEE_LESS"></span>
      </a>
    </li>
  </ul>
</div>
<div class="hide-on--wide facet-filter--responsive" ng-if="vm.positiveValues() > 0">
  <uib-accordion close-others="true" class="facet-mobile--accordion_item">
    <uib-accordion-group is-open="status.open">
      <uib-accordion-heading>
        <div class="facet-category" ng-bind="vm.category.title[vm.lang]"></div><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        <div class="facet-active-filters" ng-bind="vm.category.getActiveNames(', ')"></div>
      </uib-accordion-heading>
      <ul class="facet--main-list">
        <li ng-repeat="item in vm.category.items  | filter : vm.greaterThan('counts', 0) | limitTo : vm.limit : 0 track by $index" class="facet--parent-check">
          <facet-item item="item" type="'checkbox'"></facet-item>
        </li>
        <li ng-if="vm.positiveValues() >= 4">
          <a class="facet--see-more-link" ng-click="vm.toggleLimit()">
            <span class="facet--see-more" ng-if="vm.limited" translate="SEE_MORE"></span>
            <span class="facet--see-less" ng-if="!vm.limited" translate="SEE_LESS"></span>
          </a>
        </li>
      </ul>
    </uib-accordion-group>
  </uib-accordion>
</div>