<div ng-if="vm.positiveValues(true) > 0">
  <div class="hide-on--mobile">
    <div class="facet-category" ng-bind="vm.category.title[vm.lang]"></div>
    <div class="dropdown facet--category">
      <button
          class="dropdown-toggle dropdown-btn"
          type="button"
          id="dropdownCategory1"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="true"
          ng-bind-html="(vm.selectedValue || ('ALL'|translate)) + vm.caretHTML">
      </button>
      <ul
          class="dropdown-menu dropdown-menu-category"
          aria-labelleby="dropdownCategory1">
        <li ng-if="vm.selectedValue" ng-click="vm.setCategoryValue({value: null})">Todos</li>
        <li
            ng-repeat="item in vm.category.items | orderBy:'weight' track by $index"
            ng-click="vm.setCategoryValue(item)"
            ng-if="item.count > 0"
            ng-bind="item.label + ' (' + item.count + ')'"></li>
      </ul>
    </div>
  </div>
  <div class="hide-on--wide facet-filter--responsive">
    <uib-accordion close-others="true" class="facet-mobile--accordion_item">
      <uib-accordion-group is-open="status.open">
        <uib-accordion-heading>
          <div class="facet-category" ng-bind="vm.category.title[vm.lang]"></div>
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
          <div class="facet-active-filters" ng-bind="vm.getSelectedLabel()"></div>
        </uib-accordion-heading>
        <div class="dropdown facet--category">
          <button
              class="dropdown-toggle dropdown-btn"
              type="button"
              id="dropdownCategory1"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="true"
              ng-bind="vm.selectedValue || 'Todos'"
              ng-bind-html="vm.caretHTML">
          </button>
          <ul
              class="dropdown-menu dropdown-menu-category"
              aria-labelleby="dropdownCategory1">
            <li ng-if="vm.selectedValue" ng-click="vm.setCategoryValue({value: null})">Todos</li>
            <li
                ng-repeat="item in vm.category.items | orderBy:'weight' track by $index"
                ng-click="vm.setCategoryValue(item)"
                ng-if="item.count > 0"
                ng-bind="item.label + ' ( ' + item.count + ' )'"></li>
          </ul>
        </div>
      </uib-accordion-group>
    </uib-accordion>
  </div>
</div>