<span class="check-option" ng-click="vm.toggleValue(true)" ng-class="{'check-option--active': vm.item.selected}">
  <span class="facet--item-check">
    {{ (vm.item.label) ? vm.item.label : vm.item.filter }}
  </span>
<span class="item-count">
    (<span ng-bind="vm.item.count"></span>)
</span>
</span>