<input type="checkbox" ng-if="vm.item.counts > 0" ng-model="vm.item.selected" class="facet-checkbox">
<span ng-click="vm.select()" ng-class="{'check-option--active': vm.item.selected}" class="check-option">
    <span
      ng-bind="vm.item.name" class="facet--item-check" >
    </span>
<span ng-if="!vm.item.selected" class="item-count">
      (<span ng-bind="vm.item.counts || '0'" ></span>)
</span>
</span>
</input>
<ul ng-if="vm.item.hasChildren && vm.item.selected && vm.item.counts > 0">
  <li ng-animate="{enter: 'facet-enter', leave: 'facet-leave'}" ng-repeat="child in vm.item.items  |filter: vm.greaterThan('counts', 0) | limitTo : vm.limit : 0 track by $index" ng-if="child.counts > 0">
    <facet-item item="child" type="'checkbox'">
    </facet-item>
  </li>
  <li ng-if="vm.positiveValues() >= 4">
    <a class="facet--see-more-link" ng-click="vm.toggleLimit()">
      <span class="facet--see-more" ng-if="vm.limited" translate="SEE_MORE"></span>
      <span class="facet--see-less" ng-if="!vm.limited" translate="SEE_LESS"></span>
    </a>
  </li>
</ul>