<input
  type="checkbox"
  ng-model="vm.item.selected" class="facet-checkbox">
  <span ng-click="vm.select()" class="check-option" 
  ng-class="{'check-option--active': vm.item.selected}" >
    <span class="facet--item-check" >
      {{ (vm.item.label) ? vm.item.label : vm.item.filter }}
    </span>
    <span class="item-count">(<span ng-bind="vm.item.count || '0'" ></span>)
      </span>
  </span>
</input>
