.view-slider-home {

  .view-content > div {

    > div.flexslider {
      border: 0;
    }
  }

  .flex-control-nav {
    bottom: 50px;
  }

  .flex-control-paging li a {
    background-color: $white;

    &:hover {
    background-color: rgba(0, 0, 0, 0.7);
    }

    &.flex-active {
      background-color: rgba(0, 0, 0, 0.9);
    }
  }

}