form.webform-submission-form {

  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
  }

  fieldset {
    border: none;

    .fieldset-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  input, textarea {
    border: 0.5px solid $ligthergrey;
    padding: 10px;
    font-weight: 500;

    &:focus {
      box-shadow: 0px 0px 10px 0px rgba(0, 144, 54, 0.47);
      outline: none;
      border: 0.1px solid $green;
    }
  }

  .form-composite > legend, .label {
    font-weight: 500;
    margin-bottom: 10px;
  }

  .webform-button--submit.button.form-submit {
    @include button;
  }

  .form-item.form-type-radio {
    margin: 18px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    label.option {
      margin-left: 18px;
    }

    input[type='radio'] {
      cursor: pointer;

      &:focus {
        border: none;
        box-shadow: none;
      }

      &:after {
        content: '';
        width: 24px;
        height: 24px;
        border-radius: 50%;
        top: -4px;
        left: -4px;
        position: relative;
        background-color: $white;
        display: inline-block;
        visibility: visible;
        border: 3px solid $lightgrey;
      }

      &:checked:after {
        font-family: FontAwesome;
        content: "\f111";
        border-color: $green;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $green;
      }
    }
  }

  .form-actions.webform-actions {
    margin: 30px 0;
  }
}

form.webform-submission-contact-form-form {
  margin: 0 auto;
  max-width: 1000px;

  input {
    max-width: 400px;
  }

  .form-actions.webform-actions {
    text-align: center;
  }
}

.select2-container--default .select2-selection--single {
  border: 0.5px solid $ligthergrey;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 39px;

  .select2-selection__rendered {
    line-height: 1;
  }

  .select2-selection__arrow b {
    top: 75%;
  }
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $green;
}

.select2-search.select2-search--dropdown {

  input {

    &:focus {
      box-shadow: 0px 0px 10px 0px rgba(0, 144, 54, 0.47);
      outline: none;
      border: 0.1px solid $green;
    }
  }
}

.select2.select2-container.select2-container--default {
  max-width: 300px;
  font-weight: 500;

  &:focus {
    outline: none;
  }

  .select2-selection.select2-selection--single {

    &:focus {
      outline: none;
    }
  }
}