{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'media',
    'media--type-' ~ media.bundle()|clean_class,
    not media.isPublished() ? 'media--unpublished',
    view_mode ? 'media--view-mode-' ~ view_mode|clean_class,
  ]
%}
<article{{ attributes.addClass(classes) }}>

  <div class="file-name">{{ name }}</div>

  {% for key, media_file in content.field_media_file  %}
    {%if media_file.entity %}
      {% set file = media_file.entity %}
      {% set uri = file_url(file.uri.value) %}
      {% set mime_type = file.filemime.value|replace({'application/':"", '.':"-", '/':'-'}) %}
      <div class="file-link-container">
        <a target="_blank" href="{{ uri }}" class="file-link">{% trans %} download file {% endtrans %}</a>
        <span class="file-mime-type {{ mime_type }}"></span>
      </div>
    {% endif %}
  {% endfor %}

</article>
