{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  {% if node.field_link.0.url is not empty %}
    <div class="online-procedure-link-container">
      <a href="{{ node.field_link.0.url }}" target="_blank" class="online-procedure-link">
        {{ 'Go to online procedure' | t }}
      </a>
      {{ content.field_procedure_level }}
    </div>
  {% endif %}

  <h1 class="title">{{ label }}</h1>

  <div{{ content_attributes.addClass('node__content') }}>

  {% if content.field_institution|render is not empty %}
    <div class="belonging-institution-container">
      {{ content.field_institution }}
      <a href="{{ path('entity.node.canonical', {'node': node.field_institution.0.target_id}) }}" 
      class="view-more-link">{% trans %} View more {% endtrans %}</a>
    </div>
  {% endif %}

  {% if content.body|render is not empty %}
    <div class="body-container">
      {% set text = content.body|render|striptags %}
      {% if text|length > 1500 %}
        <div class="short-body">
          {{ content.body }}
          <div class="fadeout"></div>
        </div>
        <a href="#" class="view-more-link">{% trans %} View more {% endtrans %}</a>
        <a href="#" class="view-less-link">{% trans %} View less {% endtrans %}</a>
      {% else %}
        {{ content.body }}
      {% endif %}
    </div>
  {% endif %}

  {% set contact_type = node.field_contact_type.value %}
  
  {% if contact_type == "dependencies" and node.field_dependencies.0 is not empty %}
    <div class="dependencies-container">
      <div class="field__label">{% trans %} Where can I do this procedure? {% endtrans %}</div>
      {{ bamboo_render_views('procedure_dependencies', 'block_1') }}
    </div>
  {% elseif contact_type == "contact_information" %}
    <div class="contact-information-container">{{ content.field_contact_information }}</div>
  {% endif %}

  {% if node.field_requirements.0.entity.field_requirement_type is not empty %}
    <div class="requirements-container">
      {{ content.field_requirements }}
    </div>
  {% endif %}

  <div class="additional-information-container">
    {% set procedure_applies = node.field_procedure_applies is not empty %}

    {% set generated_document = node.field_generated_document is not empty %}

    {% set procedure_costs = node.field_procedure_costs.0.entity.field_cost is not empty or 
      node.field_procedure_costs.0.entity.field_description is not empty %}
    
    {% set duration = node.field_duration.0.entity.field_quantity is not empty or 
      node.field_duration.0.entity.field_description is not empty %}
    
    {% if (procedure_applies or generated_document or procedure_costs or duration) %}
      <div class="field__label">{% trans %} Additional Information {% endtrans %}</div>
    {% endif %}
    
    {{ content.field_procedure_applies }}
    
    {% if (procedure_costs) %}
      {{ content.field_procedure_costs }}
    {% endif %}
    
    {{ content.field_generated_document }}
    
    {% if (duration) %}
      {{ content.field_duration }}
    {% endif %}
    
    {% if content.field_observation|render is not empty %}
      <div class="observation-container collapsable">
        {{ content.field_observation }}
      </div>
    {% endif %}
    
    {% if content.field_legal_base|render is not empty %}
      <div class="legal-base-container collapsable">
        {{ content.field_legal_base }}
      </div>
    {% endif %}
    
  </div>

</article>
