<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="{{ '/js/vendor/select2/select2.min.css' | path }}"/>
  <link rel="stylesheet" href="{{ '/css/styles.css' | path }}"/>
  <link rel="stylesheet" href="{{ '/css/bulma.css' | path }}"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ '/js/vendor/slick/slick.css' | path }}"/>
  <link rel="stylesheet" href="{{ '/css/styleguide.css' | path }}"/>
  
  <title>Style guide - Preview</title>
</head>
<body>
  <div id="vue-page" role="document" class="page">
    {{ yield }}
  </div>

  <!-- Vendors -->
  <script src="{{ '/js/vendor/jquery.min.js' | path }}"></script>
  <script src="{{ '/js/vendor/ua-parser.min.js' | path }}"></script>
  <script src="{{ '/js/vendor/slick/slick.min.js' | path }}"></script>
  <script src="{{ '/js/vendor/select2/select2.min.js' | path }}"></script>
</body>
</html>