{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{# filename: footer.html.twig #}
{% set base_url = base_path ~ directory %}
{% set logo_src = [ base_url,'/images/logo-footer.png' ] | join %}
{% set actual_year = 'now'|date("Y")  %}
{% set copy_text = actual_year ~ ' Cooperativa Profesionales, R.L. Entidad supervisada por el Instituto Panameño Autónomo Cooperativo' %}

{# menu politics #}
{% set politicsMenu = simplify_menu('menu-politics') %}
{% set politicsMenuItems = {} %}
{% for key, politic_menu_item in politicsMenu.menu_tree %}
    {% set topItemName = politic_menu_item.text %}
    {% set topItemUrl = politic_menu_item.url %}
    {% set topItemTarget = politic_menu_item.options.attributes.target %}
    {% set politicsMenuItems =  politicsMenuItems|merge ({(key): ({'name': topItemName, 'title': topItemName, 'url': topItemUrl, 'target': topItemTarget, 'newWindowSrc': newWindow_src})})  %}
{% endfor %}

{# menu secundario #}
{% set secondMenu = simplify_menu('nav-second-two') %}
{% set secondMenuItems = {} %}
{% for key, second_menu_item in secondMenu.menu_tree %}
    {% set topItemName = second_menu_item.text %}
    {% set topItemUrl = second_menu_item.url %}
    {% set topItemTarget = second_menu_item.options.attributes.target %}
    {% set secondMenuItems =  secondMenuItems|merge ({(key): ({'name': topItemName, 'title': topItemName, 'url': topItemUrl, 'target': topItemTarget, 'newWindowSrc': newWindow_src})})  %}
{% endfor %}

{# menu social_networks #}
{% set socialNetworks = simplify_menu('social-networks') %}
{% set socialNetworksItems = {} %}
{% for key, social_networks_item in socialNetworks.menu_tree %}
    {% set topItemName = social_networks_item.text %}
    {% set topItemUrl = social_networks_item.url %}
    {% set topItemTarget = social_networks_item.options.attributes.target %}
    {% set socialNetworksItems =  socialNetworksItems|merge ({(key): ({'name': topItemName, 'title': topItemName, 'url': topItemUrl, 'target': topItemTarget, 'newWindowSrc': newWindow_src})})  %}
{% endfor %}

{% embed "@components/global/footer/footer" with {
        'politics': {
            'items': (politicsMenuItems)
        },
        'second': {
            'items': (secondMenuItems)
        },
        'social_networks': {
            'items': (socialNetworksItems)
        },
        'logo_big_footer': {
        'img_src': (logo_src),
        'img_alt': "Logo footer Cooperativa",
        'img_href': base_path
        },
        'copy_text': copy_text
    }
%}
{% endembed %}
