{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{# filename: header.html.twig #}

{% set base_url = base_path ~ directory %}
{% set logo_src = [ base_url,'/images/logo-cooperativa.png' ] | join %}

{# Main Menu #}
{% set items = simplify_menu('main') %}
{% set menuItems = {} %}
{% for key, menu_item in items.menu_tree %}
      {% set itemName = menu_item.text %}
      {% set itemURL = menu_item.url %}
      {% set submenu = menu_item.submenu %}
      {% set submenuItems = {} %} 
       {% if submenu %}
          {% for key, submenuItem in submenu %}
            {% set submenuItemName = submenuItem.text %}
            {% set submenuItemURL  =  submenuItem.url %}
            {% set submenuItems =  submenuItems|merge ({(key): ({'name': submenuItemName, 'title': submenuItemName, 'url': submenuItemURL})})  %}
          {% endfor %} 
       {% endif %}
      {% set menuItems =  menuItems|merge ({(key): ({'name': itemName, 'title': itemName, 'url': itemURL, 'submenu': submenuItems})})  %}
{% endfor %}

{# Top Menu #}
{% set topMenu = simplify_menu('top-nav') %}
{% set topMenuItems = {} %}
{% for key, top_menu_item in topMenu.menu_tree %}
      {% set topItemName = top_menu_item.text %}
      {% set topItemUrl = top_menu_item.url %}
      {% set topItemTarget = top_menu_item.options.attributes.target %}
      {% set topMenuItems =  topMenuItems|merge ({(key): ({'name': topItemName, 'title': topItemName, 'url': topItemUrl, 'target': topItemTarget, 'newWindowSrc': newWindow_src})})  %}
{% endfor %}

{% embed "@components/global/header/header" with {
    'top': {
        'items': (topMenuItems) 
    },
    'main': {  
        'items': (menuItems) 
    },
    'logo_big': {
        'img_src': (logo_src),
        'img_alt': "Logo Cooperativa",
        'img_href': base_path
    }
    }
%}
{% endembed %}
