<footer class="footer">
    <div class="container">
        <div class="columns grid-3">
            <div class="column block-1">
                <div class="footer-logo">
                    <a href="{{ logo_big_footer.img_href }}" class="footer-logo__big">
    	                <img src="{{ logo_big_footer.img_src }}" alt="{{ logo_big_footer.img_alt }}" >
                    </a>
                </div>
                <div class="footer-use-terms">
                    <h2>{{ 'POLITICA'|t }}</h2>
                    <ul>
                        {% for item in politics.items %}
                            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="column block-1">
                <div class="footer-nav">
                    <h2>{{ 'MENU'|t }}</h2>
                    <ul>
                        {% for item in second.items %}
                            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="column block-2">
                <div class="footer-social-network">
                    <h2>{{ 'SIGUE NUESTRAS REDES SOCIALES'|t }}</h2>
                    <ul class="social-icons">
                        {% for item in social_networks.items %}
                            <li>
                                <a href="{{ item.url }}" class="social-icon">
                                    <i class="fa fa-{{ item.title }}"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copy">
            <p><i class="fa fa-copyright"></i>{{ copy_text }}</p>
        </div>
    </div>
 </footer>
