<div class="accessibility-block wrapper container-fluid">
  <div class="accessibility-container">
    <div class="accessibility-icon high-contrast">
      <img src="/{{ base_path ~ directory }}/images/icons/high-contrast.png" alt="high-contrast" />
    </div>
    <span class="info-icon" title="{{ 'Change Color Contrast' | t}}"></span>
  </div>
  <div class="accessibility-container">
    <div class="accessibility-icon font-reduce">-A</div>
    <span class="info-icon" title="{{ 'Reduce Font Size' | t}}"></span>
  </div>
  <div class="accessibility-container">
    <div class="accessibility-icon font-increase">+A</div>
    <span class="info-icon" title="{{ 'Increase Font Size' | t}}"></span>
  </div>
</div>