$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";
$FontAwesomePath: "../bower_components/font-awesome/font";
@if compass-env()=='production' {
  $icon-font-path: "../fonts/bootstrap/";
  $fa-font-path: "../fonts";
  $FontAwesomePath: "../font";
}

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
@import "angular-ui-router-anim-in-out/scss/anim-in-out.scss";
// endbower
@import "base/_variables.scss";
@import "base/_mixin.scss";
@import "base/_sprite.scss";
@import "base/_proxima_nova.scss";
@import "components/_global.scss";
@import "components/_header.scss";
@import "components/_footer.scss";
@import "components/_responsive-menu.scss";
@import "components/_facet.scss";
@import "components/_forms.scss";
@import "components/_search.scss";
@import "components/_flexslider.scss";
@import "components/_menu.scss";
@import "components/_property-page.scss";
@import "components/_static-page.scss";
@import "components/_responsive-facets.scss";
.page--not-found {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.7);
  z-index: 10;
  .info {
    font-size: 40px;
    color: white;
    text-align: center;
  }
}

a {
  cursor: pointer;
}

span.stButton {
  display: none;
  span.stLarge {
    display: none;
  }
}