{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="section-title">
        {{ content.field_address['#title'] }} 
        {% if content.field_working_hours['#title']|render is not empty %}
          {% trans %} and {% endtrans %} 
        {% endif %}
        {{ content.field_working_hours['#title'] }}
      </div>
      <div class="info-container">
        <div class="address-container">
          <div class="address">
            <span class="building-icon"></span>
            {{ content.field_address }}
          </div>
          <div class="province-map-container">
            <span class="province-icon"></span>
            <div class="province-map">
              {{ content.field_province }}
              {% if content.field_address_map|render is not empty %}
                <a class="view-ubication-link" rel="nofollow" target="_blank" 
                href="https://www.google.com/maps/search/?api=1&query={{ content.field_address_map.0['#lat'] }},{{ content.field_address_map.0['#lng'] }}">
                  {% trans %} View location {% endtrans %}...
                </a>
              {% endif %}
            </div>
          </div>
          {% if content.field_phone_numbers|render is not empty %}
            <div class="telephones-container">{{ content.field_phone_numbers }}</div>
          {% endif %}
        </div>
        <div class="business-hours-container">{{ content.field_working_hours }}</div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
