{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <div class="row between-xs middle-xs">
    <div class="col-xs-10 col-sm-9">
      {% if site_logo %}
        <a href="{{ path('<front>') }}" title="{{ site_name }}" rel="home" class="site-logo">
          <img src="{{ site_logo }}" alt="{{ site_name }}" />
        </a>
      {% endif %}
      {% if site_name %}
        <div class="site-name">
          <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
        </div>
      {% endif %}
    </div>
    <div class="col-xs-6 col-sm-3 branding__secondary">
      <div class="row between-xs">
        <div class="branding__psp col-xs-6">
          <a href="https://www.panamaenlinea.gob.pa/" target="_blank" title="{{ 'Panama en Linea'|t }}">
            <img src="/{{ base_path ~ directory }}/images/logo-psp.png" alt="Panama en Linea" />
          </a>
        </div>
        <div class="branding__gn col-xs-6">
          <a href="https://www.presidencia.gob.pa/" target="_blank" title="{{ 'Panama National Government'|t }}">
            <img src="/{{ base_path ~ directory }}/images/logo-gobierno-nacional.png" alt="Panama National Government" />
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
