{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    {% set uri = "" %}
    {% for key, image in content.field_background_image %}
      {% if image.entity %}
        {% set media = image.entity %}
        {% set file = media.field_media_image.entity | merge({'#image_style': 'hero_1650x264'}) %}
        {% set uri = file_url(file.uri.value) %}
      {% endif %}
    {% endfor %}
    <div class="hero-background hero-container" style="background-image: url('{{ uri }}');">
      <div class="hero-overlay" style="background-color: {{ content.field_overlay_color.0 }};"></div>
      <div class="hero-title wrapper container-fluid">{{ content.field_title }}</div>
      {{ bamboo_render_block('accessibility_block') }}
    </div>
  {% endblock %}
</div>