{#
/**
 * @file
 * Theme implementation for a 'webform' element.
 *
 * This is an copy of the webform.html.twig theme_wrapper which includes the
 * 'title_prefix' and 'title_suffix' variables needed for
 * contextual links to appear.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the webform.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_webform()
 * @see _webform_form_after_build()
 *
 * @ingroup themeable
 */
#}
<form{{ attributes }}>
  {{ title_prefix }}
  <div class="section">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-half">
          {{ element.elements.processed_text }}
        </div>
        <div class="column is-half">
          <div class="columns is-multiline is-gapless">
            <div class="column">{{ element.elements.email }}</div>
            <div class="column is-narrow">{{ element.elements.actions }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ title_suffix }}
</form>