<uib-alert ng-repeat="alert in vm.alerts track by $index" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
<h3 ng-bind="vm.form.title"></h3>
<form novalidate class="css-form form-horizontal" role="form" name="form">
  <div ng-repeat="field in vm.form.fields track by $index">
    <div class="form-group" ng-if="field.type === 'text' || field.type === 'email'  " ng-class="{'has-error': form[field.name].$dirty &&  form[field.name].ivalid}">
      <div class="col-sm-12">
        <label ng-bind="field.label[vm.lang]"></label>
        <input type="{{field.type}}" class="form-control" placeholder="{{field.label[vm.lang]}}" required="{{field.req}}"></div>
    </div>
  </div>
  <div class="form-group" ng-if="field.type === 'select' " ng-class="{'has-error': form[field.name].$dirty &&  form[field.name].ivalid}">
    <div class="col-sm-12">
      <label ng-bind="field.label[vm.lang]"></label>
      <select class="form-control" ng-options="option.value as option.label[vm.lang]  for option in field.options" ng-model="field.value" required="field.req"></select>
    </div>
  </div>
  </div>
  <div class="form-group">
    <math-captcha></math-captcha>
  </div>
  <button class="btn btn-success" translate="SEND" ng-click="vm.sendForm()"></button>
</form>