.block-user-login-block {

  > .section > .container {
    box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.25);
    padding: 50px;
    border-radius: 8px;
  }

  form.user-login-form {
    margin-bottom: 50px;

    .subtitle {
      text-transform: uppercase;
      font-weight: 600;
      color: $black;
      margin-bottom: 40px;

      span {
        font-size: inherit;
      }
    }

    > .form-item {
      margin-bottom: 30px;

      &.form-type-password {
        margin-bottom: 50px;
      }

      > label {
        display: none;
      }

      > input {
        width: 100%;
        max-width: 260px;
        padding: 10px;
        font-weight: 500;
        border: 0.5px solid $lightgrey;

        &:focus {
          box-shadow: 0px 0px 10px 0px rgba(0, 144, 54, 0.47);
          outline: none;
          border: 0.1px solid $green;
        }
      }
    }

    > .form-actions {

      .button {
        @include button;
      }
    }
  }

  .item-list {

    ul > li {
      margin: 0;
      padding: 0;
    }
  }
}