.social-buttons {

  .social-buttons-title {
    font-size: 13px;
    font-weight: 500;
    color: #10242C;
  }

  ul.social-buttons-links {

    > li {

      > a {
        width: 30px;
        height: 30px;
        border-radius: 100%;
      }
    }
  }
}