html.a11y-font-1 {
  font-size: 105% !important; // sass-lint:disable-line no-important
}

html.a11y-font-2 {
  font-size: 110% !important; // sass-lint:disable-line no-important
}

html.a11y-contrast .responsive-menu-page-wrapper {
  // sass-lint:disable-block no-important
  background-color:$c-black !important; 
  color: $c-white !important;

  .l-navigation {
    background-color: $c-black !important;

    * {
      background-color: $c-black !important;
    }

    a {
      color: $c-white !important;
    }

    a.is-active {
      color: $c-tacao !important;
    }
  }

  .feedback-block {
    background-color: $c-black !important; 
    color: $c-white !important;

    .title {
      color: $c-tacao !important;
    }

    .subtitle,
    h4.title {
      color: $c-white !important;
    }
  }

  input.form-text {
    color: $c-black !important;
  }

  .l-main {
    background-color: $c-black !important; 
    color: $c-white !important;
    
    > div {
      background-color: $c-black !important; 
      color: $c-white !important;
    }

    .block-views-blockcategories-block-1 {
      h2 {
        background-color: $c-black !important; 
        border: 1px solid $c-white !important;
        color: $c-tacao !important;
      }

      a {
        color: $c-tacao !important;
      }
    }

    .chosen-single {
      background: none;
      color: $c-white !important;
      border-color: $c-tacao !important;

      b:before {
        color: $c-tacao !important;
      }
    }

    .chosen-drop {

      .chosen-search-input {
        color: $c-black !important;
      }

      .chosen-results {

        .result-selected {
          color: $c-tacao !important;
        }

        .highlighted {
          background-color: $c-black !important;
          color: $c-tacao !important;
        }
      }
    }

    .dependencies-container {

      > .field__label {
        background-color: $c-black !important; 
        border: 1px solid $c-white !important;
        color: $c-tacao !important;
      }

      .field__label {
        color: $c-tacao !important;

        &:after {
          color: $c-white !important;
        }
      }
    }

    .requirements-container,
    .additional-information-container {
      .field__label {
        color: $c-tacao !important;
      }
    }

    .requirements-container {

      .field--name-field-requirements {

        .field__item {

          .field--name-field-requirement-type {
            background-color: $c-black !important; 
            border: 1px solid $c-white !important;
            color: $c-tacao !important;

            &:after {
              color: $c-white !important;
            }
          }

          .field__item {

            &:before {
              color: $c-white !important;
            }

            a {
              color: $c-tacao !important;
            }
          }
        }
      }
    }

    .additional-information-container {

      .field .field__label {
        background-color: $c-black !important;
        border: 1px solid $c-white !important;

        &:after {
          color: $c-white !important;
        }
      }

      .field__item:before {
        color: $c-white !important;
      }
    }

    .field--name-field-phone-numbers {

      .field__label {
        background-color: $c-black !important;
        border: 1px solid $c-white !important;
        color: $c-tacao !important;

        &:after {
          color: $c-white !important;
        }
      }

      .field__item:before {
        color: $c-white !important;
      }
    }

    .telephones-container > .field--name-field-phone-numbers {

      .field__label {
        border: none !important;
      }
    }

    .block-quicktabs-blockrelated-procedures-dependencies {

      h2 {
        color: $c-tacao !important;

        &:before {
          color: $c-white !important;
        }

        a {
          color: $c-tacao !important;
        }
      }

      .subtext:after {
        border-color: $c-tacao !important;
      }
    }

    .pager__items > .pager__item.is-active > a,
    .pager__items > .pager__item.pager__item--next a,
    .pager__items > .pager__item.pager__item--last a,
    h1,
    h1.title,
    h2.title,
    a.view-all-link,
    .view-all-link a,
    .more-link a,
    h3.content-title > a,
    h3.menu-title,
    .node--type-article a,
    .view-more-link,
    .info-container .field__label,
    a.print_link,
    .node--type-institution .title-container,
    .view-less-link,
    .file-name,
    .view-ubication-link,
    .websie-email-container a,
    .social-networks-container .svg-inline--fa,
    .field--name-field-website a,
    .field--name-field-link a,
    .text-formatted.field.field--name-body h1,
    .text-formatted.field.field--name-body h2,
    .text-formatted.field.field--name-body h3,
    .text-formatted.field.field--name-body h4,
    .text-formatted.field.field--name-body h5,
    .text-formatted.field.field--name-body h6,
    .text-formatted.field.field--name-body a,
    .block-addtoany-block > h2 {
      color: $c-tacao !important;
    }

    .node--type-article .field--name-body *,
    .pager__items > .pager__item > a,
    h3.title,
    h3 > a,
    .view-header,
    .node__submitted > span,
    .other-services-container a.link,
    .menu a,
    .svg-inline--fa,
    .views-total > span,
    label,
    .info-container span:before,
    .info-container .field__items:before,
    a.print_link:before,
    .telephones-container:before,
    .telephones-container a,
    .field--name-field-source .field__label,
    .view-ubication-link:after,
    .websie-email-container .field__label,
    .social-networks-container .field__label,
    .belonging-institution-container .field--name-field-institution {
      color: $c-white !important;
    }

    .paragraph--type--contact-information {

      .section-title {
        background-color: $c-black !important;
        border: 1px solid $c-white !important;
        color: $c-tacao !important;
      }
    }
  }

  .color-cadet-blue {
    background-color: $c-panda !important;
  }
  .color-victoria {
    background-color: $c-neutral-green !important;
  }

  .color-calico {
    background-color: $c-midnight-blue !important;
  }
  .color-sandy-brown {
    background-color: $c-fun-blue !important;
  }

  .color-verdigris {
    background-color: $c-sunset !important;
  }
  .color-elm {
    background-color: $c-sea-pink !important;
  }

  .color-rose-bud {
    background-color: $c-midnight-green !important;
  }
  .color-copper {
    background-color: $c-jelly-bean !important;
  }

  .color-spray {
    background-color: $c-burnt-umber !important;
  }
  .color-chatams-blue {
    background-color: $c-tacao !important;
  }

  input.button.form-submit {
    background-color: $c-tacao;
    border-color: $c-tacao;
    color: $c-black;
  }

  .quicktabs-wrapper .quicktabs-tabs li.active {
    background-color: $c-tacao;

    a {
      color: $c-black;
    }
  }

  .notifications-container {

    &:before {
      color: $c-black !important;
    }
  }

  .node--type-notice {
    
    .title > span,
    .field--name-field-notice {
      color: $c-black !important;
    }
  }
}

.accessibility-block {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
  color: $c-white;
  margin-bottom: px-to-rem(30);
  position: absolute;
  top: px-to-rem(25);
  right: px-to-rem(20);

  @include breakpoint($bp-sm) {
    position: relative;
    top: unset;
    right: unset;
  }

  .accessibility-container {
    cursor: pointer;
    margin-right: px-to-rem(15);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &:last-child {
      margin-right: 0;
    }

    .accessibility-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-basis: px-to-rem(38);
      border: px-to-rem(2) solid $c-white;
      width: px-to-rem(35);
      height: px-to-rem(28);
      color: $c-white;
      margin-right: px-to-rem(3);

      img {
        width: 60%;
      }

      .font-reduce,
      .font-increase {
        text-transform: uppercase;
      }

      .font-increase {
        font-weight: $font-weight-bold;
      }
    }

    .info-icon {
      @include icon("information");
      color: $c-white;
      margin-top: px-to-rem(-5);

      &:before {
        font-weight: $font-weight-bold;
      }
    }
  }
}