.media--view-mode-additional-files {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.media--view-mode-additional-files .file-name {
  color: $c-primary;
}

.media--view-mode-additional-files .file-link-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.media--view-mode-additional-files .file-link-container .file-link {
  text-transform: capitalize;
  margin-right: px-to-rem(20);
}

.media--view-mode-additional-files .file-link-container .file-mime-type {
  @include icon(txt);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: px-to-rem(20);

  &.text-plain {
    @include icon(txt);
  }

  &.pdf {
    @include icon(pdf);
    color: $c-pink;
  }

  &.vnd-openxmlformats-officedocument-wordprocessingml-document {
    @include icon(doc);
    color: $c-celestial-blue;
  }

  &.vnd-ms-excel,
  &.vnd-openxmlformats-officedocument-spreadsheetml-sheet {
    @include icon(xls);
    color: $c-elm;
  }
}
