.view-home-banner {
 
  .views-field-field-image {
    display: none;

    @include breakpoint($bp-sm) {
      display: block;
    }
  }

  .views-field-field-mobile-image {

    @include breakpoint($bp-sm) {
      display: none;
    }
  }
}