.block-pt-print.block-print-block {
  padding: px-to-rem(20) 0;
  border-top: 1.5px solid $c-loblolly;
  margin: px-to-rem(15) 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .print,
  .forward {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    &:before {
      color: $c-loblolly;
      margin-right: px-to-rem(15);
      font-size: px-to-rem(32);
    }

    a {
      flex-basis: 53%;
    }
  }

  .print {
    @include icon(printer);
    flex-basis: 50%;
  }

  .forward {
    @include icon(mail);

    a {
      flex-basis: 61%;
    }
  }
}