// Header
.site-name {
  @extend %visuallyhidden;
}

.site-logo {
  display: block;
  max-width: px-to-rem(300);
}

// PSP y logo gobierno nacional
.branding__secondary {
  display: none;

  @include breakpoint(px-to-rem(946)) {
    display: block;
  }
}

// Logo gobierno nacional
.branding__gn {
  text-align: right;  
}

// AIG footer
.branding__aig {
  text-align: center;

  @include breakpoint($bp-sm) {
    text-align: left;
  }
}