// Breadcrumb styles.

.breadcrumb ol li {
  @include icon(angle-double-right-light, after);
  margin-right: px-to-rem(5);
}

.breadcrumb ol li:after {
  color: $c-lochmara;
  line-height: 1;
  vertical-align: middle;
}

.breadcrumb ol li:last-of-type:after {
  content: '';
}

.breadcrumb ol li:before {
  content: '';
}
