.block-views-blockcategories-block-1 .view-categories .view-main-content {
  margin: px-to-rem(30) 0;
}

.block-views-blockcategories-block-1 h2 {
  text-transform: capitalize;
  color: $c-cadet;
  background-color: $c-zircon;
  padding: px-to-rem(15);
  border-bottom-left-radius: px-to-rem(20);
  font-size: px-to-rem(18);
}

.block-views-blockcategories-block-1 .view-content {
  border: 1px solid $c-input-border;
  border-radius: px-to-rem(3);
  word-break: break-word;
}

.block-views-blockcategories-block-1 .view-content > .views-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $c-input-border;
  padding: px-to-rem(15) px-to-rem(20);

  &:last-child {
    border: none;
  }
}

.block-views-blockcategories-block-1 .view-content > .views-row > .views-field-name a {
  color: $c-text;
}

.block-views-blockcategories-block-1 .view-content > .views-row > .views-field-uuid a {
  color: $c-white;
  background-color: $c-primary;
  border-radius: 25%;
  padding: px-to-rem(3) px-to-rem(5);
}
