.most-consulted-procedures-and-other-services-container {
  background-image: url('../images/map-bg.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 50%;
  background-position: 100% 50%;
}

.most-consulted-procedures-and-other-services-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint(px-to-rem(1220)) {
    padding-right: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  .most-consulted-procedures-container {
    background: url('../images/most-consulted-procedures-bg.png') no-repeat center;
    background-size: cover;
    min-height: px-to-rem(500);
    padding: px-to-rem(20);
    margin-bottom: px-to-rem(50);
    max-width: px-to-rem(500);

    @include breakpoint($bp-xsm) {
      padding: px-to-rem(50) px-to-rem(30);
    }

    @include breakpoint(px-to-rem(1220)) {
      margin-bottom: 0;
      flex-basis: 34%;
      min-height: px-to-rem(700);
      max-width: unset;
    }

    @include breakpoint(px-to-rem(1300)) {
      flex-basis: 39%;
    }

    @include breakpoint(px-to-rem(1430)) {
      flex-basis: 44%;
    }

    .views-element-container:first-child {
      margin-bottom: px-to-rem(30);
    }

    h2.title {
      color: $c-white;
      text-align: center;

      @include breakpoint($bp-xsm) {
        text-align: left;
      }
    }

    a {
      color: $c-white;
      flex-basis: 85%;
    }

    .views-field.views-field-title .field-content {
      @include icon(logout);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;

      &:before {
        color: $c-white;
        font-size: px-to-rem(22);
        margin-right: px-to-rem(5);
      }
    }

    .view-content {
      margin-bottom: px-to-rem(25);
      padding-left: px-to-rem(25);

      .views-row {
        padding: px-to-rem(15) 0;
        border-bottom: px-to-rem(1) solid $c-kashmir-blue;

        &:hover {
          padding: px-to-rem(15) px-to-rem(25);
          background-color: $c-white;

          .views-field.views-field-title .field-content {

            &:before {
              color: $c-primary;
            }
          }

          a {
            color: $c-primary;
          }
        }
      }
    }
  }

  .other-services-container {
    flex-grow: 1; 
    // background: url('../images/map-bg.png') no-repeat center;
    // background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include breakpoint(px-to-rem(1220)) {
      width: auto;
      justify-content: flex-end;
      align-items: flex-end;
    }

    h2.title {
      max-width: px-to-rem(721);
      width: 100%;
      text-align: center;

      @include breakpoint($bp-md) {
        text-align: left;
      }

      @include breakpoint(px-to-rem(1220)) {
        text-align: left;
      }

      > span {
        display: inline-block;

        @include breakpoint(px-to-rem(1200)) {
          display: block;
        }
      }
    }

    .blocks-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include breakpoint($bp-md) {
        flex-direction: row;
        flex-wrap: wrap;
      }

      @include breakpoint(px-to-rem(1430)) {
        flex-direction: row;
        flex-wrap: wrap;
      }

      .title {
        color: $c-white;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        font-size: px-to-rem(18);
        flex-basis: 100%;

        @include breakpoint($bp-xsm) {
          font-size: px-to-rem(30);
        }
      }

      a {
        color: $c-white;
        text-transform: capitalize;
        font-weight: $font-weight-bold;
        text-align: right;
        font-size: px-to-rem(14);
      }

      .left-container,
      .right-container {
        min-height: px-to-rem(475);

        @include breakpoint($bp-xsm) {
          width: px-to-rem(353);
        }
      }

      .left-container {
        background: url('../images/border-with-diagonal.png') no-repeat center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: px-to-rem(30);

        @include breakpoint($bp-md) {
          margin-bottom: 0;
          margin-right:  px-to-rem(15);
        }

        @include breakpoint(px-to-rem(1430)) {
          margin-bottom: 0;
          margin-right:  px-to-rem(15);
        }

        .top,
        .bottom {
          padding: px-to-rem(25);
          max-width:  px-to-rem(353);

          @include breakpoint($bp-xsm) {
            width: px-to-rem(353);
          }
        }

        .top {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          height: px-to-rem(230);
          align-items: center;
        }

        .bottom {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-bottom: px-to-rem(15);
          
          .title {
            color: $c-primary;
            margin-bottom: px-to-rem(5);
          }

          a {
            color: $c-celestial-blue;
          }
        }
      }

      .right-container {

        .top,
        .bottom {
          background-size: contain;
          padding: px-to-rem(25);
          max-width:  px-to-rem(353);
          min-height: px-to-rem(220);

          @include breakpoint($bp-xsm) {
            width: px-to-rem(353);
            height: px-to-rem(230);
          }
        }

        .top {
          background: url('../images/attention-center.png') no-repeat center;
          margin-bottom:  px-to-rem(15);
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
        }

        .bottom {
          background: url('../images/record-verification.png') no-repeat center;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-bottom: px-to-rem(15);
        }
      }
    }
  }

  .view-all-link {
    flex-basis: 100%;
    text-align: right;
    margin-top: px-to-rem(50);
    text-transform: capitalize;
  }
}