.content-title {
  text-transform: none;
  color: $c-primary;
  font-size: px-to-rem(24);
  font-weight: $font-weight-bold;

  @include breakpoint($bp-xsm) {
    font-size: px-to-rem(32);
  }
}

.content-title a {
  color: inherit;
}

.field--name-body {
  margin-bottom: px-to-rem(10);
}