.webform-submission-contact-form {
  
  .form-type-select {
    min-width: px-to-rem(220);
    margin-bottom: px-to-rem(30);

    .chosen-container,
    .chosen-container-single {
      min-width: px-to-rem(220);

      .chosen-single {
        height: auto;
        line-height: 2.8;
        font-weight: $font-weight-normal;

        > div > b {
          // sass-lint:disable-block no-important
          background-image: none !important;

          &:before {
            line-height: 0;
            font-size: px-to-rem(24);
          }
        }
      }
    }
  }

  .form-item label {
    color: $c-dove-gray;
    text-transform: none;
  }

  .form-actions {
    text-align: right;
    margin-top: px-to-rem(30);
  }
}