.node__submitted {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: px-to-rem(15);
}

.node__submitted > .icon-calendar {
  font-size: px-to-rem(24);
  margin-right: px-to-rem(10);
  color: $c-loblolly;
  line-height: 1;
}

.node__submitted >.date {
  color: $c-gunsmoke;
}

.node--type-article.node--view-mode-full .node__submitted >.date {

  @include breakpoint($bp-xsm) {
    margin-right: px-to-rem(50);
  }
}