.enquiry-block {
  @include icon(enquiry);
  background-color: $c-pine-glade;
  border-radius: px-to-rem(12);
  padding: px-to-rem(10) px-to-rem(20);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: px-to-rem(30) 0;
  max-width: px-to-rem(320);

  &:before {
    margin-right: px-to-rem(15);
    font-size: px-to-rem(45);
    color: $c-dell;
  }
}

.enquiry-block .field--name-body {
  margin: 0;
}

.enquiry-block p {
  margin: 0;
  color: $c-white;
  line-height: 1.3;
}

.enquiry-block a {
  color: $c-dell;
  font-weight: $font-weight-bold;
}
