// sass-lint:disable no-ids
#views-exposed-form-faq-list-faq-results-page,
.block-views-exposed-filter-blockfaq-list-faq-results-page > form,
.block-views-exposed-filter-blockinstitutions-search-api-list > form,
.block-views-exposed-filter-blocktramites-list > form,
.block-views-exposed-filter-blockonline-services-list > form,
.block-views-exposed-filter-blocksearch-page-1 > form,
.view-procedures-by-dependency > .view-filters > form {

  > .form--inline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    > .form-item.form-type-search-api-autocomplete {
      @include icon(magnifying-glass, after);
      position: relative;

      &:after {
        position: absolute;
        top: px-to-rem(16);
        right: px-to-rem(15);
      }
    }

    > .form-item.form-type-textfield > input,
    > .form-item.form-type-search-api-autocomplete > input {
      display: block;
      line-height: 2;
      padding-right: px-to-rem(30);

      &.form-autocomplete.ui-autocomplete-loading,
      &.form-autocomplete {
        background: none;
      }
    }

    > .form-actions > input {
      display: block;
      height: auto;
      line-height: 3;
    }

    .form-type-checkbox {

      input[type=checkbox]:checked+label:before {
        border-color: $c-primary;
      }
    }
  }
}

.views-exposed-form-faq-list-faq-results-page,
.block-views-exposed-filter-blockfaq-list-faq-results-page {

  .chosen-container-single .chosen-single {
    height: px-to-rem(46);
    line-height:  px-to-rem(46);
  }
}