.block-facets {

  h2 {
    display: none;
  }
}

.block-facets-summary {
  display: block;
  width: 100%;
}

.block-facets-summary .content-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-basis: 100%;
  margin-top: px-to-rem(40);

  > .contextual {
    flex-basis: 100%;
  }

  > label {
    line-height: 1.3;
    color: $c-mortar;
    text-transform: capitalize;
    padding: px-to-rem(10) 0;
    margin: 0 px-to-rem(10) 0 0;
    font-size: px-to-rem(18);
  }

  > ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;

    li {
      margin-bottom: px-to-rem(3);
      margin-right: px-to-rem(20);

      &:last-child {
        margin-right: 0;
      }

      &:before {
        content: none;
      }

      .selected-facet {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        border: px-to-rem(1) solid $c-white-lilac;
        border-radius: px-to-rem(10);
        background-color: $c-pale-cerulean;

        .title,
        .facet-item, 
        a {
          line-height: 1;
        }

        .title,
        .facet-item,
        a {
          display: flex;
          align-items: center;
          padding: px-to-rem(10) px-to-rem(20);
        }

        .title {
          font-weight: $font-weight-bold;
          color: $c-primary;
          padding-right: 0;
          margin-right: px-to-rem(10);
        }

        .facet-item {
          color: $c-white;
          font-weight: $font-weight-bold;
          padding-left: 0;
        }

        a {
          color: $c-primary;
          font-size: px-to-rem(20);
          margin-top: px-to-rem(-4);
        }
      }
    }
  }
}

.block-facet-blockcontent-type {
  position: relative;
  display: block;
  height: auto;
  width: 100%;
  z-index: 1;

  @include breakpoint($bp-sm) {
    float: right;
    width: auto;
  }

  .chosen-container-single .chosen-single {
    margin: 0;
  }
}

.block-category-block-institution,
.block-pt-online-services {
  margin-bottom: px-to-rem(40);
}