.block-fixed-block-contentfaq-title {

  .field--name-body {
    margin: 0;

    h2 {
      margin: 0;
    }
  }
}

.view-highlighted-questions {
  
  .view-header h3 {
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: px-to-rem(24);
  }
}

.view-highlighted-questions,
.view-display-id-faq_results_page {

  .view-header {
    margin-bottom: px-to-rem(50);
  }

  .view-content {

    .views-row {
      padding-bottom: px-to-rem(15);
      border-bottom: px-to-rem(1) solid $c-silver-sand;
    }
  }
}

.node--type-faq.node--view-mode-teaser,
.node--type-faq.node--view-mode-faq-search-result {
  
  h3 {
    font-size: px-to-rem(24);
    text-transform: none;
    margin: 0 0 px-to-rem(8) 0;
    line-height: 1;

    a {
      color: $c-breaker-bay;
    }
  }

  p {
    display: inline;
  }
}

.node--type-faq.node--view-mode-full {

  h1 {
    color: $c-primary;
    text-transform: none;
  }

  .field--name-field-categories {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: px-to-rem(30);

    .field__items {
      flex-grow: 1;
    }
    
  }
}

.block-views-exposed-filter-blocksearch-page-1,
.block-views-blockfaq-suggestions-block-1 {
  display: block;
  width: 100%;
}

.view-faq-suggestions {

  .view-header {
    margin-top: px-to-rem(30);
    padding: px-to-rem(20) px-to-rem(30);
    margin-bottom: px-to-rem(3);
    background-color: $c-black-squeeze;

    h3 {
      margin: 0;
      line-height: 1;
      font-weight: $font-weight-bold;
      font-size: px-to-rem(24);
    }
  }

  .view-content {
    padding: px-to-rem(20) px-to-rem(30);
    border: px-to-rem(1) solid $c-geyser;

    .views-field-title {
      font-size: px-to-rem(22);

      a {
        color: $c-horizon;
        text-transform: none;
      }
    }

    .slide__grid.grid {
      padding: 0;
    }

    li:before {
      content: none;
    }

    .slide__content {
      margin: 0;
    }

    .slick-dots {
      margin: 0;
      padding: 0;
      bottom: px-to-rem(-52);

      li {
        margin: 0;
        padding: 0;

        &.slick-active {

          button:before {
            color: $c-primary;
            opacity: 1;
          }
        }
      }
    }

    .slick__arrow {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      height: auto;
      transform: none;

      .slick-arrow {
        color: $c-link;
        font-size: px-to-rem(16);
        text-transform: capitalize;
        height: auto;
        transform: none;
        position: relative;
        width: auto;
        line-height: 1;

        &:before {
          content: none;
        }
      }
    }
  }
}