.view-faq-categories {

  .view-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: px-to-rem(60) 0;
  
    .views-row {
      flex-basis: px-to-rem(200);
      margin-right: px-to-rem(20);
      margin-bottom: px-to-rem(20);

      &:hover {
        box-shadow: 0 0 px-to-rem(11) px-to-rem(3) $c-geyser;
      }
    }
  }
}

.vocabulary-faq-categories .content {
  text-align: center;
  padding: px-to-rem(10);
  border: px-to-rem(2) solid $c-circon;

  .icon-files {
    font-size: px-to-rem(50);
  }

  a {
    color: $c-primary;
    font-weight: $font-weight-bold;
    line-height: 1;
  }

  .title {
    margin-bottom: px-to-rem(8);
  }

  .view-more-link,
  .field--name-description {
    font-size: px-to-rem(13);
  }
}