.block-pt-content-feedback {
  background-color: $c-alabaster;
}

.feedback-block {
  margin-top: px-to-rem(25);
  padding: px-to-rem(50);

  .inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: px-to-rem(700);
    margin: 0 auto;
  }

  h3.title {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: px-to-rem(30);
    line-height: 1;
    margin-bottom: px-to-rem(20);
    text-align: center;

    @include breakpoint($bp-xsm) {
      font-size: px-to-rem(36);
    }
  }

  .subtitle {
    margin-bottom: px-to-rem(30);
  }

  .subtitle,
  h4.title {
    text-transform: none;
    font-size: px-to-rem(20);
    line-height: 1;
    text-align: center;
    color: $c-chicago;
  }

  .feedback-scores-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    @include breakpoint($bp-sm) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .feedback-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ajax-progress.ajax-progress-throbber {
      // sass-lint:disable-block no-important
      display: none !important;
    }
  }

  .icon-not-useful,
  .icon-dont-care,
  .icon-useful,
  .icon-really-useful {
    font-size: px-to-rem(72);
    cursor: pointer;
  }

  .icon-not-useful {
    @include icon(bad);
    color: $c-crimson;
  }

  .icon-dont-care,
  .icon-useful {
    color: $c-concord;
  }

  .icon-dont-care {
    @include icon(normal);
  }

  .icon-useful {
    @include icon(good);
  }

  .icon-really-useful {
    @include icon(excellent);
    color: $c-chateau-green;
  }

  .feedback-message {

    p {
      color: $c-chicago;
    }
  }
}