.flip-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include breakpoint($bp-sm) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.flip-card {
  background-color: transparent;
  width: px-to-rem(260);
  height: px-to-rem(152);
  color: $c-white;
  perspective: px-to-rem(1000);
  margin-bottom: px-to-rem(10);

  @include breakpoint($bp-sm) {
    margin-right: px-to-rem(10);
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 px-to-rem(4) px-to-rem(8) 0 rgba(0,0,0,0.2);

  .color-cadet-blue {
    background-color: $c-cadet-blue;
  }

  .color-calico {
    background-color: $c-calico;
  }

  .color-verdigris {
    background-color: $c-verdigris;
  }

  .color-chatams-blue {
    background-color: $c-chatams-blue;
  }

  .color-spray {
    background-color: $c-spray;
  }

  .color-victoria {
    background-color: $c-victoria;
  }

  .color-sandy-brown {
    background-color: $c-sandy-brown;
  }

  .color-elm {
    background-color: $c-elm;
  }

  .color-rose-bud {
    background-color: $c-rose-bud;
  }

  .color-copper {
    background-color: $c-copper;
  }
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, 
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: px-to-rem(10);

  .number,
  .name,
  .description,
  .link {
    color: $c-white;
  }

  .name,
  .description {
    font-size: px-to-rem(12);
  }

  .name {
    text-transform: uppercase;
    line-height: 1.5;
    margin: 0;
  }
}

.flip-card-front {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  .info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 54%;

    .number {
      font-size: px-to-rem(26);
      margin: 0;
    }
  }
}

.flip-card-back {
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;  

  .name {
    font-weight: $font-weight-bold;
    font-size: px-to-rem(20);
    line-height: 1.2;
    margin-bottom: px-to-rem(5);
  }

  .link {
    color: $c-white;
    text-decoration: underline;
  }
}

.icon-container {
  width: px-to-rem(100);
  height: px-to-rem(100);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: px-to-rem(62);
  display: flex;

  &.document {
    @include icon(document);
  }

  &.hotel {
    @include icon(hotel);
  }

  &.tap {
    @include icon(tap);
  }

  &.online-services {
    @include icon(online-services);
  }

  &.municipio-provincia {
    @include icon(municipio-provincia);
  }
}