.node--type-article.node--view-mode-full .field--name-field-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @include breakpoint(px-to-rem(447)) {
    justify-content: flex-start;
  }
}

.node--type-article.node--view-mode-full .field--name-field-images > .field__item {
  margin: 0 px-to-rem(15) px-to-rem(15) 0;

  @include breakpoint(px-to-rem(447)) {

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include breakpoint(px-to-rem(654)) {

    &:nth-child(2n) {
      margin-right: px-to-rem(15);
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @include breakpoint(px-to-rem(861)) {

    &:nth-child(3n) {
      margin-right: px-to-rem(15);
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  @include breakpoint(px-to-rem(992)) {

    &:nth-child(4n) {
      margin-right: px-to-rem(15);
    }
  }

  @include breakpoint(px-to-rem(1154)) {

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  @include breakpoint(px-to-rem(1430)) {

    &:nth-child(4n) {
      margin-right: px-to-rem(15);
    }

    &:nth-child(5n) {
      margin-right: 0;
    }
  }

}
