.hero-container.hero-background {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  min-height: px-to-rem(264);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.38;
}

.hero-title {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: px-to-rem(25);
  z-index: 1;
}

.hero-title .field--name-field-title {
  color: $c-white;
  text-transform: uppercase;
  font-size: px-to-rem(32);
  font-weight: $font-weight-bold;
}
