.l-hero.home-hero {
  min-height: px-to-rem(500);
  max-height: px-to-rem(600);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 px-to-rem(32);

  @include breakpoint($bp-sm) {
    padding: 0 px-to-rem(32) 0 px-to-rem(100)
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $c-black;
    z-index: 1;
    opacity: 0.6;
  }

  .home-hero-container {
    z-index: 2;
    width: 100%;

    h4, 
    h3, 
    p {
      color: $c-white;
      margin: 0;
    }

    h4 {
      font-weight: $font-weight-bold;
      font-size: px-to-rem(32);
      text-transform: capitalize;
    }

    h3 {
      font-family: sans-serif;
      font-weight: 100;
      font-size: px-to-rem(36);
      margin-bottom: px-to-rem(12);
    }

    p {
      font-size: px-to-rem(18);
    }

    .search-accesibility-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;

      .views-element-container {
        flex-grow: 1;
      }

      .accessibility-block {
        padding: 0;
        margin: 0;
        width: auto;
      }
    }

    .form--inline {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: flex-start;
      margin-bottom: px-to-rem(5);

      label {
        display: none;
      }

      .form-item {
        @include icon(magnifying-glass, after);
        flex-basis: 100%;
        min-width: 200px;
        margin-top: 0;
        margin-bottom: 0;
        position: relative;

        &:after {
          position: absolute;
          top: px-to-rem(16);
          right: px-to-rem(15);
        }

        @include breakpoint($bp-sm) {
          flex-basis: 62%;
        }

        input {
          width: 100%;
          background-color: $c-loblolly;
          border: none;
          opacity: 0.8;
          height: px-to-rem(44);
          padding-right: px-to-rem(34);

          &.form-autocomplete.ui-autocomplete-loading,
          &.form-autocomplete {
            background: none;
            background-color: $c-loblolly;
          }
        }
      }

      .form-actions {
        margin: 0;

        input {
          font-size: px-to-rem(20);
          line-height: 1;
          height: auto;
          width: px-to-rem(130);
          padding: px-to-rem(10);
          text-transform: capitalize;
        }
      }
    }
  }
}

.l-hero.home-hero > .views-element-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;

  .view-home-hero {
    display: inherit;
    width: inherit;

    .view-content {
      width: inherit;
    }

    .views-row {
      display: none;
      height: 100%;
      width: inherit;

      * {
        height: inherit;
      }

      &:first-child {
        display: block;
      }

      .media--view-mode-home-hero-image-url {

        .background-image {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
      }
    }
  }
}