.home-section {
  margin: px-to-rem(50) 0;
  padding-top: px-to-rem(50);
  padding-bottom: px-to-rem(50);

  &.panamatramita-figures-container,
  &.latest-news-container {
    background-color: $c-hint-of-red;
  }

  &:last-child {
    margin-bottom: 0;
  }

  h2.title { 
    text-transform: uppercase;
    color: $c-primary;
    text-align: center;
  }

  .more-link a {
    font-weight: $font-weight-bold;
    font-size: px-to-rem(15);
  }
}