.block-fixed-block-contentprocedures-page-title,
.block-fixed-block-contentinstitutions-page-title,
.block-fixed-block-contentonline-services-page-title {

  .field--name-body {
    margin: 0;

    h1 {
      text-transform: none;
      color: $c-primary;
    }
  }
}

.view-highlighted-questions,
.view-faq-list.view-display-id-faq_results_page,
.view-institutions-search-api.view-display-id-list,
.view-tramites.view-display-id-list,
.view-online-services.view-display-id-list {

  .view-header {

    .views-total {
      font-weight: $font-weight-bold;
      font-size: px-to-rem(14);
      top: px-to-rem(145);
      position: absolute;

      @include breakpoint(px-to-rem(455)) {
        top: px-to-rem(115);
      }

      span {
        color: $c-primary;
        font-size: px-to-rem(16);
      }
    }
  }

  .view-content {
    margin-bottom: px-to-rem(100);
  }

  .views-row {
    margin-bottom: px-to-rem(20);
  }
}

.view-highlighted-questions,
.view-faq-list.view-display-id-faq_results_page {

  .view-header .views-total {
    top: 0;
    position: relative;
  }
}

.views-exposed-form-faq-list-faq-results-page,
.block-views-exposed-filter-blockfaq-list-faq-results-page,
.block-views-exposed-filter-blocktramites-list,
.block-views-exposed-filter-blockinstitutions-search-api-list, 
.block-facets,
.block-views-exposed-filter-blockonline-services-list {
  display: inline-block;
  margin-right: px-to-rem(20);
  margin-bottom: px-to-rem(40);
}

.block-facets {

  .chosen-container-single .chosen-single {
    height: px-to-rem(48);

    span {
      height: px-to-rem(48);
      line-height: 3;
    }
  }
}

// sass-lint:disable no-ids
#views-exposed-form-faq-list-faq-results-page,
.block-views-exposed-filter-blockfaq-list-faq-results-page,
.block-views-exposed-filter-blocktramites-list,
.block-views-exposed-filter-blockinstitutions-search-api-list,
.block-views-exposed-filter-blockonline-services-list,
.block-views-exposed-filter-blocksearch-page-1 {

  .form-item,
  .form-actions {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.path-instituciones,
.path-tramites,
.path-servicios-en-linea {

  .block-system-main-block {

    > label,
    > form.category-form,
    > form.category-online-service-form {
      display: inline-block;
    }
  }
}