.institutions-by-categories-container,
.online-services-by-categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include breakpoint(px-to-rem(608)) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: px-to-rem(250);
    height: px-to-rem(234);
    border: px-to-rem(2) solid $c-geyser;
    padding: px-to-rem(15);
    margin-bottom: px-to-rem(50);
    cursor: pointer;
    box-shadow: 0 0 px-to-rem(11) px-to-rem(3) $c-geyser;

    @include breakpoint(px-to-rem(608)) {
      margin-right: 5%;
      
      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @include breakpoint(px-to-rem(913)) {
      
      &:nth-child(2n) {
        margin-right: 5%;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @include breakpoint($bp-md) {
      
      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-child(3n) {
        margin-right: 5%;
      }
    }

    @include breakpoint(px-to-rem(1337)) {
      
      &:nth-child(2n) {
        margin-right: 5%;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    &:hover {
      background-color: $c-primary;

      .category-name,
      .category-description-container {
        color: $c-white;
      }
    }

    .category-counter {
      font-size: px-to-rem(28);
      line-height: 1;
      color: $c-norway;
      font-weight: $font-weight-bold;
      margin-bottom: px-to-rem(10);
    }

    .category-name {
      text-align: center;
      line-height: 1;
      margin-bottom: px-to-rem(10);
      font-size: px-to-rem(22);
    }

    .category-description-container {
      text-align: center;
      word-break: break-word;
      line-height: 1.3;
      margin-bottom: px-to-rem(10);
      height: px-to-rem(60);
    }

    .category-link {
      text-transform: capitalize;
    }
  }
}