.language-switcher-language-url {
  text-align: right;
  margin-bottom: px-to-rem(20);
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 0;

  ul.links {

    li {
      background-color: $c-primary;
      display: inline-block;
      line-height: 1;
      padding: px-to-rem(8);
      font-weight: $font-weight-bold;
      font-size: px-to-rem(14);

      a {
        color: $c-white;
      }

      &.is-active {
        background-color: $c-white;
        
        a {
          color: $c-primary;
        }
      }
    }
  }
}