.latest-news-container {

  h2.title {
    margin: 0 0 px-to-rem(5);
  }

  .view-header {
    color: $c-stack;
    text-align: center;
  }

  h3.content-title {

    @include breakpoint($bp-xsm) {
      font-size: px-to-rem(20);
    }
  }

  .icon-calendar {
    font-size: px-to-rem(18);
  }

  .date {
    font-size: px-to-rem(15);
    font-weight: $font-weight-normal;
  }

  .view-content {
    margin: px-to-rem(40) 0 0;

    .node__content {

      .field--name-body {
        font-size: px-to-rem(15);
      }

      a {
        display: none;
      }
    }
  }
}