header {
  background: $c-st-patrick-blue url('../images/header-bg.png') no-repeat 100% 0;
  background-size: cover;
  border-bottom: px-to-rem(2) solid $c-white;
  padding: 0  0 px-to-rem(10) 0;
}

.region-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include breakpoint(px-to-rem(946)) {
    display: block;
  }
}

.region-header > .block-system-branding-block {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 80%;
}

.responsive-menu-toggle-wrapper > a > .label {
  display: none;
}