.l-footer {
  background: $c-st-patrick-blue url('../images/footer-bg.jpg') no-repeat 100% 0;
  background-size: cover;
  padding: px-to-rem(60) 0;
}

.region-copyright {
  margin: px-to-rem(30) 0 0;
}

.region-copyright a {
  color: $c-white;
}

.language-switch {
  display: none;

  @include breakpoint($bp-sm) {
    display: block;
  }
}

.copyright {
  color: $c-geyser;
  text-align: center;

  @include breakpoint($bp-sm) {
    text-align: right;
  }
}

.copyright span {
  display: block;

  @include breakpoint($bp-sm) {
    display: inline;
  }
}