.dialog-off-canvas-main-canvas {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.l-main {
  background-color: $c-white;
  flex: 1 0 auto;
  padding-top: px-to-rem(70);
  padding-bottom: px-to-rem(50);
  position: relative;

  > .wrapper.container-fluid > .row {
    position: relative;
  }

  .path-frontpage & {
    padding: 0;
  }
}
