.l-navigation .search-icon {
  @include icon(magnifying-glass);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: px-to-rem(21) px-to-rem(16);
  background-color: rgba(0, 54, 104, 0.6);

  &:before {
    color: $c-white;
    font-weight: $font-weight-bold;
    font-size: px-to-rem(22);
  }
}

.menu-search-container {
  display: none;
  position: absolute;
  top: px-to-rem(64);
  background-color: rgba(51, 51, 51, 0.6);
  padding: 0 px-to-rem(15);

  .view-header,
  .view-content {
    display: none;
  }

  > .views-element-container {
    display: flex;
    flex-basis: 100%;
    justify-content: flex-end;
    align-items: center;
  }

  .form--inline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    label {
      display: none;
    }

    .form-actions {
      display: none;
    }
  }
}