.menu--links-of-interest {
  margin: px-to-rem(10) 0;
}

.menu--links-of-interest .menu-title {
  color: $c-primary;
  font-weight: $font-weight-bold;
}

.menu--links-of-interest ul {
  margin: 0;
  padding: 0;
  border-radius: px-to-rem(3);
  box-shadow: 0 0 px-to-rem(10) 0 #D9E0E5;
}

.menu--links-of-interest ul > li {
  padding: px-to-rem(15) px-to-rem(20);
  border-bottom: px-to-rem(1) solid $c-input-border;
  margin: 0;

  &:before {
    content: none;
  }

  &:last-child {
    border-bottom: none;
  }
}

.menu--links-of-interest ul > li > a {
  color: $c-text;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &.is-active {
    color: inherit;
  }
}

.menu--links-of-interest ul > li > a > .svg-inline--fa {
  color: $c-primary;
  font-size: px-to-rem(24);
  margin-right: px-to-rem(12);
}
