.most-consulted-institutions-container {

  .inner-container {

    @include breakpoint($bp-lg) {
      padding: px-to-rem(50) px-to-rem(50) 0;
    }
  }

  .view-content {
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;

    @include breakpoint($bp-sm) {
      flex-wrap: wrap;
      flex-direction: row;
    }

    .views-row {
      margin: 0 0 px-to-rem(50);

      @include breakpoint($bp-sm) {
        flex-basis: 45%;
      }
    }
  }
}

.node--type-institution.node--view-mode-most-consulted-institutions {

  .node__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    @include breakpoint($bp-lg) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: px-to-rem(200);
    width: px-to-rem(200);
    background: url('../images/rectangle-frame.png') no-repeat center;
    background-size: contain;
    margin-bottom: px-to-rem(25);

    @include breakpoint($bp-lg) {
      margin-right: px-to-rem(20);
      margin-bottom: 0;
    }

    .field--name-field-logo {
      text-align: center;
      
      img {
        width: 35%;
        max-height: px-to-rem(70);
      }
    }
  }

  .title-container {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;

    @include breakpoint($bp-lg) {
      flex-basis: 50%;
      text-align: left;
    }    

    h3 {
      font-weight: $font-weight-normal;
      font-size: px-to-rem(18);
    }

    a {
      color: $c-primary;
    }
  }
}