.l-navigation {
  background-color: rgba($c-nero, 0.4);
  width: 100%;
  z-index: $z-1;
  position: relative;
}

.l-navigation > .wrapper {
  display: none;

  @include breakpoint(px-to-rem(946)) {
    display: block;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }
}

.region.region-navigation > .block-superfish > .sf-main {
  text-align: right;
}

// Superfish
.sf-main a {
  color: $c-white;
  font-size: px-to-rem(14);

  @include breakpoint($bp-md) {
    font-size: px-to-rem(16);
  }
}

// Override

ul.sf-menu {
  text-align: right;

  li {

    > a {
      color: $c-white;
  
      .active-trail &,
      &.is-active {
        color: $c-deco;
      }
    }
  
    > ul {
      background-color: $c-white;
      text-align: left;
  
      > li {
  
        > a {
          color: $c-primary;
  
          .active-trail &,
          &.is-active {
            color: $c-primary;
            font-weight: $font-weight-bold;
          }
        }
  
        > ul {
          // sass-lint:disable-block no-important
          text-align: left;
          background-color: $c-catskill-white;
          position: relative !important;
          display: block !important;
          left: unset !important;
          right: unset !important;
          top: unset !important;
          bottom: unset !important;
          width: 100% !important;
          box-shadow: none !important;
  
          > li {
  
            > a {
              color: $c-stack;
      
              .active-trail &,
              &.is-active {
                color: $c-stack;
                font-weight: $font-weight-bold;
              }
            }
          }
        }
      }
    }
  }
}

ul.sf-menu li {
  display: inline-block;
  float: none;
}

ul.sf-menu a, 
ul.sf-menu span.nolink {
  padding: px-to-rem(16) px-to-rem(8);
  font-size: px-to-rem(14);

  @include breakpoint($bp-md) {
    padding: px-to-rem(24) px-to-rem(10);
  }

  @include breakpoint(px-to-rem(1028)) {
    font-size: px-to-rem(15);
  }

  @include breakpoint(px-to-rem(1078)) {
    font-size: px-to-rem(16);
  }
}

ul.sf-menu a.menuparent {
  @include icon(caret-down-solid, after);
}

ul.sf-menu a.menuparent::after {
  margin-left: px-to-rem(4);
  vertical-align: middle;
}

ul.sf-menu li:hover > ul,
ul.sf-menu li.sfHover > ul {
  top: px-to-rem(55);
}
