.mm-menu ul.menu.mm-listview > li.menu-item.mm-listitem {

  > a {
    color: $c-primary;
    background-color: inherit;

    &.is-active {
      font-weight: $font-weight-bold;
    }

    &.mm-btn_next:after {
      border-color: $c-primary;
    }
  }

  > .mm-panel {
    background-color: $c-catskill-white;
  }

  ul.menu.mm-listview > li.menu-item.mm-listitem {

    > a {
      color: $c-stack;
      background-color: inherit;

      &.is-active {
        font-weight: $font-weight-bold;
      }

      &.mm-btn_next:after {
        border-color: $c-stack;
      }
    }

    > .mm-panel {
      background-color: $c-white;
    }

    ul.menu.mm-listview > li.menu-item.mm-listitem {
     
      > a {
        color: $c-verdigris;
        background-color: inherit;

        &.is-active {
          font-weight: $font-weight-bold;
        }

        &.mm-btn_next:after {
          border-color: $c-verdigris;
        }
      }

    }
  }

}