.menu--footer,
.menu--footer-second {
  color: $c-white;

  @include breakpoint($bp-sm) {
    border-right: px-to-rem(1) solid $c-white;
    display: block;
  }

  ul.menu {
    text-align: center;

    @include breakpoint($bp-sm) {
      text-align: left;
    }
  }
}

.menu--footer a,
.menu--footer-second a {
  color: $c-white;
  font-size: px-to-rem(18);
  font-weight: $font-weight-bold;
}

.menu--footer .menu-item,
.menu--footer-second .menu-item {
  margin-bottom: px-to-rem(10);
}

.region-footer .block-social-media-links {
  color: $c-white;
  padding-left: px-to-rem(30);
  display: block;
  width: 100%;

  @include breakpoint($bp-sm) {
    width: auto;
  }

  .social-media-links--platforms {
    text-align: center;
    display: block;

    @include breakpoint($bp-sm) {
      text-align: left;
    }
  }
}

.region-footer .block-social-media-links h2,
.region-footer .block-social-media-links a {
  color: $c-white;
}

.region-footer .block-social-media-links h2 {
  font-size: px-to-rem(18);
  text-transform: uppercase;
  text-align: center;
}

.l-footer ul li a {
  color: $c-white;

  &.is-active {
    color: $c-white;
  }
}
