.view-notices {
  position: relative;
}

.notifications-container {
  @include icon(promotion);
  position: relative;
  display: block;
  background-color: $c-vis-vis;
  border-bottom-left-radius: px-to-rem(36);
  margin: 2rem 2rem 0;
  padding: px-to-rem(15);
  
  @include breakpoint($bp-sm) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    position: absolute;
    top: px-to-rem(-95);
    right: 2rem;
    padding: 0 0 0 px-to-rem(30);
  }

  &:before {
    display: none;

    @include breakpoint($bp-sm) {
      font-size: px-to-rem(48);
      display: inline-block;
      text-align: left;
    }
  }

  .view-content {
    
    @include breakpoint($bp-sm) {
      max-width: px-to-rem(500);
    }

    .slick-dotted.slick-slider {
      margin-bottom: px-to-rem(25);
    }

    .node--type-notice {
      padding: px-to-rem(15) px-to-rem(25) 0 0;

      .title {
        margin: 0;
        color: $c-biscay;
        font-weight: $font-weight-bold;
      }

      .field--name-field-notice {
        color: $c-biscay;
        font-size: px-to-rem(14);
        line-height: 1.3;
        word-break: break-word;
      }
    }

    .slide__grid.grid {
      padding-bottom: px-to-rem(5);
    }

    li:before {
      content: none;
    }

    .slide__content {
      margin: 0;
    }

    .slick-dots {
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;

        &.slick-active {
          color: $c-biscay;
          opacity: 1;
        }
      }
    }

    .slick__arrow {
      top: 60%;
      
      .slick-arrow {

        &:active {
          background: none;
        }

        &.slick-prev {
          @include icon(left-arrow);
        }

        &.slick-next {
          @include icon(right-arrow);
        }

        &.slick-prev:before,
        &.slick-next:before {
          color: $c-biscay;
          font-size: px-to-rem(18);
          font-weight: $font-weight-bold;
        }
      }
    }
  }
}