.view-online-services {

  .group-container {
    border-bottom: px-to-rem(1.5) solid $c-white-lilac;
    padding-bottom: px-to-rem(10);
    margin-bottom: px-to-rem(30);

    > .group-title {
      font-size: px-to-rem(24);
      margin-top: 0;
      line-height: 1;
      margin-bottom: px-to-rem(10);
      color: $c-fuscous-gray;
      font-weight: $font-weight-bold;
    }

    > .views-row {
      border-bottom: px-to-rem(1) solid $c-pattens-blue;
      padding-bottom: px-to-rem(13);
      margin-bottom: px-to-rem(13);

      &:last-child {
        margin-bottom: 0;
        border-bottom: none;
      }
    }
  }
}

.node--type-online-service.node--view-mode-search-result,
.node--view-mode-search-result-content-type {

  .online-service-title {
    font-size: px-to-rem(18);
  }

  .field--name-field-sector {
    font-size: px-to-rem(15);
  }
}