.view-other-services .view-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @include breakpoint(px-to-rem(569)) {
    justify-content: flex-start;
  }
}

.view-other-services .view-content .views-row {
  margin-bottom: px-to-rem(50);
  flex-basis: 100%;

  &:hover {
    box-shadow: 0 0 px-to-rem(11) px-to-rem(3) $c-geyser;
  }

  @include breakpoint(px-to-rem(569)) {
    flex-basis: auto;
    margin-right: px-to-rem(25);

    &:nth-child(2n) {
      margin-right: px-to-rem(0);
    }
  }

  @include breakpoint(px-to-rem(842)) {
    &:nth-child(2n) {
      margin-right: px-to-rem(25);
    }
    &:nth-child(3n) {
      margin-right: px-to-rem(0);
    }
  }

  @include breakpoint($bp-md) {
    &:nth-child(2n) {
      margin-right: px-to-rem(0);
    }
    &:nth-child(3n) {
      margin-right: px-to-rem(25);
    }
  }

  @include breakpoint(px-to-rem(1128)) {
    &:nth-child(2n) {
      margin-right: px-to-rem(25);
    }
    &:nth-child(3n) {
      margin-right: px-to-rem(0);
    }
  }

  @include breakpoint(px-to-rem(1492)) {
    &:nth-child(3n) {
      margin-right: px-to-rem(25);
    }
    &:nth-child(4n) {
      margin-right: px-to-rem(0);
    }
  }
}

.node--type-goverment-links.node--view-mode-card {
  width: px-to-rem(248);
  height: px-to-rem(234);
  border: px-to-rem(2) solid $c-circon;
  margin: 0 auto;

  .node__content {
    height: 100%;
    padding: px-to-rem(20) px-to-rem(30);
    display: flex;
    flex-direction: column;
  }

  .link-wrapper {
    display: block;
    flex-grow: 1;
  }

  .view-more-link {
    display: block;
    text-align: right;
    font-size: px-to-rem(14);
  }

  .title {
    font-weight: $font-weight-bold;
    font-size: px-to-rem(22);
    word-break: break-word;
    line-height: 1.1;
  }

  .field--name-field-link-icon {
    height: px-to-rem(68);
    margin-bottom: px-to-rem(12);
  }
}
