.pager .pager__items li:before{
  border: 0;
}

.pager__item {
  margin-right: px-to-rem(10);
}

.pager__item--last {
  margin-right: 0;
}

.pager__item a {
  color: $c-stack;
  font-weight: $font-weight-bold;
}

.pager__item.is-active a {
  color: $c-primary;
}

.pager__item--first a,
.pager__item--previous a,
.pager__item--next a,
.pager__item--last a {
  color: $c-primary;
}