.police-record-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .form-item {
    max-width: px-to-rem(300);

    input {
      width: 100%;
    }
  }

  .form-actions {
    flex-basis: 100%;

    input[type="reset"] {
      background-color: $c-ed;
      color: $c-storm-dust;
      border: none;
    }

    .button {
      text-transform: none;
      font-size: px-to-rem(16);
    }
  }

  label.form-required {
    font-size: px-to-rem(20);
    text-transform: none;
  }

  .police-record-logo-container {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 0;

    img {
      max-width: px-to-rem(100);
    }
  }
}

.police-record-result-container {
  margin: px-to-rem(80) 0 px-to-rem(50);
  position: relative;
  display: block;
  width: 100%;

  .title {
    color: $c-storm-dust;
  }

  > .info-container {
    border: px-to-rem(2) solid $c-mischka;
    padding: px-to-rem(40);
  }

  .info-item {
    margin-bottom: px-to-rem(20);
    
    .label {
      display: block;
      text-transform: none;
      line-height: 1;
      margin-bottom: px-to-rem(10);
    }

    .value {
      display: block;
      border: px-to-rem(2) solid $c-mischka;
      max-width: px-to-rem(500);
      line-height: 1;
      padding: px-to-rem(12);
    }
  }
}

.police-record-notification-container {
  background-color: $c-ed;
  padding: px-to-rem(30) px-to-rem(20);

  p {
    color: $c-storm-dust;
    line-height: 1.5;
  }

  .bold {
    font-weight: $font-weight-bold;
  }
}