// sass-lint:disable-block no-important
@media print {

  .mm-page.mm-slideout {
    padding: 0 !important;
  }

  // sass-lint:disable no-ids
  #toolbar-administration,
  header,
  nav,
  .l-hero,
  footer,
  .l-post_content,
  .l-sidebar_first {
    display: none !important;
  }

  .l-content {
    width: 100% !important;
    flex-basis: 100% !important;
    flex-grow: 1 !important;
    max-width: none !important;
  }

  .node--type-institution.node--view-mode-full,
  .node--type-tramite.node--view-mode-full {

    .body-container  {

      .short-body {
        max-height: none !important;

        .fadeout {
          display: none !important;
        }
      }

      .view-more-link,
      .view-less-link {
        display: none !important;
      }
    }
  }

  .node--type-dependency .field {
    display: block !important;
  }

  .paragraph--type--requirement-group .field__items,
  .additional-information-container .field__items,
  .observation-container .field__item,
  .legal-base-container .field__item,
  .paragraph--type--contact-information .field__items,
  .quicktabs-tabpage {
    display: block !important;
  }

 }