.view-procedure-dependencies {

  .view-filters {
    margin-bottom: px-to-rem(30);

    .views-exposed-form {

      .form-item {
        float: none;
        display: inline-block;
        margin: 0;
      }

      label {
        text-transform: none;
        color: $c-text;
      }

      .form-type-textfield,
      .form-type-search-api-autocomplete {
        @include icon(magnifying-glass, after);
        position: relative;

        &:after {
          position: absolute;
          top: px-to-rem(16);
          right: px-to-rem(15);
        }

        input.form-text {
          display: block;
          line-height: 2;
          padding-right: px-to-rem(30);

          &.form-autocomplete.ui-autocomplete-loading,
          &.form-autocomplete {
            background: none;
          }
        }
      }

      .form-type-select {
        min-width: px-to-rem(150);

        .chosen-container,
        .chosen-container-single {
          min-width: px-to-rem(150);

          .chosen-single {
            height: auto;
            line-height: 2.8;
            background: none;
            color: $c-primary;
            font-weight: $font-weight-normal;

            > div > b {
              // sass-lint:disable-block no-important
              background-image: none !important;

              &:before {
                line-height: 0;
                color: $c-primary;
                font-size: px-to-rem(24);
              }
            }
          }
        }
      }
    }
  }

  .views-row {
    margin-bottom: px-to-rem(5);
  }

  .node--view-mode-address-business-hours-telephones {
    
    > .node__content > .field__label {
      @include collapsable-label;
    }

    .field--name-field-contact-information {
      display: none;
      padding-top: px-to-rem(30);
    }
  }
  
  .paragraph--view-mode--address-business-hours-telephones {

    .section-title {
      display: none;
    }
  }
}