.field--name-field-procedure-applies,
.field--name-field-generated-document,
.field--name-field-procedure-costs,
.field--name-field-duration {

  > .field__label {
    @include icon(plus, after);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: $c-primary;
    padding: px-to-rem(15) px-to-rem(20);
    background-color: $c-catskill-white;
    margin-bottom: px-to-rem(5);
    font-weight: $font-weight-bold;

    &:after {
      color: $c-primary;
      font-size: px-to-rem(24);
    }

    &.open {
      @include icon(minus, after);
    }
  }

  .field__items,
  .field-item-container {
    display: none;
    padding: px-to-rem(15) px-to-rem(20);

    > .field__item {
      @include icon(tick-inside-circle);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      line-height: 1;
      margin-bottom: px-to-rem(15);

      &:before {
        color: $c-primary;
        margin-right: px-to-rem(15);
        font-size: px-to-rem(18);
      }
    }
  }
}

.field--name-field-procedure-costs {

  > .field__items > .field__item {
    @include icon(coin);
  }

  .paragraph--type--procedure-cost.paragraph--view-mode--procedure > div {
    display: inline-block;

    &.field--name-field-description {
      font-weight: $font-weight-bold;
      
      &:after {
        content: ":";
      }
    }
  }
}

.field--name-field-duration {

  > .field__items > .field__item {
    @include icon(24-hours);
  }

  .paragraph--type--procedure-duration.paragraph--view-mode--procedure > div {
    display: inline-block;

    &.field--name-field-description {
      font-weight: $font-weight-bold;
      
      &:after {
        content: ":";
      }
    }
  }
}