.top_content {
  margin-bottom: px-to-rem(45);
}

.region-top-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  .block-fixed-block-contentprocedures-page-title,
  .block-fixed-block-contentinstitutions-page-title,
  .block-fixed-block-contentonline-services-page-title {
    flex-basis: 100%;
  }

  // sass-lint:disable no-ids
  #block-formularioexpuestotramiteslist {

    fieldset {
      display: none;
    }
  }

  // sass-lint:disable no-ids
  #block-formularioexpuestotramiteslist-2 {

    .form-type-search-api-autocomplete,
    .form-actions {
      display: none;
    }

    .form-type-search-api-autocomplete {
      @include icon(magnifying-glass, after);
      position: relative;

      &:after {
        position: absolute;
        top: px-to-rem(16);
        right: px-to-rem(15);
      }
    }

    fieldset {

      label.option {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        font-weight: $font-weight-bold;
        margin: 0;

        &:before {
          order: 1;
          margin-left: px-to-rem(5);
        }
      }
    }
  }
}