.block-quicktabs-blockrelated-procedures-dependencies,
.block-quicktabs-blockrelated-proc-depend-eng {

  .title-container {
    padding: px-to-rem(30);
    border-radius: px-to-rem(8);
    box-shadow: 0 0 px-to-rem(8) px-to-rem(8) $c-lily-white;
    margin-bottom: px-to-rem(40);
  }

  > h2 {
    margin: 0 0 px-to-rem(5);
    color: $c-primary;
  }

  .subtext {

    &:after {
      content: "";
      display: block;
      width: px-to-rem(80);
      border-bottom: px-to-rem(3) solid $c-primary;
      margin-top: px-to-rem(8);
    }
  }

  .quicktabs-wrapper {

    .quicktabs-tabs {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      border-bottom: px-to-rem(2) solid $c-circon;

      li {
        background-color: $c-catskill-white;
        padding: 0;
        margin: 0;

        &:before {
          content: none;
        }

        &.active {
          background-color: $c-primary;

          a {
            color: $c-white;
          }
        }

        a {
          color: $c-primary;
          text-transform: uppercase;
          font-weight: $font-weight-bold;
          padding: px-to-rem(13);
          display: inline-block;
        }
      }
    }

    .quicktabs-main {

      .view-filters {
        margin-bottom: px-to-rem(30);

        .views-exposed-form {

          .form--inline {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
          }

          .form-item {
            float: none;
            display: inline-block;
          }

          .form-type-textfield,
          .form-type-search-api-autocomplete {
            @include icon(magnifying-glass, after);
            position: relative;

            &:after {
              position: absolute;
              top: px-to-rem(16);
              right: px-to-rem(15);
            }

            input.form-text {
              display: block;
              line-height: 2;
              padding-right: px-to-rem(30);

              &.form-autocomplete.ui-autocomplete-loading,
              &.form-autocomplete {
                background: none;
              }
            }
          }

          .form-type-select {
            min-width: px-to-rem(150);

            .chosen-container,
            .chosen-container-single {
              min-width: px-to-rem(150);

              .chosen-single {
                height: auto;
                line-height: 2.8;
                background: none;
                color: $c-primary;
                font-weight: $font-weight-normal;

                > div > b {
                  // sass-lint:disable-block no-important
                  background-image: none !important;

                  &:before {
                    line-height: 0;
                    color: $c-primary;
                    font-size: px-to-rem(24);
                  }
                }
              }
            }
          }
  
          .form-actions {
            display: inline-block;
  
            .button {
              display: block;
              height: auto;
              line-height: 3;
            }
          }
        }
      }

      .node--type-dependency,
      .node--type-tramite {

        h2 {
          @include icon(logout);
          font-size: px-to-rem(18);
          font-weight: $font-weight-normal;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          &:before {
            color: $c-primary;
            font-size: px-to-rem(22);
            margin-right: px-to-rem(15);
          }

          a {
            color: $c-primary;

            &:hover {
              color: $c-dove-gray;
            }
          }
        }
      }
    }
  }
}