.path-frontpage,
.menu-search-container {

  .view-search {

    .view-empty,
    .view-header,
    .view-content,
    .pager {
      display: none;
    }
  }
}

.path-search {

  .view-search {

    .view-header {
      margin-bottom: px-to-rem(40);

      .views-total {
        color: $c-submarine;
        font-size: px-to-rem(24);
        font-weight: $font-weight-bold;

        .total {
          color: $c-primary;
        }
      }
    }

    .view-content {
      margin-bottom: px-to-rem(40);
    }
  }
}

.node--view-mode-search-result-content-type {

  .content-type-label {
    display: inline-block;
    border: px-to-rem(1) solid $c-white-lilac;
    border-radius: px-to-rem(8);
    padding: px-to-rem(5) px-to-rem(12);
    line-height: 1;
    font-weight: $font-weight-bold;
    margin: px-to-rem(5) 0 px-to-rem(10);

    &.dependency {
      background-color: $c-beige;
      color: $c-saratoga;
    }

    &.institution {
      background-color: $c-aqua-squeeze;
      color: $c-primary;
    }

    &.tramite {
      background-color: $c-concrete;
      color: $c-rouge;
    }

    &.online_service {
      background-color: $c-cararra;
      color: $c-shingle-fawn;
    }
  }
}