.sitemap {

  .sitemap-box {
    padding-left: px-to-rem(36);
    border-left: px-to-rem(4) solid $c-bermuda-gray;
    margin-bottom: px-to-rem(40);

    h2 {
      text-transform: capitalize;
      color: $c-black;
      line-height: 1;
    }

    .content {
      padding-bottom: px-to-rem(30);
      border-bottom: px-to-rem(1) solid $c-pumice;

      .sitemap-menu {
        list-style: none;
        padding: 0;
        margin: 0;

        > li {
          line-height: 1;
          margin-bottom: px-to-rem(5);

          &:before {
            content: none;
          }
        }
      }
    }
  }
}