// Horizontal tabs

ul.tabs {
  @extend %tabs--list;
  @extend %tabs--list__horizontal;
}

.l-main .tabs li {
  @extend %tabs--item;
}

.l-main .tabs .is-active {
  @extend %tabs--item__active;
}

// Vertical tabs
.vertical-tabs {
  background-color: $c-tab__active;
  border-color: $c-tab__active;
}

.vertical-tabs__menu {
  @extend %tabs--list;
  @extend %tabs--list__vertical;
}

.vertical-tabs .vertical-tabs__menu-item {
  @extend %tabs--item;

  // Border color for vertical
  border-color: transparent;
  // border-bottom-color: darken($c-primary, 8);
  // border-top: 1px solid $c-lochmara;
}

.vertical-tabs .vertical-tabs__menu-item.is-selected {
  @extend %tabs--item__active;
  border-color: $c-tab__active;
}

// Vertical tabs content
details > .details-wrapper {
  padding: px-to-rem(20) px-to-rem(30);
}
