.views-exposed-form {

  .form--inline > .form-item.form-type-search-api-autocomplete,
  .form--inline > .form-item.form-type-textfield {
    @include icon(magnifying-glass, after);
    position: relative;

    &:after {
      position: absolute;
      top: px-to-rem(16);
      right: px-to-rem(15);
    }

    label {
      display: none;
    }

    input.form-text {
      display: block;
      line-height: 2;
      padding-right: px-to-rem(30);
      width: 100%;

      &.form-autocomplete.ui-autocomplete-loading,
      &.form-autocomplete {
        background: none;
        background-color: $c-white;
      }
    }
  }
}