<div class="media icon-text">
    <div class="media-left icon-circle">
        <i class="fa fa-{{icon}}"></i>
    </div>
    <div class="media-content icon-content">
        <div class="icon-title">
            <h3>{{ icon_title }}</h3>
        </div>
        <div class="icon-text">
            <p> {{ icon_content }} </p>
        </div>
    </div>
</div>